  http {
      max_pending_requests => 20000
      host => "0.0.0.0"
      port => "{{ http_port }}"
      response_headers => {
      "Access-Control-Allow-Origin" => "*"
      "Access-Control-Allow-Headers" => "Origin, X-Requested-With, Content-Type, Accept"
    }
  }
