<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      VMWare Syslog
    </h4>
  </div>
  <div class="card-body">
    <ol class="setup_list">
      <app-step-list [steps]="steps">
        <ng-template stepTemplateRef let-step>
          <app-step>
            <span stepNumber>{{step.id}}</span>
            {{step.name}}
            <ng-container [ngTemplateOutlet]="getContentStep(step.content)" ></ng-container>
          </app-step>
        </ng-template>
      </app-step-list>
    </ol>
  </div>
</div>

<ng-template #stepContent6>
  <div  class="table-responsive pl-3 pr-3">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th class="w-25">Parameter</th>
        <th class="w-25">ESX version</th>
        <th class="w-50">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Syslog.Local.DatastorePath</td>
        <td>ESX or ESXi 3.5.x or 4.x</td>
        <td>Type the directory path for the local syslog messages on your ESXi server.
          The default directory path is [] /scratch/log/messages.
        </td>
      </tr>
      <tr>
        <td>Syslog.Remote.Hostname</td>
        <td>ESX or ESXi 3.5.x or 4.x</td>
        <td>Type the IP address of the UTMStack agent.
        </td>
      </tr>
      <tr>
        <td>Syslog.Remote.Port</td>
        <td>ESX or ESXi 3.5.x or 4.x</td>
        <td>Type the port number the ESXi server uses to forward syslog data.
          Use the following ports: 7002 UDP, 7002 TCP, 7052 TCP (TLS)
        </td>
      </tr>
      <tr>
        <td>Syslog.global.logHost</td>
        <td>ESXi v5.x or ESXi v6.x</td>
        <td>
          Type the URL and port number that the ESXi server uses to forward syslog data.
          Examples: udp://&lt;UTMStack Agent IP address&gt;:7002
          tcp://&lt;UTMStack Agent IP address&gt;:7002
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
