<div class="w-100 h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0 text-primary">
            IBM AS400 Collector
        </h4>
    </div>

    <div class="card-body">
        <div class="alert alert-warning alert-styled-right mb-3">
            The UTMStack AS400 Collector communicate over ports 9000 and 50051. Please make sure these ports are open.
        </div>
        <ol class="setup_list">
            <app-utm-list [items]="steps">
                <ng-template stepTemplateRef let-step>
                    <li>
                        <app-step>
                            <span stepNumber>{{step.id}}</span>
                            <div [innerHtml]="step.name"></div>
                            <ng-container *ngIf="step.content">

                                <ng-template [ngIf]="step.content.id === 'stepContent1'">
                                    <app-install-log-collector [platforms]="platforms" [actions]="actions" [vars]="vars">
                                    </app-install-log-collector>
                                </ng-template>

                                <ng-template [ngIf]="step.content.id === 'stepContent2'">
                                    <app-int-generic-group-config [moduleId]="integrationId"
                                                                  [groupType]="groupType"
                                                                  (configValidChange)="configValidChange($event)"
                                                                  [disablePreAction] = disablePreAction
                                                                  [serverId]="serverId"></app-int-generic-group-config>
                                </ng-template>

                                <ng-template [ngIf]="step.content.id === 'stepContent3'">
                                    <div  class="mt-3">
                                        <app-app-module-activate-button [module]="module.AS_400" [type]="'integration'"
                                                                        [disabled]="configValidity"
                                                                        [serverId]="serverId"
                                                                        [performPreAction]= performPreAction
                                                                        (disableModuleClicked)="onDisable()">
                                        </app-app-module-activate-button>
                                    </div>
                                </ng-template>

                            </ng-container>
                        </app-step>
                    </li>
                </ng-template>
            </app-utm-list>
        </ol>
    </div>
</div>


