<app-utm-modal-header [name]="'Delete standard section'" class="w-100" type="delete"></app-utm-modal-header>
<div class="container-fluid p-3">
  <div class="alert alert-warning alert-styled-right mt-2 alert-dismissible">
    <span class="font-weight-semibold">Warning!</span>
    <span> If you deleting this section you will delete all reports associated</span>
  </div>
  <h6>
    Are you sure that you want to delete standard section: <strong>{{standardSection.standardSectionName}}</strong>.?
  </h6>
  <div class="button-container d-flex justify-content-end mt-3">
    <button (click)="activeModal.close()" class="btn utm-button utm-button-grey mr-3">
      <i class="icon-cancel-circle2"></i>&nbsp;
      Cancel
    </button>
    <button (click)="deleteStandard()"
            class="btn utm-button utm-button-danger">
      <i class="icon-database-remove"></i>&nbsp;
      Delete
    </button>
  </div>
</div>
