<div class="container-fluid">
  <!-- Title and action buttons -->
  <div class="d-flex justify-content-between align-items-center my-2 row no-gutters box-sizing">
    <div class="col-md-6">
      <h5 class="card-title mb-0 text-uppercase label-header">
        Reports Templates {{ standard ? ': ' + standard.standardName : '' }}
      </h5>
    </div>
    <div class="col-md-6">
      <div *appHasAnyAuthority="admin" class="d-flex justify-content-end">
        <button (click)="manageStandards()" class="btn utm-button utm-button-primary">
          <i class="icon-cog3 mr-1"></i> Change framework
        </button>
        <a (click)="exportToPdf()" class="btn utm-button utm-button-primary ml-2">
          <i [ngClass]="pdfExport ? 'icon-download10' : 'icon-file-pdf'" class="mr-1"></i>
          {{ pdfExport ? 'Generating...' : 'Save to PDF' }}
        </a>
      </div>
    </div>
  </div>

  <!-- Main content area -->
  <div [ngStyle]="{'min-height': getMenuHeight(), 'height': getMenuHeight()}" class="row m-0 content-menu">
    <!-- Left column -->
    <div class="col-auto px-0 sidebar-section h-100">
      <div class="card m-0 h-100">
        <!-- Section navigation -->
        <div class="card-header header-elements-sm-inline p-0 bg-white card-header-title">
          <div class="d-flex justify-content-between w-100">
            <div class="section-icon d-flex flex-column align-items-center cursor-pointer pt-2"
                 [ngClass]="{'active-section': action === 'compliance'}"
                 (click)="selectAction('compliance')">
              <img src="assets/icons/compliance/regulatory-compliance.png" alt="compliance">
              <span class="section-label">Compliance</span>
            </div>

            <div class="section-icon d-flex flex-column align-items-center cursor-pointer pt-2"
                 [ngClass]="{'active-section': action === 'reports'}"
                 (click)="selectAction('reports')">
              <img src="assets/icons/compliance/analysis.png" alt="reports">
              <span class="section-label">Reports</span>
            </div>
          </div>
        </div>

        <!-- List of sections -->
        <div class="card-body p-0 mb-4 overflow-auto">
          <div *ngFor="let section of sections$ | async as sections; let index = index; trackBy: trackFn"
               [ngClass]="{'mt-3': index === 0}"
               class="d-flex flex-column mb-1 mx-2">
            <app-utm-cp-section [section]="section"
                                [action]="action"
                                [loadFirst]="index === activeIndexSection"
                                [index]="index"
                                (isActive)="onChangeSectionActive($event, section, sections)"
                                [expandable]="action==='reports'">
            </app-utm-cp-section>
          </div>
        </div>
      </div>
    </div>

    <!-- Right column -->
    <div class="col overflow-auto h-100">
      <div class="h-100 card m-0">
        <!-- Conditional rendering based on selected action -->
        <app-compliance-reports-view [section]="activeSection" (pageChange)="onPageChange($event)" *ngIf="action === 'compliance' && activeSection"></app-compliance-reports-view>
        <app-compliance-result-view *ngIf="action === 'reports'" [showExport]="false" [template]="'compliance'"></app-compliance-result-view>
      </div>
    </div>
  </div>
</div>
