<div class="timeline-container">
  <!-- Main ECharts timeline -->
  <div echarts
       [options]="chartOption"
       (chartInit)="onChartInit($event)"
       class="timeline-chart"
       style="height: 400px; width: 100%; margin-bottom: 10px;"
       (chartClick)="onChartClick($event)">
  </div>

  <!-- Pagination controls -->
  <div class="timeline-pagination text-center" style="margin-top: 10px;">
    <button class="font-weight-semibold"
            (click)="prevPage()"
            [disabled]="page === 1">
      Back
    </button>

    <span class="px-2">
      Page {{ page }} of {{ total < pageSize ? 1 : Math.ceil(total / pageSize) }}
    </span>

    <button class="font-weight-semibold"
            (click)="nextPage()"
            [disabled]="page * pageSize >= total">
      Next
    </button>
  </div>

</div>
