<div class="card p-0 m-0 ">
  <div class="card-header header-elements-sm-inline bg-white card-header-title p-2 pb-1 w-100">
        <span class="font-weight-light span-small-icon">
          {{fieldFilter.label ? fieldFilter.label : fieldFilter.field}}
        </span>
    <app-generic-filer-sort (sortChange)="onSortValuesChange($event)"></app-generic-filer-sort>
  </div>
  <div *ngIf="loading" class="category-list w-100 p-5">
    <app-utm-spinner [height]="'5px'" [loading]="loading"
                     [width]="'5px'"></app-utm-spinner>
  </div>
  <div *ngIf="fieldValues$ | async as fieldValues" class="w-100">
    <ng-container *ngIf="fieldValues.length > 0; else empty">
      <div (scrolled)="onScroll()"
         [fromRoot]="true"
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="40"
         [scrollWindow]="false"
         class="filter-value-field-container"
         infiniteScroll>
          <div *ngFor="let value of fieldValues; let i=index;"
               class="d-flex justify-content-start align-items-center p-2 ">
            <input (change)="selectValue(value[0])"
                   [attr.id]="'g-check-box-'+fieldFilter.field+'-'+i"
                   [checked]="selected.length > 0 && selected.includes(value[0])"
                   [name]="'g-check-box-'+fieldFilter.field+'-'+i"
                   [value]="value[0]"
                   class="form-check-input magic-checkbox"
                   style="font-size: smaller"
                   type="checkbox">
            <label [for]="'g-check-box-'+fieldFilter.field+'-'+i" [ngbTooltip]="value[0]"
                   [openDelay]="1000"
                   class="mb-0 text-filter"
                   placement="bottom"
                   tooltipClass="utm-tooltip-bottom">
              {{getValue(value[0])}}
            </label>
          </div>
          <div *ngIf="loadingMore"
               class="d-flex justify-content-center align-items-center p-3 loading">
            <app-utm-spinner [height]="'35px'" [loading]="true"
                             [width]="'35px'" label="Loading more"></app-utm-spinner>
          </div>
      </div>
    </ng-container>
    <ng-template #empty
                 class="d-flex justify-content-center align-items-center mt-3 mb-3 w-100">
      <app-no-data-found [padding]="'p-2'" [size]="'sm'"></app-no-data-found>
    </ng-template>
  </div>
  <app-utm-search-input (searchFor)="searchInValues($event)"
                        [searching]="searching"
                        class="w-100"
                        placeholder="Search in values"></app-utm-search-input>
</div>

