@import "~src/assets/styles/theme";

.add-tree-container {
  width: 100%;
  height: 100%;
  min-width: 200px;

  .ad-container {
    height: 100%;
    overflow-y: auto;
    max-height: 90vh;

    ul {
      min-width: 250px;

      li {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1px;
          background: #f1f1f1;
          left: 7px
        }

        &:after {
          content: '';
          position: absolute;
          top: 13px;
          bottom: 0;
          width: 16px;
          height: 1px;
          background: #f1f1f1;
          left: 7px;
        }

        .node-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: relative;
          cursor: pointer;

          .node-leaft-name {
            position: relative;
            margin-left: 3px;

            &:hover {
              &:after {
                content: '';
                height: 1px;
                width: calc(100% + 15px);
                background-color: $blue-scroll;
                position: absolute;
                bottom: 0;
                left: -13px;
              }
            }
          }

          .node-leaft-name-selected {
            &:after {
              content: '';
              height: 1px;
              width: calc(100% + 15px);
              background-color: $blue-scroll;
              position: absolute;
              bottom: 0;
              left: -13px;
            }
          }
        }
      }

      &:nth-child(1) {
        padding-left: 0 !important;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}
