<div [hidden]="shoPreview && previewFiles.length > 0" (click)="fileInput.click()" (onFileDropped)="uploadFile($event)"
     appUtmFileDragDrop class="uploadfilecontainer">
  <i class="icon-upload10"></i>
  <h6 class="font-weight-light text-blue-800">Drag file or click here to select {{msg}}</h6>
  <input #fileInput (change)="uploadFile($event.target['files'])" [accept]="acceptTypes" [multiple]="true"
         hidden
         type="file">
</div>

<div class="dropzone-items wm-200px">
  <div style="background: #f8f8f8" *ngFor="let file of files; let i = index"
       class="p-2 border rounded mb-2 d-flex flex-column">

    <div class="d-flex align-items-center justify-content-between">
      <div class="dropzone-filename" [ngClass]="{'text-success': !file.error, 'text-danger': file.error}">
        <span *ngIf="file.error" (click)="showError(file)" class="cursor-pointer opacity-75">
          <i [ngClass]="{'icon-arrow-down32' : !file.showError, 'icon-arrow-up32' : file.showError}" class="font-size-sm"></i>
        </span>
        <span [ngClass]="{ 'ml-1' : file.error, 'ml-2': !file.error }">
          <strong>{{ file.name + ' ' }}</strong>
        <small>({{ file.size | number: '1.0-2' }} KB)</small>
        </span>
      </div>

      <div class="d-flex">
        <div (click)="deleteAttachment(i)" class="cursor-pointer opacity-75 ml-2">
          <i class="icon-cross2 font-size-sm"></i>
        </div>
      </div>
    </div>


    <div *ngIf="file.showError" class="alert alert-danger mt-2 py-2 pl-3 w-100">
      <strong>Error:</strong> {{ file.error }}
    </div>

  </div>
</div>


