<app-utm-modal-header name="Delete user" type="delete"></app-utm-modal-header>
<div class="container-fluid p-3">
  <form (ngSubmit)="confirmDelete(user.login)" name="deleteForm">
    <h6>Are you sure you want to delete this User?</h6>

    <div class="button-container d-flex justify-content-end mt-4">
      <button (click)="activeModal.close()" class="btn utm-button utm-button-grey mr-3">
        <i class="icon-cancel-circle2"></i>&nbsp;
        Cancel
      </button>
      <button class="btn utm-button utm-button-danger"
              type="submit">
        <i class="icon-database-remove"></i>&nbsp;
        Delete
      </button>
    </div>
  </form>
</div>
