<div class="container-fluid pr-3 pl-3 pt-2">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="card-title mb-0 text-uppercase label-header">Schedules</h5>
    <div class="header-elements">
      <button (click)="newCompliance()" class="btn utm-button utm-button-primary">
        <i class="icon-hour-glass mr-2"></i> New schedule
      </button>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-lg-12 pr-0 pl-0">
      <div class="card h-100">
        <div class="d-flex p-2 m-1 justify-content-between align-items-center">
          <app-utm-search-input (searchFor)="onSearch($event)"
                                [searching]="searching"
                                placeholder="Search schedule">
          </app-utm-search-input>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th (sort)="onSort($event)"
                  [sortable]="'name'"
                  appColumnSortable class="font-weight-semibold text-uppercase  cursor-pointer"
                  scope="col">
                Name&nbsp;
              </th>
              <th class="font-weight-semibold text-uppercase  cursor-pointer">
                Schedule&nbsp;
              </th>
              <th class="font-weight-semibold text-uppercase  cursor-pointer">
                Filters&nbsp;
              </th>
              <th class="font-weight-semibold text-uppercase" style="width:10%">
                Action&nbsp;
              </th>
            </tr>
            </thead>
            <tbody *ngIf="schedules$ | async as scheduleResponse">
            <tr *ngFor="let schedule of scheduleResponse">
              <td class="">
                <span (click)="viewSchedule(schedule)"
                      class="text-blue-800 cursor-pointer">
                   {{ schedule.compliance.associatedDashboard.name}}
                </span>
              </td>
              <td class="" style="white-space: pre-line">
                <span>
                   {{ getCronExpression(schedule.scheduleString) }}
                </span>
              </td>
              <td>
                <app-active-filters *ngIf="schedule.filterDef.length > 0" [showHeader]="false" [dataType]="EventDataTypeEnum.EVENT" [filters]="getAllFilters(schedule.filterDef)"></app-active-filters>
              </td>
              <td class="td-action">
                <div class="d-flex justify-content-end align-items-center medium-icon">
                  <i (click)="editSchedule(schedule)"
                     class="icon-pencil3 cursor-pointer mr-2"
                     ngbTooltip="Edit schedule" tooltipClass="utm-tooltip-top"></i>

                  <i (click)="deleteSchedule(schedule)" class="icon-cross2 cursor-pointer"
                     ngbTooltip="Delete schedule"
                     placement="left"
                     tooltipClass="utm-tooltip"></i>
                </div>
              </td>
            </tr>
            <tr *ngIf="scheduleResponse.length === 0">
              <td colspan="5">
                <app-no-data-found></app-no-data-found>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="loading">
            <tr>
              <td colspan="5">
                <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
                  <app-utm-spinner [height]="'35px'"
                                   [label]="'Loading ports'"
                                   [loading]="loading"
                                   [width]="'35px'">
                  </app-utm-spinner>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="schedules && schedules.length > 0" class="mb-4">
          <div class="row justify-content-center">
            <ngb-pagination
              (pageChange)="loadPage($event)"
              [(page)]="page"
              [boundaryLinks]="true"
              [collectionSize]="totalItems"
              [maxSize]="5"
              [pageSize]="itemsPerPage"
              [rotate]="true"
              [size]="'sm'">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
