<app-utm-modal-header [name]="apiKey?.id ? 'Edit Api Key' : 'Create Api Key'"></app-utm-modal-header>

<div class="container-fluid p-3">
  <!-- Error Alert -->
  <div *ngIf="errorMsg" class="alert alert-danger alert-sm py-2">
    {{ errorMsg }}
  </div>

  <form [formGroup]="apiKeyForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Enter a descriptive name"
      />
    </div>

    <div class="form-group">
      <label>Allowed IPs</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="ipInput"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter IP address"
          (keyup.enter)="addIp()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary btn-sm"
            type="button"
            (click)="addIp()"
          >
            Add IP
          </button>
        </div>
      </div>
      <ul class="mt-1" *ngIf="allowedIp.controls.length > 0">
        <li
          class="list-group-item mt-2 py-1 d-flex justify-content-between align-items-center"
          *ngFor="let ip of allowedIp.controls; let i = index"
        >
          {{ ip.value }}
          <button
            type="button"
            class="close my-auto"
            aria-label="Remove IP"
            (click)="removeIp(i)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="expiresAt">Expires At</label>
      <input
        type="datetime-local"
        id="expiresAt"
        class="form-control"
        formControlName="expiresAt"
      />
    </div>
  </form>

  <div class="button-container d-flex justify-content-end mt-4">
    <button
      type="button"
      class="btn utm-button utm-button-grey mr-3"
      [disabled]="loading"
      (click)="activeModal.close('Close click')">
      <i class="icon-cancel-circle2"></i>&nbsp;
      Cancel
    </button>

    <button (click)="create()"
            [disabled]="!apiKeyForm.valid"
            class="btn utm-button utm-button-primary
             d-flex justify-content-center
              align-items-center">
      <i [ngClass]="isSaving ? 'icon-spinner2 spinner' : 'icon-key'"></i>&nbsp;
      {{apiKey?.id ? 'Edit Api Key' : 'Create Api Key'}}
    </button>
  </div>
</div>


