<app-utm-modal-header [name]="'Import rule(s)'"></app-utm-modal-header>

<div class="modal-content d-flex flex-column p-3">

  <div class="form-body w-100">

    <!-- STEPS -->
    <div class="d-flex justify-content-center">
      <div class="step-container d-flex justify-content-between mt-2 mb-4 w-75">

        <!-- STEP 0 -->
        <div class="step">
          <span class="text-blue-800 font-weight-bold">Import</span>
          <div
            class="round-indicator"
            [ngClass]="{
              'step-success': isCompleted(RULE_FORM.STEP0),
              'step-active': currentStep === RULE_FORM.STEP0,
              'step-inactive': currentStep !== RULE_FORM.STEP0 && !isCompleted(RULE_FORM.STEP0)
            }">
            <i class="text-white font-size-sm"
               [ngClass]="isCompleted(RULE_FORM.STEP0) ? 'icon-checkmark3' : 'icon-file-upload'"></i>
          </div>
        </div>

        <div class="step-link"></div>

        <!-- STEP 1 -->
        <div class="step">
          <span class="text-blue-800 font-weight-bold">Review</span>
          <div
            class="round-indicator"
            [ngClass]="{
              'step-success': isCompleted(RULE_FORM.STEP1),
              'step-active': currentStep === RULE_FORM.STEP1,
              'step-inactive': currentStep !== RULE_FORM.STEP1 && !isCompleted(RULE_FORM.STEP1)
            }">
            <i class="text-white font-size-sm"
               [ngClass]="isCompleted(RULE_FORM.STEP1) ? 'icon-checkmark3' : 'icon-shield-check'"></i>
          </div>
        </div>

        <div class="step-link"></div>

        <!-- STEP 2 -->
        <div class="step">
          <span class="text-blue-800 font-weight-bold">Import</span>
          <div
            class="round-indicator"
            [ngClass]="{
              'step-success': isCompleted(RULE_FORM.STEP2),
              'step-active': currentStep === RULE_FORM.STEP2,
              'step-inactive': currentStep !== RULE_FORM.STEP2 && !isCompleted(RULE_FORM.STEP2)
            }">
            <i class="text-white font-size-sm"
               [ngClass]="isCompleted(RULE_FORM.STEP2) ? 'icon-checkmark3' : 'icon-upload10'"></i>
          </div>
        </div>

      </div>
    </div>

    <!-- STEP 0 -->
    <div *ngIf="currentStep === RULE_FORM.STEP0">
      <div class="d-flex mt-3 flex-column">
        <div class="alert alert-info alert-styled-right mb-2 w-100">
          <span class="font-weight-semibold">Info!</span>
          The rule import process requires a valid <strong>.yml</strong> file.
        </div>
      </div>

      <app-utm-file-upload
        (fileEmit)="onFileChange($event)"
        [validateFileSize]="true"
        [acceptTypes]="'.yml'">
      </app-utm-file-upload>
    </div>

    <!-- STEP 1 -->
    <div *ngIf="currentStep === RULE_FORM.STEP1" class="position-relative">

      <div *ngIf="loading"
           class="position-absolute d-flex justify-content-center align-items-center loader w-100 h-100">
        <app-utm-spinner [loading]="loading" label="Loading"></app-utm-spinner>
      </div>

      <div class="rule-items mt-3 wm-200px">

        <div *ngFor="let rule of rules; let i = index"
             class="p-2 border rounded mb-2 d-flex flex-column"
             style="background: #f8f8f8">

          <!-- HEADER -->
          <div (click)="showRule(rule)"
               class="d-flex align-items-center justify-content-between w-100 cursor-pointer">

            <div class="rule-filename"
                 [ngClass]="{
                   'text-success': rule.status === 'valid',
                   'text-danger': rule.status === 'error'
                 }">

              <span class="cursor-pointer opacity-75">
                <i class="font-size-sm"
                   [ngClass]="rule.showDetail ? 'icon-arrow-up32' : 'icon-arrow-down32'"></i>
              </span>

              <span class="ml-2">
                <i *ngIf="rule.status === 'error'" class="icon-warning2 font-size-sm mr-1"></i>
                <strong>{{ rule.rule.name }}</strong>
                <small>({{ rule.status }})</small>
              </span>
            </div>

            <div *ngIf="!rule.isLoading" class="d-flex">
              <div (click)="deleteRule(i)" class="cursor-pointer opacity-75 ml-2">
                <i *ngIf="rule.status === 'valid' || rule.status === 'error'" class="icon-cross2 font-size-sm"></i>
                <i *ngIf="rule.status === 'saved'" class="icon-check2 font-size-sm"></i>
              </div>
            </div>

            <div *ngIf="rule.isLoading" class="d-flex">
              <div class="cursor-pointer opacity-75 ml-2">
                <i class="icon-spinner spinner"></i>
              </div>
            </div>

          </div>

          <!-- DETAILS -->
          <div *ngIf="rule.showDetail"
               class="alert mt-2 py-2 pl-3 w-100"
               [ngClass]="{
                 'alert-danger': !rule.valid,
                 'alert-success': rule.valid
               }">

            <app-utm-json-detail-view
              [errors]="rule.errors"
              [rowDocument]="rule.rule">
            </app-utm-json-detail-view>

          </div>

        </div>

      </div>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="currentStep === RULE_FORM.STEP2">

      <div class="d-flex mt-3 flex-column">
        <div class="alert alert-info alert-styled-right mb-2 w-100">
          <span class="font-weight-semibold">Info!</span>
          You are about to import {{ validRulesCount() }} valid rule(s).
        </div>
      </div>

      <div *ngFor="let rule of rules; let i = index"
           class="p-2 border rounded mb-2"
           style="background: #f8f8f8; margin-top: 10px">

        <div (click)="showRule(rule)"
             class="d-flex align-items-center justify-content-between w-100 cursor-pointer">

          <div class="rule-filename"
               [ngClass]="{
                   'text-success': rule.status === 'valid',
                   'text-danger': rule.status === 'error'
                 }">

              <span class="cursor-pointer opacity-75">
                <i class="font-size-sm"
                   [ngClass]="rule.showDetail ? 'icon-arrow-up32' : 'icon-arrow-down32'"></i>
              </span>

            <span class="ml-2">
               <i *ngIf="rule.status === 'error'" class="icon-warning2 font-size-sm"></i>
                <strong>{{ rule.rule.name }}</strong>
                <small>({{ rule.status }})</small>
              </span>
          </div>

          <div *ngIf="!rule.isLoading" class="d-flex">
            <div (click)="deleteRule(i)" class="cursor-pointer opacity-75 ml-2">
              <i *ngIf="rule.status === 'valid' || rule.status === 'error'" class="icon-cross2 font-size-sm"></i>
              <i *ngIf="rule.status === 'saved'" class="icon-check2 font-size-sm"></i>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <div *ngIf="files.length > 0"
       class="button-container d-flex justify-content-end pr-3 w-100">

    <!-- CANCEL -->
    <button *ngIf="currentStep === RULE_FORM.STEP0"
            (click)="activeModal.close()"
            class="btn utm-button utm-button-grey mr-2">
      <i class="icon-cancel-circle2"></i>&nbsp; Cancel
    </button>

    <!-- BACK -->
    <button *ngIf="currentStep !== RULE_FORM.STEP0 && !isImportFinished"
            (click)="back()"
            class="btn utm-button utm-button-primary mr-2">
      <i class="icon-arrow-left32"></i> Back
    </button>

    <!-- NEXT -->
    <button *ngIf="currentStep !== RULE_FORM.STEP2"
            (click)="next()"
            [disabled]="loading || (currentStep === RULE_FORM.STEP1 && validRulesCount() !== rules.length)"
            class="btn utm-button utm-button-primary">
      Next <i class="icon-arrow-right32"></i>
    </button>

    <!-- IMPORT -->
    <button *ngIf="currentStep === RULE_FORM.STEP2 && !isImportFinished"
            [disabled]="validRulesCount() == 0 || loading"
            (click)="saveRule()"
            class="btn utm-button utm-button-primary">
      <i [ngClass]="loading ? 'icon-spinner spinner' : 'icon-grid-alt'"></i>&nbsp; Import rules
    </button>

    <!-- CLOSE -->
    <button *ngIf="currentStep === RULE_FORM.STEP2 && isImportFinished"
            (click)="close()"
            class="btn utm-button utm-button-primary ml-2">
      Close
    </button>

  </div>

</div>
