<div [formGroup]="formGroup">
<fieldset class="form-fieldset border p-3">
  <legend>
    <label>Definition</label>
    <span class="span-small-icon ml-2">
      <i (click)="addVariable()" *ngIf="variables.length === 0"
         class="icon-plus2 mr-1 cursor-pointer"
         ngbTooltip="Add variable">
      </i>
    </span>
  </legend>
  <div formGroupName="definition">
    <div formArrayName="ruleVariables">
      <div *ngFor="let variable of variables.controls; let i = index" [formGroupName]="i">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <label class="section-label">Variables</label>
          <button
            type="button"
            [disabled]="variable.invalid || variable.get('ofType').value == null || variable.get('get').value == null"
            class="btn btn-icon btn-sm btn-outline-primary"
            (click)="saveVariable(i)"
            ngbTooltip="Add a new variable">
            <i class="icon-plus2"></i>
            <span>Add Variable</span>
          </button>

        </div>
        <div class="input-group">
          <fieldset class="card p-3 border rounded shadow-sm w-100">
            <div class="row">
              <div class="col-5">
                <div class="form-group-select">
                  <label>Field:</label>
                  <ng-select (change)="onFieldChange($event)"
                             [addTag]="true"
                             [items]="(fields$ | async)"
                             [ngClass]="{'is-invalid': variable.get('get').invalid && variable.get('get').touched}"
                             [trackByFn]="trackByFnField"
                             bindLabel="name"
                             bindValue="name"
                             class="flex-item type-select"
                             formControlName="get"
                             placeholder="Choose field">
                  </ng-select>
                  <div *ngIf="variable.get('get').invalid && variable.get('get').touched"
                       class="invalid-feedback">
                    Field is required.
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Alias:</label>
                  <input [ngClass]="{'is-invalid': (variable.get('as').errors?.noSpaces || variable.get('as').errors?.required)
                                                          && (variable.get('as').dirty || variable.get('as').touched)}"
                         class="form-control mr-2"
                         formControlName="as"
                         type="text">
                  <div
                    *ngIf="variable.get('as').errors?.required && (variable.get('as').touched || variable.get('as').dirty)"
                    class="invalid-feedback">
                    Alias is required.
                  </div>
                  <div *ngIf="!!variable.get('as').value && variable.get('as').errors?.noSpaces"
                       class="invalid-feedback">
                    Must be a single word without spaces.
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group-select">
                  <label>Type:</label>
                  <ng-select
                    [ngClass]="{'is-invalid': variable.get('ofType').invalid && variable.get('ofType').touched}"
                    [items]="variablesDataType"
                    class="flex-item type-select"
                    bindLabel="label"
                    bindValue="value"
                    formControlName="ofType"
                    placeholder="Select type">
                  </ng-select>
                  <div *ngIf="variable.get('ofType').invalid && variable.get('ofType').touched"
                       class="invalid-feedback">
                    Type is required.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="form-group">
      <app-expression-console
        [ngClass]="{'is-invalid': formGroup.get('definition').get('ruleExpression').invalid && formGroup.get('definition').get('ruleExpression').touched}"
        formControlName="ruleExpression"
        [variables]="savedVariables"
        (variablesChange)="onVariablesChange($event)"
        (touched)="formGroup.get('definition')?.get('ruleExpression').markAsTouched()">
      </app-expression-console>

      {{ formGroup.get('definition').get('ruleExpression').value }}


      <div *ngIf="formGroup.get('definition').get('ruleExpression').invalid &&
                formGroup.get('definition').get('ruleExpression').touched"
           class="invalid-feedback">
        Expression is required.
      </div>
      <div *ngIf="formGroup.get('definition.ruleExpression')?.hasError('noVariableUsed') && formGroup.get('definition.ruleExpression')?.touched"
           class="invalid-feedback">
        You must include at least one variable in the expression.
      </div>
    </div>
  </div>
</fieldset>
</div>
