:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}


.log-fields {
  min-width: 300px;
}


.field-view {
  height: 100%;
}

app-log-analyzer-field {
  height: 100%;
}

.search-container {
  flex-basis: 50%;
}

@media screen and (min-width: 1550px) and (max-width: 1599px) {
  .search-container {
    flex-basis: 55%;
  }
}

@media screen and (min-width: 1600px)  {
  .search-container {
    flex-basis: 65%;
  }
}

.btn-refresh {
  background-color: #d3dae696;
  color: #0277bd;
  height: 36px !important;
  border: 1px solid #d3dae696;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.container-elements {
  min-height: 0;
}

.log-analyzer-actions {
  height: 36px;
}

.sql-editor-container {
  height: 30vh;
  min-height: 200px;
}

@media (min-width: 1920px) {
  .sql-editor-container {
    height: 50%;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .sql-editor-container {
    height: 40%;
  }
}

@media (max-width: 1365px) {
  .sql-editor-container {
    height: 30%;
  }
}


