*~
vendor/

**/.idea
**/.DS_Store

installer/installer

**/.vscode
**/*.plugin
geolocation/
installer/public_key.crt
.github/scripts/golang-updater/go-updater


qodana.yaml
backend/.env.example
backend/.env
