@import "src/assets/styles/theme";
@import "src/assets/styles/var";

.utm-menu {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}


:host {

  display: block;
  box-sizing: border-box;
}

.dndDraggingSource {
  opacity: .5;
  transform: scale(.98);
}


::ng-deep {
  .card-column-text {
    font-size: 12px;
  }

  .sortable-container .sortable-header {
    padding: 0 10px !important;
    height: 28px !important;
  }

  .sortable-container .sortable-list {
    overflow-y: scroll;
    //
    //li {
    //  padding: 2% 5% !important;
    //  height: 30px;
    //  font-size: 12px;
    //}
  }

  .sortable-container .sortable-list .sortable-list-item {
    font-size: 12px;
  }

  .sortable-container .sortable-list .active {
    background-color: #1a6a81 !important;
  }

  .sortable-header {
    background: white !important;
    color: $primary-color !important;
    font-weight: 300;
  }

  .sortable-container .sortable-header .sortable-buttons {
    button {
      display: none !important;
      background: $primary-color !important;
      border: 0 solid $primary-color !important;
    }
  }

  .sortable-container .sortable-header .sortable-buttons button {
    display: none !important;
    background: $primary-color !important;
    border: 0 solid $primary-color !important;
  }

  .sortable-container .sortable-list .active {
    background: #309faa !important;
    color: white;
    border-left: 3px solid $primary-color !important;
  }
}

.field-name {
  min-width: 150px;
}

.active {
  background-color: #3f94e9 !important;
  color: #ffffff;
  border-left: 3px solid $primary-color !important;
}
