<app-utm-modal-header [name]="'Delete port'" class="w-100" type="delete"></app-utm-modal-header>
<div class="container-fluid p-3">
  <h6>
    Are you sure that you want to delete the port <strong>{{port.name}}</strong>.?
  </h6>

  <div class="button-container d-flex justify-content-end mt-4">
    <button (click)="activeModal.close()" class="btn utm-button utm-button-grey mr-3">
      <i class="icon-cancel-circle2"></i>&nbsp;
      Cancel
    </button>
    <button (click)="delete()"
            class="btn utm-button utm-button-danger">
      <i class="icon-database-remove"></i>&nbsp;
      Delete
    </button>
  </div>
</div>
