.box-sizing{
  box-sizing: border-box;
}
::ng-deep app-compliance-report-viewer gridster {
  background-color: unset !important;
}

.section-icon {
  width: 50%;
  padding-bottom: 5px;
  transition: border-color 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
}

.section-icon img {
  width: 1.5rem;
}

.section-icon i {
  font-size: 1.5rem;
  color: #333;
}

.section-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.active-section {
  background-color: #e9e9e9;
  border-bottom: 3px solid #28a745;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section-icon:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-menu {
  overflow: hidden;
}

.sidebar-section {
  position: sticky;
  align-self: start;
  width: 350px;
}


