@import "../../../../../assets/styles/theme";
@import "../../../../../assets/styles/var";
@import "../../../../../assets/styles/custom-elements";

.create-task-container {
  .task-form-container {
    .form {
      .add-action-form {
        font-size: 15px;
        color: $primary-color;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
