<div class="d-flex justify-content-between align-items-center h-100 w-100 small-md-icon">
  <div class="list-icons">
    <i (click)="onSelect()"
       [ngClass]="isSelected(alert)?'icon-checkbox-checked':'icon-checkbox-unchecked'"
       [ngbTooltip]="isSelected(alert)?'Remove from selected':'Add to selected'"
       class="cursor-pointer"
       container="body"
       placement="auto">
    </i>
    <i (click)="onFilterRow()"
       [ngbTooltip]="'Row to filter'"
       class="cursor-pointer icon-filter4 text-blue-800"
       container="body"
       placement="top"
       tooltipClass="utm-tooltip-top"></i>
    <app-alert-apply-incident (markAsIncident)="onIncident($event)"
                              *ngIf="dataType !== 'INCIDENT'"
                              [alert]="alert"
                              [eventType]="dataType"
                              [multiple]="false">
    </app-alert-apply-incident>
    <i (click)="onOpenAutomation()"
       [ngbTooltip]="'Create incident response automation'"
       class="cursor-pointer icon-terminal text-blue-800"
       container="body"
       placement="top"
       tooltipClass="utm-tooltip-top"></i>
    <app-alert-apply-note (applyNote)="onApplyNote($event)" [alert]="alert" class="mr-2"></app-alert-apply-note>
    <app-alert-tags-apply [alert]="alert"
                          [tags]="tags"
                          (applyTagsEvent)="onApplyTags()"
                          class="mr-2"></app-alert-tags-apply>
  </div>
</div>

<ng-template #noChildren>
  <i style="width: 10px" class="mr-2"></i>
</ng-template>
