<div class="d-flex flex-column h-100 m-h-0 overflow-auto chart-container">
  <div class="flex-grow-1 h-100">
    <div echarts
         [options]="option"
         (chartInit)="onChartInit($event)"
         class="sankey-chart"
         [ngStyle]="{ height: chartHeight + 'px' }">
    </div>
  </div>
</div>

<div *ngIf="viewAlertDetail" class="utm-right-container">
  <div (click)="closeDetail()" class="overlay overlay-lg col-md-6"></div>
  <div class="card utm-right-action utm-right-action-lg">
    <div class="title d-flex justify-content-between align-items-center border-bottom-1
     border-bottom-grey-100  p-3 ">
      <h6 class="card-title pb-0 mb-0 text-blue-800 font-weight-light">
        {{ alertDetail.name }}
      </h6>
      <div class="d-flex flex-row align-items-center gap-2">
        <app-alert-logs-related-action [logs]="alertDetail.events"></app-alert-logs-related-action>
        <button (click)="closeDetail()" aria-label="Close"
                class="" type="button">
          <div class="close-icon"></div>
        </button>
      </div>
    </div>
    <app-alert-view-detail [alert]="alertDetail"
                           [hideEmptyField]=" true"
                           [dataType]="EventDataTypeEnum.ALERT">
    </app-alert-view-detail>
  </div>
</div>
