<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Installing Linux agent
    </h4>
  </div>
  <div class="card-body">
    <p class="font-size-base text-justify">
      The Linux agent captures system and application logs and sends them to a UTMStack master server or probe/proxy,
      monitors system activity, and executes incident response commands. The UTMStack agents communicate over ports 9000 and 50051.
      Please make sure these ports are open.
    </p>

    <ol class="setup_list mt-3">
      <li>
        <div>
          <p class="step-guide">
            <span class="step_number">1</span>
            Install or uninstall the UTMStack agent according to your operating system:
          </p>
          <div class="alert alert-warning alert-styled-right">
          The following commands contains sensitive information, don't share it.
        </div>
          <app-agent-install-selector [platforms]="architectures"></app-agent-install-selector>
        </div>
      </li>
    </ol>
  </div>
</div>
