
.event-timeline-container {
  height: 100%;
  //max-height: 400px;
  //min-height: 400px;
  box-sizing: border-box;
  display: block;
  flex: none;
}

.main {
  width: 100%;
  height: 70vh;
  //max-height: 380px;
  min-height: 370px;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
}
