<div class="card h-100 d-flex flex-column">
  <div class="card-header p-2">
    <label class="card-title d-flex align-items-center">
      <i class="icon-gear mr-2 fs-4 text-blue-800"></i>
      Actions
    </label>
  </div>

  <div class="card-body d-flex flex-column p-0 flex-grow-1 m-h-0">
    <!-- search -->
    <div class="p-2">
      <app-utm-search-input (searchFor)="searchReport($event)"
                            [searching]="searching"
                            placeholder="Search more actions ..."></app-utm-search-input>
    </div>

    <div class="text-muted small px-3 mb-2">
      Click an action to add it to the workflow
    </div>

    <div class="d-flex px-2 flex-column h-100 m-h-0">
      <div infiniteScroll
           (scrolled)="onScroll()"
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="150"
           [scrollWindow]="false"
           class="px-1 pb-0 mb-1 overflow-auto flex-grow-1">
        <div *ngFor="let action of actionSidebarService.actionTemplates$ | async; trackBy: trackByFn; let last = last"
             [ngClass]="!last ? 'mb-3' : 'mb-0'"
             class="card action-block shadow-sm cursor-pointer"
             (click)="addToWorkFlow(action)">
          <div class="card-body px-2 d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <div class="icon-box mr-2"></div>
              <div>
                <div class="fw-bold fs-md">{{ action.title }}</div>
                <div class="text-muted fs-xs">{{ action.description }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-utm-spinner *ngIf="actionSidebarService.loading$ | async as loading"
                       class="position-absolute top-50 right-35"
                       [loading]="loading" label="Loading agents...">
      </app-utm-spinner>
      <div class="card px-2 available-action phantom-action"
           (click)="openActionSidebar()">
        <div class="card-body d-flex flex-column px-2">
          <div class="d-flex align-items-center mb-2">
            <div class="icon-terminal mr-2"></div>
            <div>
              <div class="fw-bold">Define Custom Action</div>
              <small class="text-muted">Enter a command to run</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
