<div class="card p-0 m-0 ">
    <div class="card-header header-elements-sm-inline bg-white card-header-title p-2 pb-1 w-100">
        <span class="font-weight-light span-small-icon">
          {{fieldFilter.label ? fieldFilter.label : fieldFilter.field}}
        </span>
        <!--<app-generic-filer-sort (sortChange)="onSortValuesChange($event)"></app-generic-filer-sort>-->
    </div>
    <div *ngIf="loading" class="category-list w-100 p-5">
        <app-utm-spinner [height]="'5px'"
                         [loading]="loading"
                         [width]="'5px'">
        </app-utm-spinner>
    </div>
    <div *ngIf="fieldValues$ | async as items;" class="w-100">
      <ng-container *ngIf="items.length > 0; else empty">
        <div (scrolled)="onScroll()"
             [fromRoot]="true"
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="80"
             [scrollWindow]="false"
             class="filter-value-field-container"
             infiniteScroll>
            <app-filter [list]="items">
              <ng-template appTemplateSelector let-item let-i>
                <input (change)="selectValue(item[0])"
                       [attr.id]="'g-check-box-'+fieldFilter.field+'-'+i"
                       [checked]="selected.includes(item[0])"
                       [name]="'g-check-box-'+fieldFilter.field+'-'+i"
                       [value]="item[0]"
                       class="form-check-input magic-checkbox"
                       style="font-size: smaller"
                       type="checkbox">
                <label [for]="'g-check-box-'+fieldFilter.field+'-'+i" [ngbTooltip]="item[0]"
                       [openDelay]="1000"
                       class="mb-0 text-filter"
                       placement="bottom"
                       tooltipClass="utm-tooltip-bottom">
                      {{item[0]}}
                </label>
              </ng-template>
            </app-filter>
            <div *ngIf="loadMore"
                 class="d-flex justify-content-center align-items-center p-3 loading">
                <app-utm-spinner [height]="'35px'" [loading]="true"
                                 [width]="'35px'" label="Loading more"></app-utm-spinner>
            </div>
        </div>
      </ng-container>
      <ng-template #empty>
        <div class="d-flex justify-content-center align-items-center mt-3 mb-3 w-100">
          <app-no-data-found [padding]="'p-2'" [size]="'sm'"></app-no-data-found>
        </div>
      </ng-template>
    </div>
    <app-utm-search-input (searchFor)="searchInValues($event)"
                          [searching]="searching"
                          class="w-100"
                          placeholder="Search in values"></app-utm-search-input>
</div>

