<app-utm-modal-header [name]="'Import dashboard'"></app-utm-modal-header>
<div class="container-fluid p-3">
  <div class="d-flex flex-column justify-content-start align-items-start">
    <div class="dashboard-import-step">
      <div class="step">
         <span class="text-blue-800 font-weight-bold">
          Upload
        </span>
        <div [ngClass]="isCompleted(1)?'step-success':step===1?'step-active':'step-inactive'"
             class="round-indicator">
          <i [ngClass]="isCompleted(1)?'icon-checkmark3':'icon-file-upload'"></i>
        </div>
      </div>
      <div class="step-link">
        <div class="line w-100"></div>
      </div>
      <div class="step">
          <span class="text-blue-800 font-weight-bold">
          Review
        </span>
        <div [ngClass]="isCompleted(2)?'step-success':step===2?'step-active':'step-inactive'"
             class="round-indicator">
          <i [ngClass]="isCompleted(2)?'icon-checkmark3':'icon-pie-chart8'"></i>
        </div>
      </div>
      <div class="step-link">
        <div class="line w-100"></div>
      </div>
      <div class="step">
          <span class="text-blue-800 font-weight-bold">
          Import
        </span>
        <div [ngClass]="isCompleted(3)?'step-success':step===3?'step-active':'step-inactive'"
             class="round-indicator">
          <i [ngClass]="isCompleted(3)?'icon-checkmark3':'icon-upload10'"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step===1" class="regex-step mt-3">
    <app-utm-file-upload (fileEmit)="onFileImportLoad($event)" [acceptTypes]="'.json'"></app-utm-file-upload>
  </div>
  <div *ngIf="step===2" class="configure-step mt-3 mb-3">
    <div class="table-responsive-sm mb-3">
      <table class="table text-nowrap">
        <thead>
        <tr>
          <th class="font-weight-semibold text-uppercase  cursor-pointer">
            Name&nbsp;
          </th>
          <th style="width: 10px">
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let dash of dashboards |slice:pageStart:pageEnd;let index=index">
        <tr>
          <td (click)="viewVisualizationOf(dash)" class="cursor-pointer">
            <span class="text-blue-800">
               <i [ngClass]="detailOf===dash.id?'icon-arrow-up32':'icon-arrow-down32'"></i>
              &nbsp;{{dash.name}}
            </span>
          </td>
          <td>
             <span (click)="deleteDashboard(dash)" class="span-small-icon cursor-pointer"
                   container="body"
                   ngbTooltip="Delete dashboard"
                   placement="auto">
                <i class="icon-cross2"></i>
             </span>
          </td>
        </tr>
        <tr *ngIf="detailOf=== dash.id">
          <td colspan="2">
            <div class="d-flex flex-column w-100">
              <div *ngFor="let vis of visualizations"
                   class="d-flex justify-content-between justify-content-center pl-3 mb-2 pr-2">
                <div #p="ngbPopover"
                     (click)="p.open()"
                     [closeDelay]="1000"
                     [ngbPopover]="popPreview"
                     [openDelay]="1000"
                     autoClose="outside"
                     class="text-blue-800 d-flex justify-content-start align-items-center cursor-pointer"
                     container="body"
                     placement="right"
                     triggers="manual">
                  <div [ngClass]="chartIconResolver(vis.chartType)"
                       class="utm-icon-xs utm-icon-primary"></div>&nbsp;
                  {{vis.name}}
                </div>
                <ng-template #popPreview let-visualization="vis">
                  <div class="tooltip-fixed-height w-100 h-100">
                    <app-utm-viewer [building]="true"
                                    [chart]="vis.chartType"
                                    [chartId]="vis.id"
                                    [height]="'250px'"
                                    [visualization]="vis"
                                    [width]="'250px'">
                    </app-utm-viewer>
                  </div>
                </ng-template>
                <span class="span-small-icon cursor-pointer"
                      container="body"
                      ngbTooltip="Delete visualization"
                      (click)="deleteVisualization(vis,dash)" placement="auto">
                <i class="icon-cross2"></i>
                </span>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <ngb-pagination
          (pageChange)="loadPage($event)"
          [(page)]="page"
          [boundaryLinks]="true"
          [collectionSize]="totalItems"
          [maxSize]="5"
          [pageSize]="itemsPerPage"
          [rotate]="true"
          [size]="'sm'"></ngb-pagination>
      </div>
    </div>
  </div>
  <div *ngIf="step===3" class="configure-step mt-3 mb-3">
    <div class="icon-container">
      <div class="icon-up">
        <i class="icon-upload10"></i>
      </div>
    </div>
    <div class="d-flex justify-content-start mt-3">
      <app-utm-toggle (toggleChange)="override=$event"
                      [active]="override" label="Override duplicated dashboard and visualizations?"></app-utm-toggle>
    </div>
    <div *ngIf="override" class="alert alert-info alert-styled-right mb-2 mt-2">
      <span>Executing this action will overwrite all the elements and configurations of the dashboards that are duplicated</span>
    </div>
    <div *ngIf="importing" class="d-flex justify-content-start align-items-center">
      <i class="text-blue-800 icon-spinner2 spinner"></i>
      <h6 class="text-blue-800 font-weight-light ml-2">Importing dashboards</h6>
    </div>
  </div>
  <div class="button-container d-flex justify-content-end mt-3">
    <button (click)="backStep()" *ngIf="step >1"
            class="btn utm-button utm-button-primary">
      <i class="icon-arrow-left22"></i>&nbsp;
      Back
    </button>
    <button (click)="nextStep()" *ngIf="step === 1"
            [disabled]="dashImport.length===0"
            class="btn utm-button utm-button-primary ml-2">
      Next&nbsp;
      <i class="icon-arrow-right22"></i>
    </button>
    <button (click)="nextStep()" *ngIf="step === 2"
            [disabled]="dashboards.length===0"
            class="btn utm-button utm-button-primary ml-2">
      Continue&nbsp;
      <i class="icon-arrow-right22"></i>
    </button>
    <button (click)="import()" *ngIf="step===3"
            [disabled]="importing"
            class="btn utm-button utm-button-primary ml-2">
      <i [ngClass]="importing?'icon-spinner2 spinner':'icon-upload10'"></i>
      Import&nbsp;
    </button>
  </div>
</div>
