@import "../../../../../assets/styles/var";
.dashboard-loader {
  height: 600px;
}

.dashboard-content {
  min-height: calc(100vh - 103px);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

:host {
  gridster {
    //display: flex;
    //height: calc(100%) !important;
    //flex-direction: column;

    gridster-item {
      z-index: 0;
      overflow: initial !important;
      transition: width !important;
    }
  }
}

::ng-deep {
  .card-header-chart {
    padding-right: 10px;
  }
}

.a4-css {
  display: block !important;
}
