[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
requests = "*"
strenum = "*"
docker = "*"
jinja2 = "*"
psycopg2-binary = "*"
pycryptodome = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
