-i https://pypi.org/simple
certifi==2024.12.14; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.1; python_full_version >= '3.7.0'
cryptography==44.0.0
docker==6.1.3
idna==3.4; python_version >= '3.5'
jinja2==3.1.5; python_version >= '3.7'
markupsafe==3.0.2; python_version >= '3.9'
packaging==24.2; python_version >= '3.7'
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.21.0
pyjwt==2.8.0
requests==2.31.0
strenum==0.4.15
urllib3==2.3.0; python_version >= '3.7'
websocket-client==1.8.0; python_version >= '3.8'
