certifi==2025.1.31; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.4.1; python_full_version >= '3.7.0'
cryptography==44.0.2
docker==7.1.0
idna==3.10; python_version >= '3.5'
jinja2==3.1.6
markupsafe==3.0.2; python_version >= '3.7'
packaging==24.2; python_version >= '3.7'
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.22.0
pyjwt==2.10.1
requests==2.32.3
strenum==0.4.15
urllib3==2.3.0; python_version >= '3.7'
websocket-client==1.8.0; python_version >= '3.8'