<div class="d-flex justify-content-end r-2">
  <div #dropTracker="ngbDropdown"
       autoClose="outside"
       class="dropdown"
       container="body"
       display="dynamic"
       ngbDropdown
       placement="bottom-right">

    <button ngbDropdownToggle class="d-flex align-items-center gap-2 py-2 px-2 drop-action-btn">
      <i [ngClass]="getActionConditionalIcon()" class="mr-2 top-0"></i>
      <span class="fw-semibold">
        {{ getActionConditionalLabel() }}
      </span>
    </button>

    <div class="dropdown-menu dropdown-menu-end p-2 shadow-sm rounded" ngbDropdownMenu style="min-width: 140px;">
      <button ngbDropdownItem (click)="select(actionConditionalEnum.ALWAYS)" class="d-flex align-items-center gap-2 py-2 px-2">
        <i class="icon-loop3 text-primary mr-2 fs-8"></i>
        <span class="fw-semibold">Run always</span>
      </button>
      <button ngbDropdownItem (click)="select(actionConditionalEnum.SUCCESS)" class="d-flex align-items-center gap-2 py-2 px-2">
        <i class="icon-checkmark-circle text-success mr-2"></i>
        <span class="fw-semibold">Run on success</span>
      </button>
      <button ngbDropdownItem (click)="select(actionConditionalEnum.FAILURE)" class="d-flex align-items-center gap-2 py-2 px-2">
        <i class="icon-blocked text-danger mr-2 fs-8"></i>
        <span class="fw-semibold">Run on failure</span>
      </button>
    </div>
  </div>
</div>
