<div class="d-flex justify-content-between align-items-center h-100 w-100 small-md-icon">
  <div class="list-icons">
    <button
       (click)="onToggleExpand()"
       class="btn-expand d-flex flex-row justify-items-center"
       [disabled]="loadingChildren"
       [ngbTooltip]="alert.hasChildren?(alert.expanded ? 'Collapse' : 'View echoes'):'No echoes'"
       container="body"
       placement="top">
      <i class="!top-0" *ngIf="alert.hasChildren" [ngClass]="loadingChildren && alert.expanded ? 'icon-spinner2 spinner' : alert.expanded ? 'icon-arrow-down32' : 'icon-arrow-right32'"></i>
      <span>Echoes</span>
      <small class="text-xs">{{ alert.echoes }}</small>
    </button>
  </div>
</div>
