<div class="d-flex justify-content-between align-items-center h-100 w-100 small-md-icon">
  <div class="list-icons">
    <button
       (click)="onToggleExpand()"
       class="btn-expand"
       [disabled]="loadingChildren || !alert.hasChildren"
       [ngbTooltip]="alert.hasChildren?(alert.expanded ? 'Collapse' : 'View echoes'):'No echoes'"
       container="body"
       placement="top">
      <i [ngClass]="loadingChildren && alert.expanded ? 'icon-spinner2 spinner' : alert.expanded ? 'icon-arrow-down32' : 'icon-arrow-right32'"></i>
      <span>{{ alert.expanded ? 'Close' : 'Open' }}</span>
    </button>
  </div>
</div>
