    <button
       (click)="onToggleExpand()"
       class="btn-expand d-flex w-fit h-100 gap-3 justify-items-center p-1 pl-2 justify-content-between  rounded-lg"
       [disabled]="loadingChildren"
       [ngbTooltip]="alert.hasChildren ?(alert.expanded ? 'Collapse' : 'View echoes'):'No echoes'"
       [ngClass]="alert.hasChildren ? 'pr-0':'pr-2'"
       container="body"
       placement="top">
      <span>Echoes</span>
      <span class="text-xs my-auto h-fit  ">{{ alert.echoes }}</span>
      <i class="top-0 w-fit" *ngIf="alert.hasChildren"
         [ngClass]="loadingChildren && alert.expanded ? 'icon-spinner2 spinner' : alert.expanded ? 'icon-arrow-down32' : 'icon-arrow-right32'"></i>
    </button>
