@import "../../../../assets/styles/theme";
@import "../../../../assets/styles/var";
@import "../../../../assets/styles/custom-elements";

.active-directory-tree {

}

.active-directory-tree {
  //max-height: 90vh;
  min-height: 82vh;
  //height: 90vh;
}

.card-right-detail {
  .card-detail {
    height: 100%;
    //overflow-y: scroll;
  }
}

.input-group {

}

.form-control {
  font-size: 12px !important;
}

.bg-transparent {
  background-color: transparent;
}
