<div class="d-flex m-h-0 flex-column pr-3 pl-3 pt-2 h-100">
  <div class="d-flex justify-content-between align-items-center mb-2">

  </div>

  <div class="d-flex h-100 pb-3">
    <app-resizable-filter-container>
      <app-alert-filter
        (filterChange)="onFilterChange($event)">
      </app-alert-filter>
    </app-resizable-filter-container>

    <div class="flex-grow-1">
      <div class="card h-100">
        <div class="card-header p-2 w-100">
          <div class="d-flex mt-2">
          </div>
        </div>
        <div class="d-flex h-100 m-h-0 flex-column">
          <div class="utm-panel-chart card m-2 h-100 m-h-0">
            <div class="card-header card-header-chart p-2 d-flex justify-content-between align-items-center bg-white">
              <label [ngbTooltip]="'Adversary alerts over time'"
                     [openDelay]="3000" class="card-title label-header text-blue-800" container="body">
                {{ 'Adversary alerts over time' }}
              </label>
              <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)"
                                       [defaultTime]="defaultTime"
                                       [container]="'body'"
                                       [invertContent]="true">
              </app-elastic-filter-time>
            </div>
            <div class="card-body h-100 m-h-0">
              <div *ngIf="!loading && isEmptyData()" class="h-100 w-100">
                <app-no-data-chart [typeChart]="ChartTypeEnum.METRIC_CHART">
                </app-no-data-chart>
              </div>
              <app-adversary-alerts-graph *ngIf="!loading && adversaryAlerts.length > 0" [data]="adversaryAlerts">
              </app-adversary-alerts-graph>

              <div *ngIf="loading" class="loading-chart w-100 h-100
                 d-flex justify-content-center
                 align-items-center">
                <app-utm-spinner [height]="'35px'" [loading]="loading" [width]="'35px'"
                                 label="Loading...">
                </app-utm-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





