<div class="d-flex m-h-0 flex-column pr-3 pl-3 pt-2 h-100">
  <div class="d-flex justify-content-between align-items-center mb-2">

  </div>

  <div class="d-flex h-100 pb-3">
    <app-resizable-filter-container>
      <app-alert-filter
        (filterChange)="onFilterChange($event)">
      </app-alert-filter>
    </app-resizable-filter-container>

    <div class="flex-grow-1">
      <div class="card h-100">
        <div class="card-header p-2 w-100">
          <div class="d-flex mt-2">
            <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)"
                                     *ngIf="defaultTime"
                                     [container]="'body'"
                                     [changeOnInit]="'NO'"
                                     [defaultTime]="defaultTime"
                                     [template]="'log-explorer'">
            </app-elastic-filter-time>
          </div>
        </div>
        <div class="card-body">
          <app-adversary-alerts-graph *ngIf="!loading && adversaryAlerts.length > 0; else noData" [data]="adversaryAlerts">
          </app-adversary-alerts-graph>

          <ng-template #noData>
            <app-no-data-found></app-no-data-found>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>





