<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      ESET Endpoint Protection
    </h4>
  </div>
  <div class="card-body">
    <div class="alert alert-warning alert-styled-right">
      This integration requires a UTMStack agent to work properly. Please, make sure you have installed it before you
      continue.
    </div>
    <ol class="setup_list">
      <app-utm-list [items]="steps">
        <ng-template stepTemplateRef let-step>
          <li>
            <app-step>
              <span stepNumber>{{step.id}}</span>
              <div [innerHtml]="step.name"></div>
              <ng-container *ngIf="step.content">

                <ng-template [ngIf]="step.content['images']">
                  <app-utm-list [items]="step.content['images']">
                    <ng-template stepTemplateRef let-image>
                      <img [alt]="image.alt" class="step-img" [src]="image.src">
                    </ng-template>
                  </app-utm-list>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent4'">
                  <div class="w-100">
                    <ul class="mt-3 pl-5" *ngFor="let ports of getPorts()">
                      <li>{{ ports.port }}</li>
                    </ul>
                    <img alt="Tags" class="step-img"
                         src="../../../../assets/img/guides/eset/syslog_server.png">
                  </div>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent5'">
                  <app-agent-action-command
                    [platforms]="platforms"
                    [agent] = "dataType"
                  ></app-agent-action-command>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent6'">
                  <div  class="mt-3">
                    <app-app-module-activate-button [module]="module.ESET" [type]="'integration'"
                                                    [disabled]="false"
                                                    [serverId]="serverId"
                                                    class="mt-3">
                    </app-app-module-activate-button>
                  </div>
                </ng-template>
              </ng-container>
            </app-step>
          </li>
        </ng-template>
      </app-utm-list>
    </ol>
  </div>
</div>
