.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid #e0e6ed;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    .header-title {
      display: flex;
      align-items: center;
      gap: 8px;
      i {
        font-size: 14px;
      }
    }

    .header-actions {
      display: flex;
      gap: 8px;
      }
  }

  .editor-section {
    flex: 1;
    overflow: hidden;
    border-bottom: 1px solid #e0e6ed;

    .editor-area {
      height: 100%;
      width: 100%;
      padding: .5rem;
      border: 1px solid rgba(0,0,0,.125);
    }
  }

  .execution-info {
    padding: 12px 0px;
    background-color: #f0f4f9;
    border-bottom: 1px solid #e0e6ed;
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spinner 1s linear infinite;
}

.icon-trash:before {
  color: #fff !important;
}

textarea:focus, input:focus {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
