<div class="card h-100">
  <div class="card-header p-2 w-100">
    <div class="d-flex justify-content-end align-items-center">
      <div class="ml-3">
        <app-utm-search-input (searchFor)="onSearch($event)"
                              [placeholder]="'Search by assets'"></app-utm-search-input>
      </div>
    </div>
  </div>
  <div class="table-responsive resizable-table-responsive h-100">
    <table class="table text-nowrap">
      <thead>
      <tr>
        <th (sort)="onSortBy($event)"
            [isSortable]="true"
            [sortEvent]="sortEvent"
            [sortable]="'assetName'"
            appColumnSortable
            class="font-weight-semibold cursor-pointer pl-4">
          Name
        </th>
        <th class="font-weight-semibold cursor-pointer">
          Confidentiality
        </th>
        <th class="font-weight-semibold cursor-pointer">
          Integrity
        </th>
        <th class="font-weight-semibold cursor-pointer">
          Availability
        </th>
        <th class="font-weight-semibold cursor-pointer pr-4" style="width: 20px">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let asset of assets$ | async; trackBy: trackByFn" class="cursor-pointer">

        <td class="pl-4">
          {{ asset.assetName }}
        </td>

        <td>
          <app-incident-severity [severity]="getSeverity(asset.assetConfidentiality)"></app-incident-severity>
        </td>

        <td>
          <app-incident-severity [severity]="getSeverity(asset.assetIntegrity)"></app-incident-severity>
        </td>

        <td>
          <app-incident-severity [severity]="getSeverity(asset.assetAvailability)"></app-incident-severity>
        </td>

        <td class="td-action pr-4">
          <div class="d-flex justify-content-end align-items-center medium-icon">

            <i (click)="onViewDetail(asset)" class="icon-eye8 cursor-pointer ml-2"
               ngbTooltip="Detail"
               container="body"
               placement="left"></i>

            <i (click)="editAsset(asset)" class="icon-pencil3 cursor-pointer ml-2"
               ngbTooltip="Edit"
               container="body"
               placement="left"></i>

            <i (click)="deleteAsset($event, asset)" class="icon-cross2 cursor-pointer ml-2"
               ngbTooltip="Delete"
               container="body"
               placement="auto"></i>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="assets.length === 0">
      <tr>
        <td [attr.colspan]="fields.length + 1">
          <app-no-data-found></app-no-data-found>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td [attr.colspan]="fields.length + 1">
          <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
            <app-utm-spinner [height]="'35px'"
                             [label]="'Loading...'"
                             [loading]="loading"
                             [width]="'35px'">
            </app-utm-spinner>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mb-3 mt-3">
    <div class="row justify-content-center">
      <ngb-pagination (pageChange)="loadPage($event)"
                      [(page)]="page"
                      [boundaryLinks]="true"
                      [collectionSize]="totalItems"
                      [maxSize]="10"
                      [pageSize]="itemsPerPage"
                      [rotate]="true"
                      [size]="'sm'"></ngb-pagination>
      <app-utm-items-per-page (itemsInPage)="onItemsPerPageChange($event)"
                              class="ml-3">
      </app-utm-items-per-page>
    </div>
  </div>
</div>
<div *ngIf="viewDetail" class="utm-right-container">
  <div (click)="viewDetail = false" class="overlay overlay-lg col-md-6"></div>
  <div class="card utm-right-action utm-right-action-lg">
    <div class="title d-flex justify-content-between  align-items-center border-bottom-1
     border-bottom-grey-100  pl-3 pt-3 pr-3 pb-0">
      <h6 class="card-title text-blue-800 font-weight-light">
        {{ asset?.assetName}}
      </h6>
      <button (click)="viewDetail = false; loadAssets()" aria-label="Close"
              class="close button-close" type="button">
        <div class="close-icon"></div>
      </button>
    </div>
    <app-asset-detail [asset] = asset></app-asset-detail>
  </div>
</div>



