<div class="container-fluid pr-3 pl-3 pt-2">
  <div class="d-flex justify-content-end align-items-center mb-2">
    <button (click)="newConfig()" class="btn utm-button utm-button-primary">
      <i class="icon-mail-read mr-1"></i> New config
    </button>
  </div>
  <div class="row">
    <div class="col-lg-2 pr-0">
      <div class="card h-100">
        <div class="card-header header-elements-sm-inline p-2 bg-white card-header-title">
          <label class="card-title">Filters</label>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="card h-100">
        <div class="card bg-light border-0 m-0">
          <div class="d-flex p-2 m-1 justify-content-between align-items-center">
            <app-sort-by (sortBy)="onSortBy($event)" [fields]="fields"></app-sort-by>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
            <tr>
              <th class="font-weight-semibold text-uppercase  cursor-pointer w-25">
                Name&nbsp;
              </th>
              <th class="text-center font-weight-semibold text-uppercase" style="width: 50px;">Type</th>
              <th class="font-weight-semibold text-uppercase  cursor-pointer w-50">
                Comment&nbsp;
              </th>
              <th class="font-weight-semibold text-uppercase  cursor-pointer">
                Last Modification&nbsp;
              </th>
              <th class="font-weight-semibold text-uppercase" style="width:10%">
                Action&nbsp;
              </th>
            </tr>
            </thead>
            <tbody *ngIf="notifications && notifications.length>0">
            <tr *ngFor="let tracker of notifications">
              <td class="w-25">
                <span class="text-blue-800">
                   {{tracker.name}}
                </span>
              </td>
              <td class="text-center">
              </td>
              <td class="w-75">
                <span>
                   {{tracker.description}}
                </span>
              </td>
              <td>
                <span>
                   {{tracker.modifiedDate | date:'short':'UTC'}}
                </span>
              </td>
              <td class="td-action">
                <div class="d-flex justify-content-end align-items-center medium-icon">

                  <i (click)="editNotification(tracker)"
                     class="icon-pencil3 cursor-pointer mr-3"
                     ngbTooltip="Edit trackerualization" tooltipClass="utm-tooltip-top"></i>

                  <i (click)="deleteNotifications(tracker)" class="icon-cross2 cursor-pointer"
                     ngbTooltip="Delete trackerualization"
                     placement="left"
                     tooltipClass="utm-tooltip"></i>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="(notifications===null && !loading)">
            <tr>
              <td colspan="5">
                <app-no-data-found></app-no-data-found>
              </td>
            </tr>
            </tbody>
            <tbody *ngIf="loading">
            <tr>
              <td colspan="5">
                <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
                  <app-utm-spinner [height]="'35px'"
                                   [label]="'Loading notifications config'"
                                   [loading]="loading"
                                   [width]="'35px'">
                  </app-utm-spinner>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="notifications && notifications.length>0" class="mb-4">
          <div class="row justify-content-center">
            <ngb-pagination
              (pageChange)="loadPage($event)"
              [(page)]="page"
              [boundaryLinks]="true"
              [collectionSize]="totalItems"
              [maxSize]="5"
              [pageSize]="itemsPerPage"
              [rotate]="true"
              [size]="'sm'"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


