<div style="max-height: 430px" class="card h-100 pt-3">
  <div class="card border-0 m-0 p-2">
    <span *ngIf="report" class="mb-2">
      Selected:&nbsp;
      <span class="text-primary">
        {{report.associatedDashboard.name}}
      </span>
    </span>
    <div class="d-flex justify-content-around mb-3">
      <ng-select (change)="filterBySelect($event,'standard')"
                 [(ngModel)]="standard"
                 [clearable]="true"
                 [items]="standards"
                 [searchable]="false"
                 [bindLabel]="'standardName'"
                 [bindValue]="'id'"
                 class="has-minimum-width mr-3"
                 placeholder="Standard"
                 style="width: 50%"
      ></ng-select>
      <ng-select (change)="filterBySelect($event,'type')"
                 [(ngModel)]="section"
                 [clearable]="true"
                 [items]="standardSections"
                 [bindLabel]="'standardSectionName'"
                 [bindValue]="'id'"
                 [searchable]="false"
                 class="has-minimum-width"
                 placeholder="Section"
                 style="width: 50%"
      ></ng-select>
    </div>
    <div class="d-flex justify-content-between align-items-center w-100">
      <app-utm-search-input (searchFor)="onSearchDashboard($event)"
                            [searching]="searching"
                            class="w-100"
                            placeholder="Search report">
      </app-utm-search-input>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table text-nowrap">
      <tbody *ngIf="standardSections && standardSections.length > 0">
      <tr *ngFor="let report of complianceReports">
        <td colspan="1">
          <div (click)="selectDashboard(report)"
               class="cursor-pointer text-blue-800 d-flex justify-content-between align-items-center">
           <span class="span-small-icon">
              <i [ngClass]="idReport === report.id?'icon-radio-checked':'icon-radio-unchecked'"></i>
             <span class="text-blue-800 ml-2">{{report.associatedDashboard.name}}</span>
           </span>
            <span class="span-small-icon">
            <i *ngIf="report.associatedDashboard.description" [ngbTooltip]="report.associatedDashboard.description"
               class="icon-question3"
               placement="left" tooltipClass="utm-tooltip-left"></i>
              </span>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="(complianceReports.length === 0 && !loading)">
      <tr>
        <td colspan="5">
          <app-no-data-found></app-no-data-found>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td colspan="5">
          <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
            <app-utm-spinner [height]="'35px'"
                             [label]="'Loading ports'"
                             [loading]="loading"
                             [width]="'35px'">
            </app-utm-spinner>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="complianceReports && complianceReports.length>0" class="mb-4 mt-2">
    <div class="row justify-content-center">
      <ngb-pagination
        (pageChange)="loadPage($event)"
        [(page)]="page"
        [boundaryLinks]="true"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [pageSize]="itemsPerPage"
        [rotate]="true"
        [size]="'sm'"></ngb-pagination>
    </div>
  </div>
</div>
