.delete {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.default {
  //color: #fff;
  //background-color: #0d47a1;
  //border-color: #0d47a1;
}

.modal-message {
  font-size: 15px !important;
}
