#minutes,
#seconds {
  font-size: 30px !important;
  font-weight: 500;
}

@media (max-height: 900px) {
  #minutes,
  #seconds {
    font-size: 26px !important;
  }
}

@media (max-height: 750px) {
  #minutes,
  #seconds {
    font-size: 22px !important;
  }
}

@media (max-height: 650px) {
  #minutes,
  #seconds {
    font-size: 18px !important;
  }
}
