<div class="query-suggestions card">
  <div class="d-flex justify-content-between pl-2 pt-2 pb-0">
    <span class="font-weight-semibold">SQL Query Suggestions</span>
  </div>
  <ul class="p-2">
    <li class="card-field" *ngFor="let q of queries" (click)="onSelect(q.query)">
        <span class="d-flex flex-grow-1 flex-nowrap overflow-hidden">
          <span class="d-flex align-items-center mr-1">
            <i class="icon-file-text2 top-0"></i>
          </span>
          <span>
              {{ q.label }}
          </span>
      </span>
    </li>
  </ul>
</div>
