<app-utm-modal-header [name]="'Change password'"></app-utm-modal-header>
<div class="p-3">
  <div *ngIf="success" class="alert alert-success">
    <strong>Password changed!</strong>
  </div>
  <div *ngIf="error" class="alert alert-danger">
    <strong>An error has occurred!</strong> The password could not be changed.
  </div>
  <div *ngIf="doNotMatch" class="alert alert-danger">
    The password and its confirmation do not match!
  </div>
  <form #passwordForm="ngForm" (ngSubmit)="changePassword()" name="form" role="form">
    <div class="form-group">
      <label class="" for="currentPassword">Current password</label>
      <input #currentPasswordInput="ngModel" [(ngModel)]="currentPassword" class="form-control" id="currentPassword"
             name="currentPassword"
             required type="password">
      <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
        <small *ngIf="currentPasswordInput.errors.required"
               class="form-text text-danger">
          Your password is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="" for="newPassword">New password</label>
      <input #newPasswordInput="ngModel" [(ngModel)]="newPassword" class="form-control mb-2" id="newPassword"
             maxlength=50
             minlength=4
             name="newPassword" required type="password">
      <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid" class="mb-2">
        <small *ngIf="newPasswordInput.errors.required"
               class="form-text text-danger">
          Your password is required.
        </small>
        <small *ngIf="newPasswordInput.errors.minlength"
               class="form-text text-danger">
          Your password is required to be at least 4 characters.
        </small>
        <small *ngIf="newPasswordInput.errors.maxlength"
               class="form-text text-danger">
          Your password cannot be longer than 50 characters.
        </small>
      </div>
      <app-password-strength-bar [passwordToCheck]="newPassword"></app-password-strength-bar>
    </div>
    <div class="form-group">
      <label class="" for="confirmPassword">New password confirmation</label>
      <input #confirmPasswordInput="ngModel" [(ngModel)]="confirmPassword" class="form-control" id="confirmPassword"
             maxlength=50
             minlength=4
             name="confirmPassword" required type="password">
      <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
        <small *ngIf="confirmPasswordInput.errors.required"
               class="form-text text-danger">
          Your confirmation password is required.
        </small>
        <small *ngIf="confirmPasswordInput.errors.minlength"
               class="form-text text-danger">
          Your confirmation password is required to be at least 4 characters.
        </small>
        <small *ngIf="confirmPasswordInput.errors.maxlength"
               class="form-text text-danger">
          Your confirmation password cannot be longer than 50 characters.
        </small>
      </div>
    </div>

    <div class="w-100 pt-2 d-flex justify-content-end">
      <button (click)="activeModal.close()"
              class="btn utm-button utm-button-grey mr-3">
        Cancel
      </button>
      <button [disabled]="passwordForm.form.invalid" class="btn utm-button utm-button-primary"
              type="submit">
        <i class="icon-database-insert"></i>&nbsp;Change password
      </button>
    </div>
  </form>

</div>

