:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}


.message-container {
  overflow-y: auto;
  height: 70vh;
}

.card-detail {
  height: 100%;
  box-sizing: border-box;
  display: block
}
