<div class="card">
  <div class="card-header card-header-chart p-2 d-flex
   justify-content-between align-items-center bg-white">
    <label class="card-title label-header text-blue-800">
      {{header}}
    </label>
    <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)"
                             [invertContent]="true"
                             [timeDefault]="defaultTime">
    </app-elastic-filter-time>
  </div>

  <div class="card-body p-2 w-100">
    <div *ngIf="loadingOption"
         class="loading-chart w-100 h-100
                 chart chart-fixed-height
                 d-flex justify-content-center
                 align-items-center">
      <app-utm-spinner [loading]="loadingOption"
                       label="Loading chart">
      </app-utm-spinner>
    </div>
    <div *ngIf="!loadingOption" class="table-responsive w-100 chart-fixed-height">
      <table class="table text-nowrap">
        <thead *ngIf="data && data.columns.length>0">
        <tr>
          <th (sort)="onSort($event)"
              *ngFor="let column of data.columns"
              [sortable]="column"
              appColumnSortable class="font-weight-semibold text-uppercase cursor-pointer" scope="col">
            {{column}}
          </th>
        </tr>
        </thead>
        <tbody *ngIf="data && data.rows && data.rows.length>0 && !loadingOption">
        <tr *ngFor="let row of data.rows |slice:pageStart:pageEnd; let index = index">
          <td (click)="rowEvent(row)" *ngFor="let td of row;let index=index"
              class="cursor-pointer'">
            <span *ngIf="td" [ngClass]="{'text-blue-800 cursor-pointer':index===0}">
              {{td}}
            </span>
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="data && data.rows && data.rows.length===0 && !loadingOption">
        <tr>
          <td [attr.colspan]="data.columns.length" style="padding-top: 75px !important;">
            <app-no-data-found></app-no-data-found>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="data && data.columns.length>0" class="row justify-content-center mb-3">
        <ngb-pagination
          (pageChange)="loadPage($event)"
          [(page)]="page"
          [boundaryLinks]="true"
          [collectionSize]="totalItems"
          [maxSize]="5"
          [pageSize]="itemsPerPage"
          [rotate]="true"
          [size]="'sm'"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

