<div class="card h-100">
  <div class="card-header p-2 w-100">
    <div class="d-flex justify-content-end align-items-center">
      <div class="ml-3">
        <app-utm-search-input (searchFor)="onSearch($event)"
                              [placeholder]="'Search by assets'"></app-utm-search-input>
      </div>
    </div>
  </div>
  <div class="table-responsive resizable-table-responsive h-100">
    <table class="table text-nowrap">
      <thead>
      <tr>
        <th (sort)="onSortBy($event)"
            [isSortable]="true"
            [sortEvent]="sortEvent"
            [sortable]="'assetName'"
            appColumnSortable
            class="font-weight-semibold cursor-pointer pl-4">
          Name
        </th>
        <th class="font-weight-semibold cursor-pointer">
          Hostnames
        </th>
        <th class="font-weight-semibold cursor-pointer">
          IP Addresses
        </th>
        <th class="font-weight-semibold cursor-pointer pr-4" style="width: 20px">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let asset of assets$ | async; trackBy: trackByFn" class="cursor-pointer">

        <td class="pl-4">
          {{ asset.assetName }}
        </td>

        <td>
          <ul>
            <li *ngFor="let hostname of asset.assetHostnameList">
              <span class="font-size-sm">{{ hostname }}</span>
            </li>
          </ul>
        </td>

        <td>
          <ul>
            <li *ngFor="let ip of asset.assetIpList">
              <span class="font-size-sm">{{ ip }}</span>
            </li>
          </ul>
        </td>

        <td class="td-action pr-4">
          <div class="d-flex justify-content-end align-items-center medium-icon">

            <i (click)="editAsset(asset)" class="icon-pencil3 cursor-pointer ml-2"
               ngbTooltip="Edit"
               container="body"
               placement="left"></i>

            <i (click)="deleteAsset($event, asset)" class="icon-cross2 cursor-pointer ml-2"
               ngbTooltip="Delete"
               container="body"
               placement="auto"></i>
          </div>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="assets.length === 0">
      <tr>
        <td [attr.colspan]="fields.length + 1">
          <app-no-data-found></app-no-data-found>
        </td>
      </tr>
      </tbody>
      <tbody *ngIf="loading">
      <tr>
        <td [attr.colspan]="fields.length + 1">
          <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
            <app-utm-spinner [height]="'35px'"
                             [label]="'Loading...'"
                             [loading]="loading"
                             [width]="'35px'">
            </app-utm-spinner>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mb-3 mt-3">
    <div class="row justify-content-center">
      <ngb-pagination (pageChange)="loadPage($event)"
                      [(page)]="page"
                      [boundaryLinks]="true"
                      [collectionSize]="totalItems"
                      [maxSize]="10"
                      [pageSize]="itemsPerPage"
                      [rotate]="true"
                      [size]="'sm'"></ngb-pagination>
      <app-utm-items-per-page (itemsInPage)="onItemsPerPageChange($event)"
                              class="ml-3">
      </app-utm-items-per-page>
    </div>
  </div>
</div>



