<ng-select (change)="select($event, filter)"
           [closeOnSelect]="true"
           [clearable]="filter.clearable"
           [items]="values"
           [(ngModel)]="model"
           [loadingText]="filter.loadingText"
           [maxSelectedItems]="filter.maxSelectedItems"
           [multiple]="filter.multiple"
           [virtualScroll]="true"
           [loading]="isLoading"
           [hideSelected]="true"
           [placeholder]="filter.placeholder"
           bindLabel="name"
           bindValue="name"
           class="ml-2 mr-2"
           id="id"
           [ngStyle]="{'max-width.px': fullWidth ? 'unset' : '300', 'min-width.px': fullWidth ? 'unset' : '200'}">
  <ng-template let-item="item" ng-option-tmp>
    <span class="span-small-icon" title="{{item}}">{{item}}</span>
  </ng-template>
</ng-select>
