<div class="card">
  <div class="card-header card-header-chart p-2 d-flex
   justify-content-between align-items-center bg-white">
    <label class="card-title label-header text-blue-800">
      Events over time
    </label>
    <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)"
                             [invertContent]="true"
                             [timeDefault]="defaultTime">
    </app-elastic-filter-time>
  </div>
  <div *ngIf="data$ | async" class="card-body p-2">
    <div *ngIf="loadingPieOption"
         class="loading-chart w-100 h-100
                 chart chart-fixed-height
                 d-flex justify-content-center
                 align-items-center">
      <app-utm-spinner [height]="'35px'" [loading]="loadingPieOption" [width]="'35px'"
                       label="Loading chart">
      </app-utm-spinner>
    </div>
    <div *ngIf="!loadingPieOption && noData"
         class="chart chart-fixed-height">
      <app-no-data-chart [typeChart]="chartEnumType.LINE_CHART"></app-no-data-chart>
    </div>
    <div (chartClick)="onChartClick($event)"
         *ngIf="!loadingPieOption && !noData"
         [autoResize]="true"
         [options]="multilineOption"
         class="chart-fixed-height"
         echarts></div>
  </div>
</div>
