<nav class="federation-sidebar d-flex flex-row align-items-center">
  <ul class="federation-sidebar-list">
    <li class="federation-sidebar-item">
      <app-federation-sidebar-instances></app-federation-sidebar-instances>
    </li>

    <li class="federation-sidebar-item"
        [class.active]="isActive('/federation/welcome') || isActive('/federation/instances')"
        routerLink="/federation/welcome">
      <a class="federation-sidebar-link"
         container="body"
         ngbTooltip="Federation Overview"
         placement="bottom"
         tooltipClass="utm-tooltip">
        <i class="federation-sidebar-fa icon-cloud-check2"></i>
      </a>
    </li>
  </ul>
</nav>
