<app-utm-modal-header [name]="'Add action'"></app-utm-modal-header>
<div class="container-fluid p-3 pt-3">
  <div class="alert alert-warning alert-styled-right mb-4 mt-3 alert-dismissible">
    <span>Warning! You may cause damage to the infrastructure and services of your organization, please review the automation command before saving it</span>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="name">Action:</label>
          <input [ngClass]="{'is-invalid': form.get('title').invalid && form.get('title').touched}"
                 class="form-control" formControlName="title" id="title"
                 type="text">
          <div *ngIf="form.get('title').invalid && form.get('title').touched" class="invalid-feedback">
            <div *ngIf="form.get('title').errors['required']">Action is required.</div>
            <div *ngIf="form.get('title').errors['minlength']">Minimum length is 5 characters.</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="category">Description:</label>
          <input [ngClass]="{'is-invalid': form.get('description').invalid && form.get('description').touched}"
                 class="form-control" formControlName="description" id="description"
                 type="text">
          <div *ngIf="form.get('description').invalid && form.get('description').touched" class="invalid-feedback">
            <div *ngIf="form.get('description').errors['required']">Description is required.</div>
            <div *ngIf="form.get('description').errors['minlength']">Minimum length is 5 characters.</div>
          </div>
        </div>
      </div>
    </div>
  <span class="font-size-lg mb-2">
    <i class="icon-keyboard"></i> Press <b>TAB</b> to use alert fields in the command
  </span>
  <div class="window mb-3">
    <div class="terminal">
      <div class="d-flex justify-content-start align-items-start">
          <span class="console-info"
                [ngbPopover]="colContent" #autocomplete [autoClose]="true" triggers="manual" #p=ngbPopover
                [popoverClass]="'popover-450'"
                container="body" placement="left">
            $
          </span>
        <textarea formControlName="command" (keydown.tab)="p.open()"
                  #area
                  class="command ml-2"
                  rows="10"
                  placeholder="Enter command here">
        </textarea>
      </div>

      <ng-template #colContent>
        <app-incident-variable-select
          (variableSelected)="insertVariablePlaceholder($event)"></app-incident-variable-select>

        <h6 class="font-weight-semibold mt-3 mb-2">Alert fields</h6>
        <ul class="w-100">
          <li *ngFor="let field of alertFields"
              (click)="insertFieldPlaceholder(field.field); p.close(); area.focus()"
              class="cursor-pointer font-size-base d-flex justify-content-between align-items-center mb-1">
            {{ field.label }} <code>$({{ field.field }})</code>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>

  <div class="button-container d-flex justify-content-end mt-auto pt-3 w-100">
    <button (click)="close()" class="btn utm-button utm-button-outline-primary ng-star-inserted">
     Cancel
    </button>

    <button [disabled]="!form.valid" (click)="create()" class="btn utm-button utm-button-primary ml-2 ng-star-inserted">
      {{ action ? 'Update' : 'Create' }}
    </button>
  </div>
  </form>
</div>
