<div class="d-flex flex-1 flex-column gap-8 overflow-hidden p-4 ma-h-620 h-50">
  <div class="d-flex flex-1 flex-column gap-6 overflow-hidden">
    <div class="d-flex flex-1 flex-grow-0 flex-column space-y-1 text-left h-100">
      <h2 id="radix-:rf8:" class="font-semibold tracking-tight line-clamp-1 flex items-center pb-0.5 text-base">Get started</h2>
      <p id="radix-:rf9:" class="text-muted-foreground line-clamp-2 text-sm">Start with templates showcasing common response playbooks and workflows.</p>

      <div class="d-flex flex-column mt-3 px-1">
        <app-utm-search-input
          (searchFor)="searchByRule($event)"
          [placeholder]="'Search workflows '"
          class="w-100">
        </app-utm-search-input>
      </div>

      <div class="playbook-list-container m-h-0 d-flex flex-column gap-3 overflow-auto mt-3 px-1">
        <div (click)="createNewPlaybook({ id: item.id, template: true })" *ngFor="let item of playbookService.playbooks$ | async; trackBy: trackByFn"
             class="playbook-item-card d-flex align-items-center rounded border p-3 cursor-pointer">

          <div class="playbook-icon-small d-flex justify-content-center align-items-center flex-shrink-0">
            <i class="fa fa-sitemap"></i>
          </div>

          <div class="playbook-content d-flex flex-column flex-grow-1 min-w-0">
            <div class="d-flex align-items-center justify-content-between mb-1">
              <span class="playbook-title">{{ item.name }}</span>
              <i class="fa fa-chevron-right playbook-arrow"></i>
            </div>
            <p class="playbook-description">
              {{ item.description }}
            </p>
            <div class="playbook-date">
              <i class="fa fa-clock-o"></i>
              <span>Edited {{ item.createdDate | relativeTime }}</span>
            </div>
          </div>
        </div>

        <div *ngIf="(playbookService.playbooks$ | async)?.length === 0" class="col-12 text-center py-5">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <i class="fa fa-sitemap text-muted mb-3" style="font-size: 48px;"></i>
            <h4 class="mb-2 fw-semibold text-muted">Let's get started</h4>
            <p class="text-muted mb-0">No predefined flows were found. Create your first one to begin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-shrink-0 flex-row-reverse">
    <div class="d-flex w-100 justify-content-between align-items-center gap-4 pb-4 border-top pt-4">
      <div class="d-flex flex-column items-start justify-center">
        <div class="font-semibold text-dark">Start from scratch</div>
        <div class="text-sm text-muted-foreground">Begin with a fresh flow to build from scratch.</div>
      </div>
      <button (click)="createNewPlaybook()" class="btn utm-button utm-button-primary d-flex align-items-center">
        <i class="fa fa-plus mr-2"></i>
        New blank flow
      </button>
    </div>
  </div>
</div>

<button (click)="activeModal.dismiss('closed')" aria-label="Close"
        class="position-absolute right-2 top-2 h-8 w-8" data-dismiss="modal"
        type="button">
  <div class="close-modal-icon"></div>
</button>
