<div class="d-flex flex-wrap">
  <ng-container *ngFor="let field of field.fields">
    <div class="me-3">
      <ng-container *ngIf="field.visible && getValue(field.field)">
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_BYTES_SENT_FIELD ,ALERT_ADVERSARY_BYTES_SENT_FIELD])">
          <app-alert-badge-field [tooltip]="'Bytes sent'" [iconClass]="'icon-arrow-up-right2'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_HOST_FIELD ,ALERT_ADVERSARY_HOST_FIELD])">
          <app-alert-badge-field [tooltip]="'Host'" [iconClass]="'icon-display'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_ADVERSARY_USER_FIELD ,ALERT_TARGET_USER_FIELD])">
          <app-alert-badge-field [tooltip]="'User'" [iconClass]="'icon-user'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_URL_FIELD ,ALERT_ADVERSARY_URL_FIELD])">
          <app-alert-badge-field [tooltip]="'Url'" [iconClass]="'icon-link'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_DOMAIN_FIELD ,ALERT_ADVERSARY_DOMAIN_FIELD])">
          <app-alert-badge-field [tooltip]="'Domain'" [iconClass]="'icon-server'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_GEOLOCATION_LATITUDE_FIELD, ALERT_ADVERSARY_GEOLOCATION_LATITUDE_FIELD])">
          <app-alert-badge-field [tooltip]="'Latitude'" [iconClass]="'icon-location3'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_GEOLOCATION_LONGITUDE_FIELD, ALERT_ADVERSARY_GEOLOCATION_LONGITUDE_FIELD])">
          <app-alert-badge-field [tooltip]="'Longitude'" [iconClass]="'icon-location3'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_GEOLOCATION_ASN_FIELD, ALERT_ADVERSARY_GEOLOCATION_ASN_FIELD])">
          <app-alert-badge-field [tooltip]="'Asn'" [iconClass]="'icon-server'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <div *ngIf="isInclude(field.field, [ALERT_TARGET_GEOLOCATION_ASO_FIELD, ALERT_ADVERSARY_GEOLOCATION_ASO_FIELD])">
          <app-alert-badge-field [tooltip]="'Aso'" [iconClass]="'icon-briefcase'" [value]="getValue(field.field)"></app-alert-badge-field>
        </div>
        <app-alert-ip *ngIf="isInclude(field.field, [ALERT_TARGET_IP_FIELD ,ALERT_ADVERSARY_IP_FIELD])" [alert]="alert" [type]="type"></app-alert-ip>
      </ng-container>
    </div>
  </ng-container>
</div>
