<app-utm-modal-header [name]="'Reset your password'"></app-utm-modal-header>
<div class="p-3">
  <div class="d-flex flex-column confirm-container w-100 h-100 justify-content-center align-items-center">
    <img alt="" src="/assets/icons/utm/forgot_password.svg">
  </div>
  <div class="d-flex justify-content-center mt-3">
    <div class="reset-container">
      <div *ngIf="errorEmailNotExists" class="alert alert-danger">
        <strong>Email address isn't registered!</strong> Please check and try again.
      </div>

      <div *ngIf="success === 'OK'" class="alert alert-success">
        <p>Check your emails for details on how to reset your password.</p>
      </div>

      <form #resetRequestForm="ngForm" (ngSubmit)="requestReset()" *ngIf="!success" name="form" role="form">
        <div class="form-group">
          <span class="form-control-label" for="email">Email</span>
          <input #emailInput="ngModel" [(ngModel)]="resetAccount.email" class="form-control" email id="email"
                 maxlength=254 minlength=5 name="email" placeholder="Your email" required type="email">
          <div *ngIf="emailInput.dirty && emailInput.invalid">
            <small *ngIf="emailInput.errors.required"
                   class="form-text text-danger">
              Your email is required.
            </small>
            <small *ngIf="emailInput.errors.email"
                   class="form-text text-danger">
              Your email is invalid.
            </small>
            <small *ngIf="emailInput.errors.minlength"
                   class="form-text text-danger">
              Your email is required to be at least 5 characters.
            </small>
            <small *ngIf="emailInput.errors.maxlength"
                   class="form-text text-danger">
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button [disabled]="resetRequestForm.form.invalid || sending"
                  class="btn btn-block utm-button utm-button-primary"
                  type="submit">
            <i [ngClass]="sending?'icon-spinner2 spinner':'icon-mail-read'"></i>
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
