@import "../../../../../../assets/styles/theme";
@import "../../../../../../assets/styles/var";

.reset-container {
  width: 400px;
}

.header-email {
  margin-bottom: 15px;

  .email {
    width: 100px;
    height: 100px;
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    position: relative;


    i {
      font-size: 40px;
    }
  }
}

.arrow-span {
  span {
    width: 30px;
    height: 3px;
    background-color: white;
  }
}

.confirm-container {
  img {
    height: 130px;
    width: 130px;
  }
}
