<div class="row p-3">
  <div class="col-4">
    <div class="row mt-2">
      <div class="col-3">
        <span class="font-weight-semibold">Name:</span>
      </div>
      <div class="col-9">
        <span [innerHTML]="asset.assetName" class="font-weight-light">
      </span>
      </div>
    </div>

    <div *ngIf="asset.assetHostnameList.length > 0" class="mt-2 row justify-content-start align-items-center">
      <div class="col-3">
        <span class="font-weight-semibold">{{ asset.assetHostnameList.length > 1 ? 'Hosts' : 'Host' }}:</span>
      </div>
      <div class="col-9">
            <span *ngFor="let host of asset.assetHostnameList" [ngbTooltip]="host"
                  placement="auto"
                  container="body"
                  class="badge border-blue-800 border-1 mr-1 mb-1 p-1 text-blue-800">
                        {{ host }}
             </span>
      </div>
    </div>

    <div *ngIf="asset.assetHostnameList.length > 0" class="mt-2 row justify-content-start align-items-center">
      <div class="col-3">
        <span class="font-weight-semibold">{{ asset.assetIpList.length > 1 ? 'Ips' : 'Ip' }}:</span>
      </div>
      <div class="col-9">
            <span *ngFor="let ip of asset.assetIpList" [ngbTooltip]="ip"
                  placement="auto"
                  container="body"
                  class="badge border-blue-800 border-1 mr-1 mb-1 p-1 text-blue-800">
                        {{ ip }}
             </span>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="w-100 mt-2 row">
      <div class="col-3">
        <span class="font-weight-semibold">Confidentiality:</span>
      </div>
      <div class="col-9">
        <app-incident-severity [severity]="getSeverity(asset.assetConfidentiality)"></app-incident-severity>
      </div>
    </div>

    <div class="w-100 row mt-2">
      <div class="col-3">
        <span class="font-weight-semibold">Integrity:</span>
      </div>
      <div class="col-9">
        <app-incident-severity [severity]="getSeverity(asset.assetIntegrity)"></app-incident-severity>
      </div>
    </div>

    <div class="w-100 mt-2 row">
      <div class="col-3">
        <span class="font-weight-semibold">Availability:</span>
      </div>
      <div class="col-9">
        <app-incident-severity [severity]="getSeverity(asset.assetAvailability)"></app-incident-severity>
      </div>
    </div>
  </div>
</div>
