<div class="agent-info">
  <div class="d-flex justify-content-between align-items-center flex-wrap pb-2 border-bottom">
    <div>
      <h5 class="mb-0 text-uppercase">{{ agent.hostname }}</h5>
      <span class="text-muted">{{ agent.platform }}</span>
    </div>
    <div class="d-flex flex-column align-items-end mt-2 mt-md-0">
      <span class="badge" [ngClass]="statusClass(agent.status)">{{ agent.status }}</span>
    </div>
  </div>

  <div class="agent-technical">

    <dl class="technical-list">
      <div *ngIf="agent.ip">
        <dt>IP Address</dt>
        <dd>{{ agent.ip }}</dd>
      </div>

      <div *ngIf="agent.version">
        <dt>Operating System</dt>
        <dd>{{ agent.version }}</dd>
      </div>

      <div *ngIf="agent.osMajorVersion || agent.osMinorVersion">
        <dt>OS Version</dt>
        <dd>
          {{ agent.osMajorVersion || '—' }}{{ agent.osMinorVersion !== null ? '.' + agent.osMinorVersion : '' }}
        </dd>
      </div>

      <div *ngIf="agent.platform">
        <dt>Platform</dt>
        <dd class="d-flex align-items-center gap-3">

          <div *ngIf="agent.platform" class="d-flex align-items-center gap-1 ">
            <i [ngClass]="platformIcon(agent.platform)" class="fs-6 mr-1" aria-hidden="true"></i>
            {{ platformLabel(agent.platform) | titlecase }}
          </div>

        </dd>
      </div>

      <div *ngIf="agent.lastSeen">
        <dt>Last Seen</dt>
        <dd>{{ agent.lastSeen | date:'medium' }}</dd>
      </div>

      <div *ngIf="agent.aliases">
        <dt>Aliases</dt>
        <dd class="d-flex flex-wrap gap-2">
          <span *ngFor="let alias of agent.aliases.split(',')" class="badge border-blue-800 border-1 mr-1 mb-1 p-1 text-blue-800">
            {{ alias.trim() }}
          </span>
        </dd>
      </div>


    </dl>
  </div>

</div>
