<app-utm-modal-header [name]="(rule?'Edit':'Create') + ' incident response automation'"></app-utm-modal-header>
<div class="container-fluid p-3 pt-5">
  <div class="d-flex flex-column justify-content-start align-items-start pb-3">
    <div class="step-container wizard-step">
      <div class="step">
        <span class="text-blue-800 font-weight-bold step-title">
          Automation
        </span>
        <div [ngClass]="isCompleted(1)?'step-success':step===1?'step-active':'step-inactive'"
             class="round-indicator">

          <i class="step-icon"  [ngClass]="isCompleted(1)?'icon-checkmark3':'icon-file-css'"></i>

        </div>
      </div>
      <div class="step-link">
        <div class="line w-100"></div>
      </div>
      <div class="step">
         <span class="text-blue-800 font-weight-bold step-title">
          Trigger
        </span>
        <div [ngClass]="isCompleted(2)?'step-success':step===2?'step-active':'step-inactive'"
             class="round-indicator">

          <i class="step-icon"  [ngClass]="isCompleted(2)?'icon-checkmark3':'icon-power2'"></i>

        </div>
      </div>
      <div class="step-link">
        <div class="line w-100"></div>
      </div>
      <div class="step">
          <span class="text-blue-800 font-weight-bold step-title">
          Action
        </span>
        <div [ngClass]="isCompleted(3)?'step-success':step===3?'step-active':'step-inactive'"
             class="round-indicator">

          <i class="step-icon"  [ngClass]="isCompleted(3)?'icon-checkmark3':'icon-terminal'"></i>

        </div>
      </div>
      <div class="step-link">
        <div class="line w-100"></div>
      </div>
      <div class="step">
          <span class="text-blue-800 font-weight-bold step-title">
          Summary
        </span>
        <div [ngClass]="isCompleted(4) ? 'step-success':step === 4 ?'step-active' : 'step-inactive'"
             class="round-indicator">

          <i class="step-icon"  [ngClass]="isCompleted(4) ? 'icon-checkmark3' : 'icon-eye'"></i>

        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="formRule">
    <div *ngIf="step===1" class="configure-step mt-3">
      <div class="form-group">
        <label class="pb-1" for="name">Name</label>
        <div class="input-group">
          <span class="input-group-text">{{ rulePrefix }}</span>
          <input [ngClass]="inputClass.resolveClassInput(formRule.get('name'))"
                 class="border-1 border-grey-600 form-control" formControlName="name"
                 id="name"
                 name="">
        </div>

        <app-formcontrol-error [formcontrol]="formRule.get('name')"></app-formcontrol-error>
        <div *ngIf="typing && formRule.get('name').valid"
             class="checking-tag-name d-flex justify-content-start align-items-center mt-1 span-small-icon">
          <i class="icon-spinner2 spinner mr-2"></i>
          <span>Checking rule name...</span>
        </div>
        <div *ngIf="exist && !typing"
             class="checking-tag-name d-flex justify-content-start align-items-center text-danger-300 mt-1 span-small-icon">
          <i class="icon-copy4 mr-2"></i>
          <span>Rule name already exist</span>
        </div>
        <div *ngIf="!exist && !typing && formRule.get('name').value!==''"
             class="checking-tag-name d-flex justify-content-start align-items-center text-blue-800 mt-1 span-small-icon">
          <i class="icon-checkmark-circle mr-2"></i>
          <span>Rule name is valid</span>
        </div>
      </div>
      <div class="form-group">
        <label class="pb-1" for="description">Description
          ({{ maxLength - formRule.get('description').value.length }})</label>
        <textarea [ngClass]="inputClass.resolveClassInput(formRule.get('description'))"
                  [maxLength]="maxLength"
                  class="border-1 border-grey-600 form-control" formControlName="description"
                  id="description"
                  name=""
                  rows="5"></textarea>
        <app-formcontrol-error [formcontrol]="formRule.get('description')"></app-formcontrol-error>
      </div>

      <app-utm-toggle (toggleChange)="formRule.get('active').setValue($event)"
                      [active]="formRule.get('active').value"
                      [emitAtStart]="false"
                      [label]="'Incident response automation is active'">
      </app-utm-toggle>
    </div>
    <div *ngIf="step===2" class="configure-step mt-3 mb-3">

      <div class="w-100">
        <div formArrayName="conditions">
          <div *ngFor="let condition of ruleConditions.controls; let i = index" [formGroupName]="i"
               class="d-flex justify-content-between align-items-center mb-3">
            <ng-select [clearable]="false"
                       placeholder="Select field"
                       [items]="alertFields"
                       class="w-30"
                       [loadingText]="'Loading alert fields...'"
                       [loading]="!alertFields"
                       bindLabel="label"
                       bindValue="field"
                       formControlName="field"
                       (change)="onChangeField($event,i)"
                       id="alertField">
            </ng-select>
            <span class="font-size-lg mr-3 ml-3">IS</span>
            <!--            <input type="text" formControlName="value" placeholder="Value"-->
            <!--                   class="border-1 border-grey-600 form-control">-->
            <ng-select [addTagText]="'Add value'"
                       [addTag]="true"
                       [clearable]="false"
                       [hideSelected]="true"
                       [items]="getFieldValues(condition.get('field').value)"
                       [notFoundText]="'There aren\'t any options available, write to add new one'"
                       [loadingText]="'Loading field values....'"
                       [loading]="loadingData(condition.get('field').value)"
                       [multiple]="false"
                       [searchable]="true"
                       class="flex-grow-1 w-30"
                       formControlName="value"
                       id="values">
            </ng-select>
            <i class="icon-cross2 cursor-pointer ml-3" ngbTooltip="Delete condition"
               placement="left"
               (click)="removeRuleCondition(i)"></i>
          </div>
          <div class="d-flex justify-content-between pr-4">
            <div>
              <span *ngIf="ruleConditions.length === 0 || !ruleConditions.valid"
                    class="text-danger-300 font-size-base">
                You must set at least one trigger condition
              </span>
            </div>
            <button class="btn utm-button btn-success align-self-end" (click)="addRuleCondition()">
              <i class="icon-plus22"></i>&nbsp;
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex mt-3 flex-column">
        <div class="col-6 p-0">
          <label class="pb-1" for="exclude">Agent platform is</label>
          <ng-select [clearable]="false"
                     [items]="platforms"
                     [loadingText]="'Loading platforms...'"
                     [loading]="!platforms"
                     (change)="getAgents($event)"
                     formControlName="agentPlatform"
                     [ngClass]="inputClass.resolveClassInput(formRule.get('agentPlatform'))"
                     id="platform">
          </ng-select>
          <app-formcontrol-error [formcontrol]="formRule.get('agentPlatform')"></app-formcontrol-error>
        </div>
        <!--<div class="d-flex flex-column flex-grow-1 mb-3 pl-2">
          <label class="pb-1" for="exclude">Exclude agents</label>
          <ng-select [clearable]="false"
                     [items]="agents"
                     [placeholder]="'Select agents to exclude'"
                     [loadingText]="'Loading agents...'"
                     [virtualScroll]="true"
                     [multiple]="true"
                     formControlName="excludedAgents"
                     (change)="onChangeExclude($event)"
                     bindValue="assetName"
                     bindLabel="assetName"
                     id="exclude">
          </ng-select>
        </div>-->
      </div>
      <div class="d-flex mt-3 flex-column">
        <div class="alert alert-info alert-styled-right mb-2 info-dismissible">
          <span class="font-weight-semibold">Info! </span>
          <span>Select the agent handling strategy for the automation. If <strong>not active</strong>, commands will run on specified platform agents if the trigger conditions and dataSource field value of the alert match. Alternatively, choose a <strong>default agent</strong> to run the automation if no other agent matches the criteria. If this option is <strong>active</strong>, commands will run only on specified platform agents if the trigger conditions and dataSource field value of the alert match, if not, the <strong>automation won't be executed</strong>.</span>
        </div>
          <app-utm-toggle (toggleChange)="onChangeToggle($event)"
                          [active]="formRule.get('agentType').value"
                          [emitAtStart]="false"
                          [customClass]="'pl-3'"
                          [label]="'Run on specific agent'"></app-utm-toggle>
      </div>
      <div *ngIf="!formRule.get('agentType').value" class="d-flex mt-2 flex-column">
        <div class="col-12 p-0">
          <label class="pb-1" for="exclude">Exclude agents</label>
          <ng-select [clearable]="false"
                     [items]="agents"
                     [placeholder]="'Select agents to exclude'"
                     [loadingText]="'Loading agents...'"
                     [virtualScroll]="true"
                     [multiple]="true"
                     formControlName="excludedAgents"
                     (change)="onChangeExclude($event)"
                     bindValue="assetName"
                     bindLabel="assetName"
                     id="exclude">
          </ng-select>
        </div>
        <div class="col-12 p-0">
          <div class="alert alert-info alert-styled-right mt-2 info-dismissible">
            <span class="font-weight-semibold">Info! </span>
            <span>Represents agents where the commands won't run, even if the trigger conditions match</span>
          </div>
        </div>
      </div>
      <div *ngIf="formRule.get('agentType').value" class="d-flex mt-2 flex-column">
        <div  class="col-6 p-0">
          <label class="pb-1" for="exclude">Default agent</label>
          <ng-select [clearable]="false"
                     [items]="agents"
                     [placeholder]="'Select agent'"
                     [loadingText]="'Loading agents...'"
                     [virtualScroll]="true"
                     formControlName="defaultAgent"
                     bindValue="assetName"
                     bindLabel="assetName"
                     id="deafult">
          </ng-select>
        </div>
        <div class="col-12 p-0">
          <div class="alert alert-info alert-styled-right mt-2 info-dismissible">
            <span class="font-weight-semibold">Info! </span>
            <span>Designates the agent to execute the automation when no other agent meets the criteria to serve as the runner for this automation.</span>
          </div>
        </div>
      </div>
      <div *ngIf="platforms.length === 0"
           class="w-100 alert alert-danger alert-styled-right mt-3">
       <span class="font-weight-semibold">
          You need to install at least one agent!
       </span>
      </div>
    </div>
    <div *ngIf="step===3" class="configure-step mt-3 mb-3">
      <span class="font-size-lg mb-2"> <i
        class="icon-keyboard"></i> Press <b>TAB</b> to use alert fields in the command</span>
      <div class="window">
        <div class="terminal">
          <div class="d-flex justify-content-start align-items-start">
          <span class="console-info"
                [ngbPopover]="colContent" #autocomplete [autoClose]="true" triggers="manual" #p=ngbPopover
                [popoverClass]="'popover-450'"
                container="body" placement="left">
            $
          </span>
            <textarea [(ngModel)]="command" [ngModelOptions]="{standalone: true}" (keydown.tab)="p.open()"
                      #area
                      class="command ml-2"
                      rows="10"
                      placeholder="Enter command here"></textarea>
          </div>

          <ng-template #colContent>
            <app-incident-variable-select
              (variableSelected)="insertVariablePlaceholder($event)"></app-incident-variable-select>

            <h6 class="font-weight-semibold mt-3 mb-2">Alert fields</h6>
            <ul class="w-100">
              <li *ngFor="let field of alertFields"
                  (click)="insertFieldPlaceholder(field.field); p.close(); area.focus()"
                  class="cursor-pointer font-size-base d-flex justify-content-between align-items-center mb-1">
                {{ field.label }} <code>$({{ field.field }})</code>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <div class="alert alert-warning alert-styled-right mb-2 mt-3 alert-dismissible">
        <span>Warning! You may cause damage to the infrastructure and services of your organization, please review the automation command before saving it</span>
      </div>
    </div>

    <div *ngIf="step===4" class="configure-step mt-3 mb-3">
      <app-ir-summary
              [formRule]="formRule">
      </app-ir-summary>
    </div>
  </form>
  <div class="button-container d-flex justify-content-end mt-3">
    <button (click)="backStep()" *ngIf="step > 1"
            class="btn utm-button utm-button-primary">
      <i class="icon-arrow-left22"></i>&nbsp;
      Back
    </button>
    <button (click)="nextStep()" *ngIf="step < 4"
            [disabled]="isDisable(step) "
            class="btn utm-button utm-button-primary ml-2">
      Next&nbsp;
      <i class="icon-arrow-right22"></i>
    </button>

    <button (click)="createRule()"
            *ngIf="step===4"
            class="btn utm-button utm-button-primary ml-2">
      <i [ngClass]="creating?'icon-spinner2 spinner':'icon-terminal'"></i>
      {{ rule ? 'Edit' : 'Create' }} automation&nbsp;
    </button>
  </div>
</div>

