<app-utm-modal-header [name]="(rule ?'Edit':'Create') + ' rule'"></app-utm-modal-header>
<div class="modal-content d-flex flex-column p-3">
  <div class="form-body w-100">
    <div class="d-flex justify-content-center">
      <div class="step-container d-flex justify-content-between mt-2 mb-4 w-75">
        <ng-container *ngFor="let step of steps; let i = index">
          <ng-container *ngIf="mode !== 'IMPORT' || step.id !== RULE_FORM.STEP0">
            <div class="step">
              <span class="text-blue-800 font-weight-bold">{{ step.label }}</span>
              <div
                [ngClass]="isCompleted(step.id) ? 'step-success' : currentStep === step.id ? 'step-active' : 'step-inactive'"
                class="round-indicator">
                <i class="text-white font-size-sm top-0" [ngClass]="isCompleted(step.id) ? 'icon-checkmark3' : step.icon"></i>
              </div>
            </div>
            <div class="step-link" *ngIf="i < steps.length - 1"></div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div [hidden]="currentStep != RULE_FORM.STEP0">
      <div class="d-flex  mt-3 flex-column">
        <div class="alert alert-info alert-styled-right mb-2 info-dismissible w-100">
          <span class="font-weight-semibold">Info! </span>
          The rule import process requires a valid file with a <strong>.yml</strong> extension.
        </div>
      </div>
      <app-utm-file-upload (fileEmit)="onFileChange($event)"
                           [acceptTypes]="'.yml'">
      </app-utm-file-upload>
    </div>
    <form *ngIf="currentStep != RULE_FORM.STEP0" [formGroup]="ruleForm">
        <div [hidden]="currentStep != RULE_FORM.STEP1">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="name">Name:</label>
              <input [ngClass]="{'is-invalid': ruleForm.get('name').invalid && ruleForm.get('name').touched}"
                     class="form-control" formControlName="name" id="name"
                     type="text">
              <div *ngIf="ruleForm.get('name').invalid && ruleForm.get('name').touched"
                   class="invalid-feedback">
                Name is required.
              </div>
              <div *ngIf="ruleForm.get('name').errors && ruleForm.get('name').errors['minWords'] && ruleForm.get('name').touched" class="invalid-feedback">
                Please enter at least {{ ruleForm.get('name').errors['minWords'].requiredWords }} words,
                each with at least {{ ruleForm.get('name').errors['minWords'].minLengthPerWord }} characters.
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="category">Category:</label>
              <input [ngClass]="{'is-invalid': ruleForm.get('category').invalid && ruleForm.get('category').touched}"
                     class="form-control" formControlName="category" id="category"
                     type="text">
              <div *ngIf="ruleForm.get('category').invalid && ruleForm.get('category').touched"
                   class="invalid-feedback">
                Category is required.
              </div>
              <div *ngIf="ruleForm.get('category').errors && ruleForm.get('category').errors['minWords'] && ruleForm.get('category').touched" class="invalid-feedback">
                Please enter at least {{ ruleForm.get('category').errors['minWords'].requiredWords }} words,
                each with at least {{ ruleForm.get('category').errors['minWords'].minLengthPerWord }} characters.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="technique">Technique:</label>
              <input [ngClass]="{'is-invalid': ruleForm.get('technique').invalid && ruleForm.get('technique').touched}"
                     class="form-control" formControlName="technique" id="technique"
                     type="text">
              <div *ngIf="ruleForm.get('technique').invalid && ruleForm.get('technique').touched"
                   class="invalid-feedback">
                Technique is required.
              </div>
              <div *ngIf="ruleForm.get('technique').errors && ruleForm.get('technique').errors['minWords'] && ruleForm.get('technique').touched" class="invalid-feedback">
                Please enter at least {{ ruleForm.get('technique').errors['minWords'].requiredWords }} words,
                each with at least {{ ruleForm.get('technique').errors['minWords'].minLengthPerWord }} characters.
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group-select">
              <label>Data Types:</label>
              <ng-select (change)="onDataTypeChange($event)"
                         (scrollToEnd)="loadDataTypes()"
                         [addTag]="true"
                         [items]="(types$ | async)"
                         [loading]="loadingDataTypes"
                         [ngClass]="{'is-invalid': ruleForm.get('dataTypes').invalid && ruleForm.get('dataTypes').touched}"
                         [trackByFn]="trackByFn"
                         [virtualScroll]="true"
                         addTagText="Create New"
                         bindLabel="dataType"
                         class="flex-item type-select"
                         formControlName="dataTypes"
                         multiple="true"
                         placeholder="Choose or add types">
              </ng-select>
              <div *ngIf="ruleForm.get('dataTypes').invalid && ruleForm.get('dataTypes').touched"
                   class="invalid-feedback">
                At least one data type is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <!--<app-references [rule]="rule" [formGroup]="ruleForm"></app-references>-->
            <div class="form-group-select">
              <label>Adversary:</label>
              <ng-select [items]="adversaryTypes"
                         [ngClass]="{'is-invalid': ruleForm.get('adversary').invalid && ruleForm.get('adversary').touched}"
                         [virtualScroll]="true"
                         bindLabel="name"
                         bindValue="name"
                         class="flex-item type-select"
                         formControlName="adversary"
                         placeholder="Choose adversary">
              </ng-select>
              <div *ngIf="ruleForm.get('adversary').invalid && ruleForm.get('adversary').touched"
                   class="invalid-feedback">
                Adversary is required.
              </div>
            </div>
          </div>
          <div class="col-6">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="confidentiality">Confidentiality:</label>
                    <input
                      [ngClass]="{'is-invalid': ruleForm.get('confidentiality').invalid && ruleForm.get('confidentiality').touched}"
                      class="form-control"
                      formControlName="confidentiality"
                      id="confidentiality"
                      type="number">
                    <div *ngIf="ruleForm.get('confidentiality').invalid && ruleForm.get('confidentiality').touched"
                         class="invalid-feedback">
                      Value must be between 0 and 3.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="integrity">Integrity:</label>
                    <input
                      [ngClass]="{'is-invalid': ruleForm.get('integrity').invalid && ruleForm.get('integrity').touched}"
                      class="form-control" formControlName="integrity"
                      id="integrity"
                      type="number">
                    <div *ngIf="ruleForm.get('integrity').invalid && ruleForm.get('integrity').touched"
                         class="invalid-feedback">
                      Value must be between 0 and 3.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="availability">Availability:</label>
                    <input
                      [ngClass]="{'is-invalid': ruleForm.get('availability').invalid && ruleForm.get('availability').touched}"
                      class="form-control" formControlName="availability"
                      id="availability"
                      type="number">
                    <div *ngIf="ruleForm.get('availability').invalid && ruleForm.get('availability').touched"
                         class="invalid-feedback">
                      Value must be between 0 and 3.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-references [rule]="rule" [formGroup]="ruleForm"></app-references>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea
                [ngClass]="{'is-invalid': ruleForm.get('description').invalid && ruleForm.get('description').touched}"
                class="form-control" formControlName="description"
                id="description"
                rows="5"></textarea>
              <div *ngIf="ruleForm.get('description').invalid && ruleForm.get('description').touched"
                   class="invalid-feedback">
                Description is required.
              </div>
              <div *ngIf="ruleForm.get('description').errors && ruleForm.get('description').errors['minWords'] && ruleForm.get('description').touched" class="invalid-feedback">
                Please enter at least {{ ruleForm.get('description').errors['minWords'].requiredWords }} words,
                each with at least {{ ruleForm.get('description').errors['minWords'].minLengthPerWord }} characters.
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group mt-4">
            <app-expression-console
              [ngClass]="{'is-invalid': ruleForm.get('definition').invalid && ruleForm.get('definition').touched}"
              formControlName="definition"
              (touched)="ruleForm.get('definition').markAsTouched()">
            </app-expression-console>

            <div *ngIf="ruleForm.get('definition').invalid &&
                ruleForm.get('definition').touched"
                 class="invalid-feedback">
              Expression is required.
            </div>
          </div>
        </div>
      </div>
      <!--<div [hidden]="currentStep != RULE_FORM.STEP2">
        &lt;!&ndash;<app-variables [formGroup]="ruleForm" [rule]="rule"
                       (variablesEmitter)="onChangeVariables($event)"></app-variables>&ndash;&gt;
      </div>-->

      <div [hidden]="currentStep != RULE_FORM.STEP2">
        <div class="row mb-3">
          <div class="col-12">
            <app-deduplicate-fields [rule]="rule" [formGroup]="ruleForm"></app-deduplicate-fields>
          </div>
        </div>
        <div class="w-100 alert alert-info alert-styled-right mb-3">
          <span class="font-weight-semibold">
            After Events
          </span>
          <p class="mb-0 mt-2">
            Define actions that will execute on all historically stored data when the correlation rule expression evaluates successfully.
          </p>
        </div>
        <div formArrayName="afterEvents">
          <fieldset class="form-fieldset border p-3">
            <legend>
              <label>And</label>
              <span class="span-small-icon ml-2">
                  <i (click)="addAfterEvent()"
                     class="icon-plus2 mr-1 cursor-pointer"
                     ngbTooltip="And">
                  </i>
              </span>
            </legend>
            <div *ngFor="let group of afterEvents.controls; let i = index" class="card shadow-sm border border-light-subtle mb-3 rounded-3">
              <div class="card-header bg-body-tertiary d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-2">
                  <i class="icon-calendar text-primary"></i>
                </div>
                <div class="d-flex gap-2">
                  <button
                    type="button"
                    class="btn btn-icon btn-sm"
                    (click)="removeAfterEvent(i)"
                    ngbTooltip="Remove this event">
                    <i style="font-size: 0.75rem" class="icon-cross2"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <app-after-event [form]="asFormGroup(afterEvents.at(i))" (remove)="removeAfterEvent(i)"></app-after-event>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="ruleForm" class="button-container d-flex justify-content-end pb-4 pr-3 w-100">
    <button *ngIf="currentStep != RULE_FORM.STEP2" (click)="activeModal.close()"
            class="btn utm-button utm-button-grey mr-2">
      <i class="icon-cancel-circle2 top-0"></i>&nbsp; Cancel
    </button>
    <button *ngIf="currentStep == RULE_FORM.STEP2 || currentStep == RULE_FORM.STEP2" (click)="back()" class="btn utm-button utm-button-primary mr-2">
      <i class="icon-arrow-left32 top-0"></i>
      Back
    </button>
    <button *ngIf="currentStep != RULE_FORM.STEP2" [disabled]="(currentStep == RULE_FORM.STEP1 || currentStep == RULE_FORM.STEP2)  && !isValidStep(currentStep)" (click)="next()"
            class="btn utm-button utm-button-primary">
      Next
      <i class="icon-arrow-right32"></i>&nbsp;
    </button>
    <button *ngIf="currentStep == RULE_FORM.STEP2" (click)="saveRule()" [disabled]="!isRuleFormValid"
            class="btn utm-button utm-button-primary">
      <i [ngClass]="loading ? 'icon-spinner spinner' : 'icon-grid-alt top-0'"></i>&nbsp; Save
    </button>
  </div>
</div>
