@import "../../../../../assets/styles/theme.scss";
@import "../../../../../assets/styles/var.scss";

.btn-close {
    height: 36px;
}

.btn-danger .icon-trash,
.btn-close .icon-trash:before {
    font-size: 14px;
    color: white;
}

legend {
    width: auto;
    border-bottom: 0;
    font-size: .75rem;
    font-weight: 400;
}

fieldset {
    margin-bottom: 1rem;
}

.container-fluid {
    padding: 0.5rem 1rem;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.alert-filter-container {
    min-width: 300px;
    max-width: 400px;
    resize: horizontal;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-header {
    flex-shrink: 0;
}


.utm-button-back {
    left: 250px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.type-select .ng-select-container {
    height: 36px!important;
}


@media (max-width: 4000px) {
    .alert-filter-container {
        width: 350px;
    }
}

@media (min-width: 4001px) {
    .alert-filter-container {
        width: 400px;
    }

    .utm-button-back {
        left: 350px;
    }
}

.utm-button-grey{
  height: 30px;
}

.font-size-sm {
  font-size: .85rem!important;
}

.utm-box {
  z-index: auto!important;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.round-indicator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  position: relative;
  z-index: 1;
}

.step-link {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  position: relative;
  top: 10px;
}

.step-active {
  background-color: $blue-scroll;
}

.step-inactive {
  background-color: $grey-color;
}

.step-success {
  background-color: $success-color !important;
}

