.chart-container {
  width: 100%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

.chart {
  height: 300px;
  width: max-content;
  min-width: 100%;
}

.echarts canvas {
  width: max-content !important;
}
