<button class="d-flex align-items-center dropdown-btn w-100 mb-1"
        [ngClass]="{'active': section.isCollapsed && !expandable }"
        (click)=" loadReports()">
        <span class="section-title">
          {{ section.standardSectionName }}
        </span>
  <i *ngIf="expandable" class="font-size-sm text-dark"
     [ngClass]="{'icon-arrow-right32': !section.isCollapsed, 'icon-arrow-down32 font-weight-bold' : section.isCollapsed}"></i>
</button>
<ul class="submenu" [ngClass]="{ 'show': section.isCollapsed && expandable }" id="collapse{{ section.id }}">
  <div class="sub-menu-content pr-2">
    <li class="section-item cursor-pointer mb-1"
        [ngClass]="{'active': section.isActive && report.selected}"
        *ngFor="let report of reports$  | async as reports; let index = index"
        (click)="generateReport(report, reports)">
      <span>
        {{ report.configReportName ? report.configReportName : report.associatedDashboard.name }}
      </span>
    </li>
  </div>
</ul>
