<!--
<div class="section-name d-flex cursor-pointer justify-content-between align-items-center w-100 px-2 pt-2"
     [ngClass]="{'active-border': section.isCollapsed}"
     (click)="section.isCollapsed = !section.isCollapsed; loadReports()">

  <span class="cursor-pointer d-flex align-items-center">
    {{ section.standardSectionName }}
  </span>

  <button class="p-0"
          aria-expanded="{{section.isCollapsed }}"
          aria-controls="collapse{{ section.id }}">
    <i class="icon-arrow-down32 text-dark font-size-sm" [ngClass]="{'icon-arrow-up32': !section.isCollapsed}"></i>
  </button>
</div>

<div class="collapse" style="background-color:#d1e4f81c" [ngClass]="{'show': section.isCollapsed}" id="collapse{{ section.id }}">
  <div class="p-2">
    <div *ngFor="let report of reports$ | async; let index = index">
      <div class="w-100 d-flex justify-content-between align-items-start cursor-pointer mb-2 pl-3 report-hover">
        <div [ngClass]="{'text-primary': section.isActive && report.selected}"
             class="flex-grow-1 d-flex align-items-start flex-column"
             (click)="generateReport(index, report)">
          <div class="d-flex align-items-center">
            <label [innerHTML]="report.associatedDashboard.name | safe:'html'"
                   class="font-size-base cursor-pointer text-wrap"
                   *ngIf="report.associatedDashboard">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!--No Expandible-->
  <div *ngIf="!expandable"
       (click)="loadReports()"
       [ngClass]="{'section-active': section.isCollapsed}"
       class="section-name d-flex cursor-pointer justify-content-between align-items-center w-100">
    <span class="section-title cursor-pointer d-flex align-items-center">
      {{ section.standardSectionName }}
    </span>
  </div>


<!--Expandible-->
<div *ngIf="expandable">
  <div class="section-name d-flex cursor-pointer justify-content-between align-items-center w-100"
       [ngClass]="{'section-active': section.isCollapsed}"
       (click)="section.isCollapsed = !section.isCollapsed; loadReports()">

  <span class="section-title cursor-pointer d-flex align-items-center">
    {{ section.standardSectionName }}
  </span>

    <button class="toggle-button"
            aria-expanded="{{section.isCollapsed }}"
            aria-controls="collapse{{ section.id }}">
      <i class="icon-arrow-down32 font-size-sm text-dark" [ngClass]="{'icon-arrow-up32': !section.isCollapsed}"></i>
    </button>
  </div>

  <div class="collapse section-content" [ngClass]="{'show': section.isCollapsed}" id="collapse{{ section.id }}">
    <div class="p-2">
      <div *ngFor="let report of reports$ | async; let index = index"
           class="report-item cursor-pointer d-flex align-items-start mb-2"
           (click)="generateReport(index, report)"
           [ngClass]="{'selected': section.isActive && report.selected}"> <!-- Clase activa aquí -->
        <div [ngClass]="{'text-primary': section.isActive && report.selected}"
             class="flex-grow-1">
          <label [innerHTML]="report.associatedDashboard.name | safe:'html'"
                 class="font-size-base cursor-pointer text-wrap"
                 *ngIf="report.associatedDashboard"></label>
        </div>
      </div>
    </div>
  </div>
</div>



