.chart-no-data {
  i {
    font-size: 60px;
    color: rgba(0, 75, 139, 0.30);
  }

  span {
    font-size: 20px;
  }

  h6 {
    font-size: 13px;
    color: rgba(0, 75, 139, 0.30) !important;
  }

  .icon {
    background-color: rgba(0, 75, 139, 0.30);
    width: 60px;
    height: 60px;
  }

}
