<div [ngSwitch]="field.field">

  <ng-container *ngSwitchCase="STATUS_FIELD">
    <app-alert-status *ngIf="isEcho"
                    [alert]="data"
                    [dataType]="dataType"
                    [showDrop]="false"
                    [statusField]="STATUS_FIELD">
    </app-alert-status>

    <app-alert-action-select *ngIf="!isEcho"
                             [alert]="data"
                             [tags]="tags"
                             [dataType]="dataType"
                             [showDrop]="showStatusChange"
                             [statusField]="STATUS_FIELD"
                             (statusChange)="onStatusChange($event)">
    </app-alert-action-select>
  </ng-container>

  <ng-content *ngSwitchCase="ALERT_ECHOES_FIELD"  select="[echoes]"></ng-content>
  <app-alert-ip *ngSwitchCase="ALERT_TARGET_IP_FIELD" [alert]="data" [type]="'target'"></app-alert-ip>
  <app-alert-ip *ngSwitchCase="ALERT_ADVERSARY_IP_FIELD" [alert]="data" [type]="'adversary'"></app-alert-ip>
  <app-alert-ip *ngSwitchCase="DESTINATION_IP_FIELD" [alert]="data" [type]="'destination'"></app-alert-ip>
  <app-alert-severity *ngSwitchCase="SEVERITY_LABEL_FIELD"
                      [severity]="resolveSeverity(data)"></app-alert-severity>
  <app-alert-tags-apply *ngSwitchCase="TAGS_FIELD"
                        [alert]="data"
                        [showTagsLabel]="true"></app-alert-tags-apply>
  <app-alert-apply-note *ngSwitchCase="NOTE_FIELD" [alert]="data" [showNote]="true"></app-alert-apply-note>
  <app-alert-entity-display [field]="field" [key]="ALERT_TARGET_FIELD" [alert]="data" *ngSwitchCase="ALERT_TARGET_FIELD"></app-alert-entity-display>
  <app-alert-entity-display [field]="field" [key]="ALERT_ADVERSARY_FIELD" [alert]="data" *ngSwitchCase="ALERT_ADVERSARY_FIELD"></app-alert-entity-display>
  <app-alert-impact *ngSwitchCase="ALERT_IMPACT_FIELD" [impact]="data[field.field]"></app-alert-impact>
  <span *ngSwitchDefault [ngClass]="field.customStyle">
    <span *ngIf="field.type!=='date';else dateValue"
          [openDelay]="3000" ngbTooltip="{{resolveValue(data, field)}}">
      {{resolveValue(data, field)}}
    </span>
    <ng-template #dateValue>
      <span>
        {{resolveValue(data, field)|date:utmFormatDate:'UTC'}}
      </span>
    </ng-template>
  </span>
</div>
