<ng-container *ngIf="providers && providers.length > 0">
  <div class="providers-divider">
    <div class="divider-line"></div>
    <span class="divider-text">OR</span>
    <div class="divider-line"></div>
  </div>

  <div class="providers-list">
    <button *ngFor="let provider of providers"
            class="btn btn-block provider-button"
            [ngClass]="'provider-' + provider.providerType.toLowerCase()"
            [disabled]="!provider.active"
            (click)="loginWithProvider(provider)"
            type="button">
      <i class="provider-icon" [ngClass]="getProviderIcon(provider.providerType)"></i>
      <span class="provider-text">Login with {{ provider.providerType }}</span>
    </button>
  </div>
</ng-container>
