<div class="d-flex flex-column flex-1 m-h-0 h-100 pt-2 px-3 mb-3">

    <div class="d-flex mb-2">
      <h5 class="card-title mb-0 label-header">FLOWS</h5>
    </div>
    <div class="d-flex p-2 bg-white rounded-lg align-items-center gap-1 mb-2">
      <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex flex-1 justify-content-end align-items-center">
          <div class="d-flex align-items-center mr-3">
            <i ngbTooltip="Clear filter" class="icon-filter4 text-blue-800 cursor-pointer mr-3"
               (click)="clearFilters()"></i>
            <label for="platform">Status </label>
            <div class="d-flex justify-content-start align-items-center ml-3 alert-radio-container">
          <span (click)="filterByStatus(null)"
                [ngClass]="{'text-blue-800':request['active.equals']===null}"
                class="mb-0 cursor-pointer medium-icon d-flex justify-content-start align-items-center">
            <i [ngClass]="request['active.equals']===null?'icon-radio-checked':'icon-circle'" class="mr-1"></i>
            All
          </span>
              <span (click)="filterByStatus(true)"
                    [ngClass]="{'text-blue-800':request['active.equals']===true}"
                    class="mb-0 cursor-pointer  ml-3 medium-icon d-flex justify-content-start align-items-center">
            <i [ngClass]="request['active.equals']===true?'icon-radio-checked':'icon-circle'" class="mr-1"></i>
            Active
          </span>
              <span (click)="filterByStatus(false)"
                    [ngClass]="{'text-blue-800':request['active.equals']===false}"
                    class="mb-0 cursor-pointer  ml-3 medium-icon d-flex justify-content-start align-items-center">
            <i [ngClass]="request['active.equals']===false?'icon-radio-checked':'icon-circle'" class="mr-1"></i>
            Inactive
          </span>
            </div>
          </div>
          <ng-select (change)="onPlatformChange($event)"
                     placeholder="Select platform"
                     [clearable]="true"
                     [items]="platforms$ | async"
                     [loadingText]="'Loading platforms...'"
                     [loading]="loadingPlatform"
                     id="platform"
                     class="mr-3"
                     style="min-width: 300px">
          </ng-select>
          <app-utm-search-input
            (searchFor)="searchByRule($event)"
            [placeholder]="'Search workflows '"
            class="w-50">
          </app-utm-search-input>
          <div class="header-elements ml-2">
            <button style="min-width: 100px" (click)="newPlaybook()"  class="btn utm-button utm-button-primary">
              <i class="icon-plus2 mr-1"></i>
              New flow </button>
          </div>
        </div>
      </div>
    </div>

  <div class="d-flex flex-1 flex-column h-100 m-h-0">
    <div class="d-flex px-1 pt-3 h-100 m-h-0 justify-content-center playbooks-container">
      <div class="playbook-card" *ngFor="let item of playbookService.playbooks$ | async; trackBy: trackByFn">
        <div class="h-100 text-card-foreground shadow-sm transition-all d-flex flex-column rounded-lg border border-border bg-background p-3 cursor-pointer">
          <div class="card-header p-0 pb-1 d-flex align-items-center gap-3">
            <div [ngClass]="{'bg-primary': item.active, 'bg-secondary': !item.active}" class="icon-code d-flex justify-content-center  align-items-center">
            </div>
            <div [routerLink]="['/soar/create-flow']"
                 [queryParams]="{ id: item.id }" class="d-flex flex-grow-1 justify-content-between">
              <div class="d-flex flex-column">
                <div class="text-sm font-semibold">{{ item.name }}</div>
                <div class="truncate text-xs text-muted-foreground">{{ item.createdDate | relativeTime }}</div>
              </div>
            </div>
            <div autoClose="outside" class="action-playbook list-icons-item dropdown cursor-pointer"
                 placement="bottom-right" ngbDropdown>
              <button class="btn btn-link p-0 cursor-pointer" ngbDropdownToggle>
                <i class="icon-menu"></i>
              </button>
              <div ngbDropdownMenu>
                <button [routerLink]="['/soar/create-flow']"
                        [queryParams]="{ id: item.id }" ngbDropdownItem>
                  <i class="icon-pencil mr-2 text-xs text-muted-foreground"></i>
                  <span class="text-sm">
                      Edit
                    </span>
                </button>
                <button ngbDropdownItem (click)="deactivateRuleAction(item)">
                  <i [ngClass]="item.active ? 'icon-power2 text-danger' : 'icon-power2 text-success'" class="mr-2 text-xs"></i>
                  <span class="text-sm">
                      {{ item.active ? 'Inactivate' : 'Activate' }}
                    </span>
                </button>

              </div>
            </div>
          </div>
          <div [routerLink]="['/soar/create-flow']"
               [queryParams]="{ id: item.id }" class="flex-grow-1 overflow-hidden">
            <div
              class="text-sm"
              style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
              {{ item.description }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 text-center py-5">
      <ng-container *ngIf="{ loading: playbookService.loading$ | async,
                              totalItems: playbookService.totalItems$ | async
                           } as data">
        <ng-container *ngIf="!data.loading && data.totalItems === 0">
          <i class="icon-play text-muted mb-3" style="font-size: 48px;"></i>
          <h4 class="mb-1 font-weight-semibold text-muted">Start building</h4>
          <p class="text-muted mb-4">Begin with a template, or start from scratch.</p>
          <a (click)="newPlaybook()" class="btn utm-button utm-button-primary">
            <i class="icon-plus2 mr-1"></i>
            New Flow
          </a>
        </ng-container>
        <app-utm-spinner
          class="position-absolute right-50"
          [height]="'110px'"
          [loading]="data.loading"
          [width]="'110px'"
          label="Loading playbooks">
        </app-utm-spinner>
      </ng-container>
    </div>



    <div *ngIf="playbookService.totalItems$ | async as totalItems" class="mt-3">
      <div class="row justify-content-center">
        <ngb-pagination (pageChange)="loadPage($event)"
                        [boundaryLinks]="true"
                        [collectionSize]="totalItems"
                        [maxSize]="10"
                        [pageSize]="itemsPerPage"
                        [rotate]="true"
                        [size]="'sm'"></ngb-pagination>

        <app-utm-items-per-page (itemsInPage)="onItemsPerPageChange($event)"
                                class="ml-3">
        </app-utm-items-per-page>
      </div>
    </div>

  </div>

</div>


