<div *ngIf="!preparingPrint" class="report-loading"></div>
<h3 class="standard-prev">
  Compliance assesment
</h3>
<div *ngFor="let report of reports$ | async">
  <div class="justify-content-center align-items-start w-100 d-print-block">
    <div>
      <div class="compliance p-5 pt-0">
        <div class="compliance-info compliance-standard">
          <h4 class="mb-2 w-50">{{report.associatedDashboard.name}}</h4>
          <h6 class="mb-2 font-weight-semibold">{{report.associatedDashboard.description}}</h6>
          <div class="f-container">
            <p>Status:</p>
            <app-compliance-status [report]="report" (visualization)="onVisualizationChange($event, report)"></app-compliance-status>
          </div>
          <div class="f-container">
            <p>Time Window:</p>
            <app-compliance-time [report]="report"></app-compliance-time>
          </div>
          <p *ngIf="report.visualization" class="">Evidence:</p>
          <app-render-visualization-print *ngIf="report.visualization"
            (visualizationLoaded)="onVisualizationLoaded()"
            [visualizationRender]="report.visualization"></app-render-visualization-print>
        </div>
      </div>
    </div>
  </div>
</div>  

