.demo-chart {
  height: 250px !important;
}

.card-header {
  min-height: 37px;
}

//.multiline-chart {
//  height: 400px !important;
//}

.input-days {
  padding: 0 0 0 5px !important;
  height: 20px;
  font-size: 12px !important;
}
