<div class="table-responsive resizable-table-responsive h-100">
  <table class="table text-nowrap">
    <thead>
    <tr>
      <th (sort)="onSortBy($event)"
          *ngFor="let item of fields; let i=index"
          [hidden]="!item.visible"
          [isSortable]="true"
          [sortEvent]="sortEvent"
          [sortable]="item.type!=='string'?item.field:item.field+'.keyword'"
          appColumnSortable
          class="font-weight-semibold cursor-pointer">
        {{item.label}}
      </th>
    </tr>
    </thead>
    <tbody *ngIf="alerts && alerts.length > 0">
    <ng-container *ngFor="let alert of alerts">
      <ng-container *ngTemplateOutlet="alertRowTemplate; context: { $implicit: alert }"></ng-container>
    </ng-container>
    </tbody>
    <tbody *ngIf="(alerts && alerts.length===0)  && !loading">
    <tr>
      <td [attr.colspan]="fields.length +1">
        <app-no-data-found></app-no-data-found>
      </td>
    </tr>
    </tbody>
    <tbody *ngIf="loading">
    <tr>
      <td [attr.colspan]="fields.length + 1">
        <div class="p-5 d-flex  justify-content-center align-items-center text-blue-800">
          <app-utm-spinner [height]="'35px'"
                           [label]="'Loading...'"
                           [loading]="loading"
                           [width]="'35px'">
          </app-utm-spinner>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="alerts && alerts.length>0" class="mb-3 mt-3">
  <div class="row justify-content-center">
    <ngb-pagination (pageChange)="loadPage($event)"
                    [(page)]="page"
                    [boundaryLinks]="true"
                    [collectionSize]="totalItems"
                    [maxSize]="10"
                    [pageSize]="itemsPerPage"
                    [rotate]="true"
                    [size]="'sm'"></ngb-pagination>
    <app-utm-items-per-page (itemsInPage)="onItemsPerPageChange($event)"
                            class="ml-3">
    </app-utm-items-per-page>
  </div>
</div>

<ng-template #alertRowTemplate let-alert>
  <tr class="cursor-pointer">
    <ng-container *ngFor="let td of fields">
      <td *ngIf="td.visible"
          [ngClass]="{'min-width': td.field === ALERT_ADVERSARY_FIELD || td.field === ALERT_TARGET_FIELD}">
        <app-data-field-render [data]="alert" [field]="td" [dataType]="dataType" [isEcho]="true" [showStatusChange]="true"
                               (refreshData)="onRefreshData($event)">
        </app-data-field-render>
      </td>
    </ng-container>
  </tr>
</ng-template>
