<div class="container-fluid dashboard-container pr-3 pl-3 pt-2">
  <div *ngIf="!pdfExport" class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="card-title label-header mb-0 text-uppercase label-header">
      Active directory overview
    </h5>
    <div class="header-elements d-flex justify-content-end align-items-center">
      <app-elastic-filter-time [invertContent]="true"
                               [isEmitter]="true"
                               container="body"></app-elastic-filter-time>
      <button (click)="exportToPdf()" [disabled]="pdfExport"
              class="btn utm-button utm-button-primary ml-2">
        <i [ngClass]="pdfExport?'icon-download10':'icon-file-pdf'" class="mr-1"></i>
        {{pdfExport ? 'Generating...' : 'Save to PDF'}}
      </button>
    </div>
  </div>
  <app-utm-report-header *ngIf="pdfExport"
                         [reportName]="'Access Right Manager overview'"></app-utm-report-header>
  <div [ngClass]="{'mt-3':pdfExport}" id="utmDashboardActiveDirectory">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <app-chart-ad-quick-info [refreshInterval]="refreshInterval"></app-chart-ad-quick-info>
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12">
        <app-chart-ad-inactive [refreshInterval]="refreshInterval"></app-chart-ad-inactive>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <app-chart-ad-permissions [refreshInterval]="refreshInterval"></app-chart-ad-permissions>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <app-chart-ad-event-in-time [refreshInterval]="refreshInterval"></app-chart-ad-event-in-time>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <app-chart-ad-admin-vs-user [refreshInterval]="refreshInterval"></app-chart-ad-admin-vs-user>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <app-chart-ad-most-active-user [refreshInterval]="refreshInterval" [top]="20"></app-chart-ad-most-active-user>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <app-chart-ad-user-changes [change]="'made'"
                                   [refreshInterval]="refreshInterval" [top]="10"></app-chart-ad-user-changes>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <app-chart-ad-user-changes [change]="'received'"
                                   [refreshInterval]="refreshInterval" [top]="10"></app-chart-ad-user-changes>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <app-chart-ad-inactive-admin [refreshInterval]="refreshInterval"></app-chart-ad-inactive-admin>
      </div>
    </div>
  </div>
</div>
