.card-icon {
  font-weight: 400;
  letter-spacing: -.005em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 55px;
  width: 55px;
  color: #69707D;
  border: 1px solid #D3DAE6;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: border-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in, -webkit-box-shadow 150ms ease-in;

  &:hover, .euiKeyPadMenuItem:focus {
    -webkit-box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3);
    box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3);
    border-color: #D3DAE6;
  }
}


