<div style="height: 89vh;" class="vul-container container-fluid pr-3 pl-3 pt-2">
  <div class="d-flex justify-content-between align-items-center mb-2 tab-header">
    <h5 class="card-title mb-0 text-uppercase label-header">
      Users with Activity
    </h5>
    <!--<ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="view" routerLinkActive="active">
          <i class="icon-user-lock mr-1"></i> Active directory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tracker" routerLinkActive="active">
          <i class="icon-target mr-1"></i> Tracker</a>
      </li>
    </ul>-->
  </div>
  <router-outlet></router-outlet>
</div>
