<div [ngbPopover]="gettingStartedContent"
     placement="auto"
     class="getting-started-container d-flex justify-content-center align-items-center badge ml-2 cursor-pointer"
     popoverClass="popover-getting-started"
     *ngIf="show()"
     container="body"
     [ngStyle]="{'padding-top':'4px'}"
     [ngClass]="'bg-success-800'">
      <span class="svg-icon svg-icon-md svg-icon-white status-icon text-white svg-icon-1x"
            [inlineSVG]="'/assets/icons/system/SPEED_OPTIMIZATION.svg'"></span>
    <span class="ml-2">Getting started ({{countCompleted}}/{{steps.length}})</span>
</div>

<ng-template #gettingStartedContent>
    <div class="w-100 pb-2 pt-2" style="min-width: 374px !important;">
        <h6 class="font-weight-semibold">Getting started ({{countCompleted}}/{{steps.length}})</h6>

        <div id="steps mb-3">
            <ul id="stepsPoints">
                <li class="point" [ngClass]="complete?'complete':'incomplete'" [style.width.px]="pointWidth"
                    *ngFor="let complete of stepsPoint"></li>
            </ul>
        </div>
        <div class="mt-3 w-100">
            <div class="d-flex justify-content-between align-items-center mb-2 w-100 span-small-icon"
                 *ngFor="let step of steps">
                <div class="d-flex justify-content-start align-items-center">
                    <i [ngClass]="step.completed?'icon-checkmark-circle text-success'
                 :'text-warning icon-circle2'"></i>
                    <span class="ml-2 font-size-lg text-blue-800">{{getName(step.stepShort)}}</span>
                </div>
                <span *ngIf="!step.completed" class="badge badge-info font-weight-thin cursor-pointer"
                      (click)="goToGuide(step.stepShort)">Start</span>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input
                            id="dateOfBirth"
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #dp="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
                            type="button"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

