<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Linux Logs
    </h4>
  </div>
  <div class="card-body">
    <div class="alert alert-warning alert-styled-right">
      This integration requires a UTMStack agent to work properly. Please, make sure you have installed it before you
      continue.
    </div>
    <ol class="setup_list ml-3">
      <li>
        <p class="step-guide">
          <span class="step_number">1</span>
          Make sure you have rsyslog installed on your system.
          You can install it using the specific package manager of each distribution.
        </p>
        <div class="w-75 mt-3" *ngFor="let command of getCommand()">
          <span class="font-weight-semibold mb-2">{{command.manager}}</span>
          <app-utm-code-view [code]="command.command"></app-utm-code-view>
        </div>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">2</span>
          Configure rsyslog to send logs to UTMStack agent:
        </p>
        <div class="w-75 mt-3">
          <span class="font-weight-semibold mb-2">TCP</span>
          <app-utm-code-view
            code='echo "*.* @@IP_OF_YOUR_UTMSTACK_AGENT:7013" | sudo tee -a /etc/rsyslog.conf'>
          </app-utm-code-view>
        </div>
        <div class="w-75 mt-3">
          <span class="font-weight-semibold mb-2">or UDP</span>
          <app-utm-code-view
            code='echo "*.* @IP_OF_YOUR_UTMSTACK_AGENT:7013" | sudo tee -a /etc/rsyslog.conf'>
          </app-utm-code-view>
        </div>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">3</span>
          Restart rsyslog service
        </p>
        <div class="w-75 mt-3">
          <app-utm-code-view
            code="sudo systemctl restart rsyslog"></app-utm-code-view>
        </div>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">4</span>
          Enable log collector in the configuration file which you can find where your 
          UTMStack Agent is located, in the path:
        </p>
        <div class="w-75 mt-3">
          <span class="font-weight-semibold mb-2">linux</span>
          <app-utm-code-view
            code="/opt/utmstack-linux-agent/log-collector-config.json"></app-utm-code-view>
        </div>
        <div class="w-75 mt-3">
          <span class="font-weight-semibold mb-2">windows</span>
          <app-utm-code-view
            code="C:\Program Files\UTMStack\UTMStack Agent\log-collector-config.json"></app-utm-code-view>
        </div>
        <img alt="Module configuration" class="step-img"
             [src]="'../../../../assets/img/guides/filebeat/log-collector.png'">
      </li>
    </ol>
    <!--      <li>-->
    <!--        <p class="step-guide mb-3">-->
    <!--          <span class="step_number">8</span>-->
    <!--          Click on the button shown below, to activate the UTMStack features related to this integration-->
    <!--        </p>-->
    <!--        <app-app-module-activate-button [module]="module.LINUX_LOGS" [type]="'integration'"-->
    <!--                                        [disabled]="false"-->
    <!--                                        [serverId]="serverId"-->
    <!--                                        class="mt-3">-->
    <!--        </app-app-module-activate-button>-->
    <!--      </li>-->
  </div>
</div>
