.update-user-container {
  //background-color: #f1f1f1;
  padding-top: 30px;
  margin-bottom: 30px;

  .page-name {
    padding: 30px 0;
  }

  .form-container {
    .form-user {
      width: 300px;
    }
  }
}
