<ng-container *ngIf="template === 'default'">
  <div class="d-flex m-0">
    <div class="flex-grow-1">
      <div class="card w-100 d-flex justify-content-between align-items-center flex-row m-0 p-2">
        <div class="filters d-flex justify-content-start align-items-center flex-wrap">
      <span [ngbPopover]="popContent"
            [popoverTitle]="popTitle"
            class="setting-filter mr-3 text-blue-800 cursor-pointer"
            placement="right"
            popoverClass="utm-popover-right">
    <i class="icon-filter4"></i>
   </span>
          <div #popoverField="ngbPopover"
               *ngFor="let filter of resolveFilters(); let index = index;"
               (click)="filterSelected=filter;indexEdit=index"
               [ngbPopover]="popField"
               autoClose="inside:outside"
               class="dropdown cursor-pointer d-flex"
               placement="bottom"
               popoverClass="utm-popover-bottom">
            <div class="filter-label">
             <span [ngClass]="!filter.operator.toLocaleLowerCase().includes('not')?
              'border-blue-800 text-blue-800':'border-danger-800 text-danger-800'"
                   [ngbTooltip]="getFilterTooltip(filter)"
                   [openDelay]="1000"
                   class="text-center pt-1 pb-1 m-1 "
                   placement="bottom"
                   tooltipClass="utm-tooltip-bottom">
             {{ getFilterTooltip(filter) }}
             </span>
            </div>
            <span>
              <i (click)="deleteFilter(filter)" class="icon-cross2 ml-2 cursor-pointer"></i>
          </span>
          </div>
        </div>
        <div class="actions-filters d-flex align-items-center">
        <span #popoverFilter="ngbPopover"
              (click)="filterSelected=null;indexEdit=null;editMode=false;"
              [ngbPopover]="addContent"
              [popoverTitle]="addTitle"
              autoClose="outside"
              class="setting-filter mr-3 text-blue-800 cursor-pointer font-weight-light text-nowrap span-small-icon"
              placement="bottom"
              popoverClass="utm-popover-bottom">
      <i class="icon-plus3"></i>
      Add filter
    </span>
        </div>
      </div>
    </div>
    <div class="filter-time-container">
      <div class="card p-0 m-0">
        <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)"
                                 [changeOnInit]="'NO'"
                                 [container]="'body'"
                                 [defaultTime]="defaultTime"
                                 [invertContent]="false">
        </app-elastic-filter-time>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="template === 'log-explorer'">
  <div class="flex-row mx-3 m-0 card">
    <!-- Main Filters Section -->
    <div class="filters-container">
      <div class="w-100 d-flex justify-content-start align-items-center flex-row m-0">
        <!-- Query Menu and Add Filter Buttons -->
        <div class="d-flex align-items-center justify-content-start mr-2 pl-3">
          <div class="order-buttons-container">
            <button
              (click)="resetFilters()"
              type="button"
              class="order-button"
              [ngbTooltip]="'Clear filters'"
              autoClose="true"
              placement="bottom-left">
              <i class="icon-filter3 font-size-sm"></i>
            </button>
          </div>
        </div>

        <!-- Filters List -->
        <div class="filters d-flex justify-content-start align-items-center flex-wrap gap-1 py-1">
          <div *ngFor="let filter of resolveFilters(); let index = index"
            class="dropdown cursor-pointer d-flex justify-content-center align-items-center border-1 p-1 border-grey-100 border-radius-1"
            #popoverField="ngbPopover"
            (click)="selectFilter(filter, index)"
            [ngbPopover]="filter.field !== '@timestamp' ? popField : null"
            autoClose="true"
            placement="bottom"
            popoverClass="utm-popover-bottom">
            <div class="filter-label">
              <span class="text-center m-1"
                [innerHTML]="getFilterLabel(filter)"
                [ngClass]="filter.operator.toLocaleLowerCase().includes('not')
                  ? 'border-danger-800 text-danger-800'
                  : 'border-blue-800 text-blue-800'"
                [ngbTooltip]="getFilterTooltip(filter)"
                [openDelay]="1000"
                tooltipClass="utm-tooltip-bottom"
                placement="bottom">
              </span>
            </div>
            <span *ngIf="filter.field !== '@timestamp'" class="d-flex align-items-center justify-content-center pt-1">
              <i
                class="icon-cross2 ml-1 cursor-pointer font-size-sm"
                (click)="deleteFilter(filter)">
              </i>
            </span>
          </div>
          <div class="cursor-pointer d-flex justify-content-center align-items-center mr-2 p-1">
            <span class="btn-right py-1 m-1 border-radius-1 text-blue-800"
                  [ngbTooltip]="'Add filter'"
                  #popoverFilter="ngbPopover"
                  [ngbPopover]="addContent"
                  [popoverTitle]="addTitle"
                  ngbTooltip="Add filter"
                  autoClose="outside"
                  placement="bottom-left"
                  popoverClass="utm-popover-bottom">
              <i class="icon-plus-circle2 font-size-sm mr-2"></i>
            <span> Add filter</span>
          </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Time Filter Section -->
    <div class="d-flex flex-column justify-content-center flex-grow-1 filter-time-container px-2">

        <app-elastic-filter-time
          [template]="'log-explorer'"
          [changeOnInit]="'NO'"
          [container]="'body'"
          [defaultTime]="defaultTime"
          [invertContent]="false"
          (timeFilterChange)="onTimeFilterChange($event)">
        </app-elastic-filter-time>

    </div>
  </div>
</ng-container>


<!--All filter options-->
<ng-template #popContent>
  <div (click)="deleteAll()" class="dropdown-item text-danger-800">
    <span>
      <i class="icon-cross2"></i>
                    &nbsp;Delete all
    </span>
  </div>
  <div class="dropdown-item text-warning-800">
          <span>
            <i class="icon-checkbox-unchecked2"></i>
            &nbsp;Disable all
          </span>
  </div>
</ng-template>
<ng-template #popTitle>
  <h6 class="font-weight-light">Filter options</h6>
</ng-template>

<!--add filter-->
<ng-template #addContent>
  <app-elastic-filter-add (filterChange)="addFilter($event)"
                          [hiddenFields]=" template === 'log-explorer' ? ['@timestamp'] : []"
                          [filter]="filterSelected"
                          [pattern]="pattern">
  </app-elastic-filter-add>
</ng-template>
<ng-template #addTitle>
  <div class="d-flex justify-content-between align-items-center">
    <h6 class="font-weight-light m-0">
      {{ !editMode ? 'Add filter' : 'Edit filter' }}
    </h6>
    <button
      type="button"
      class="btn btn-sm btn-link text-danger p-0 ml-2"
      (click)="popoverFilter.close()">
      <i class="icon-cross2 font-size-sm"></i>
    </button>
  </div>
</ng-template>

<!--Field popup-->
<ng-template #popField>
  <div (click)="popoverFilter.open();editMode=true" class="dropdown-item text-blue-800">
    <span class="span-small-icon">
      <i class="icon-pencil"></i>
      &nbsp;Edit
    </span>
  </div>
  <div (click)="deleteFilter(filterSelected)" class="dropdown-item text-danger-800">
    <span class="span-small-icon">
      <i class="icon-cross2"></i>
      &nbsp;Delete
    </span>
  </div>
  <div (click)="invertAction()" class="dropdown-item text-warning-800">
     <span class="span-small-icon">
       <i class="icon-transmission"></i>
       &nbsp;Invert
     </span>
  </div>
</ng-template>
