<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Installing MacOS agent
    </h4>
  </div>
  <div class="card-body">
    <div class="alert alert-info alert-styled-right">
      This feature is part of a paid subscription. Please contact our support team to receive the appropriate installation dependencies.
    </div>
    <p class="font-size-base text-justify mb-3">
      The MacOS agent captures system and application logs and sends them to a UTMStack master server or probe/proxy, monitors system activity, and executes incident response commands.
      The UTMStack agents communicate over ports 9000, 9001 and 50051. Please make sure these ports are open.
    </p>
    <ol class="setup_list">
      <app-utm-list [items]="steps">
        <ng-template stepTemplateRef let-step>
          <li>
            <app-step>
              <span stepNumber>{{step.id}}</span>
              <div [innerHtml]="step.name"></div>
              <ng-container *ngIf="step.content">

                <ng-template [ngIf]="step.content.id === 'stepContent3'">
                  <app-agent-install-selector [platforms]="architectures" [_selectedPlatform]="architectures[0]"></app-agent-install-selector>
                </ng-template>
              </ng-container>
            </app-step>
          </li>
        </ng-template>
      </app-utm-list>
    </ol>
  </div>
</div>
