<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Installing filebeat in MacOS
    </h4>
  </div>
  <div class="card-body">
    <div class="alert alert-warning alert-styled-right">
      This integration requires a UTMStack agent to work properly. Please, make sure you have installed it before you
      continue.
    </div>
    <p class="font-size-base text-justify mb-3">
      The Syslog daemon (syslog) on MacOS is configured using <strong>rsyslog</strong> through the /etc/syslog.conf configuration file.
      Follow the steps below to send all Syslog messages from an MacOS machine to UTMStack.
    </p>
    <ol class="setup_list">
      <app-utm-list [items]="steps">
        <ng-template stepTemplateRef let-step>
          <li>
            <app-step>
              <span stepNumber>{{step.id}}</span>
              <div [innerHtml]="step.name"></div>
              <ng-container *ngIf="step.content">

                <ng-template [ngIf]="step.content['commands']">
                  <app-utm-list [items]="step.content['commands']">
                    <ng-template stepTemplateRef let-command>
                      <app-utm-code-view [code]=command></app-utm-code-view>
                    </ng-template>
                  </app-utm-list>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent6'">
                  <app-agent-action-command
                    [platforms]="platforms"
                    [agent] = "dataType"
                  ></app-agent-action-command>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent7'">
                  <div  class="mt-3">
                    <app-app-module-activate-button [module]="module.MACOS" [type]="'integration'"
                                                    [serverId]="serverId">
                    </app-app-module-activate-button>
                  </div>
                </ng-template>
              </ng-container>
            </app-step>
          </li>
        </ng-template>
      </app-utm-list>
    </ol>
  </div>
</div>
