<ng-container *ngIf="providers.length > 0">
  <div
    *ngFor="let provider of providers"
    class="d-flex flex-column align-items-center justify-content-center mb-5"
  >
    <button
      class="btn btn-light-primary btn-lg w-100 mb-3"
      (click)="loginWithProvider(provider)"
    >
      <img
        [src]="provider.iconUrl"
        alt="{{ provider.name }} logo"
        class="me-3"
        style="height: 24px; width: 24px;"
      />
      {{ 'auth.login.continueWith' | translate }} {{ provider.name }}
    </button>
  </div>
</ng-container>
