<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div th:fragment="alert-detail"
     th:with="source=${alert.getSource()}, destination=${alert.getDestination()}">
    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Name:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getName()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Alert Id:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getId()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && !#strings.isEmpty(source.getHost())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source Hostname:'"></td>
            <td style="vertical-align: top;" th:text="${source.getHost()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && !#strings.isEmpty(source.getIp())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source Ip:'"></td>
            <td style="vertical-align: top;" th:text="${source.getIp()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && source.getPort() != null && source.getPort() > 0}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source Port:'"></td>
            <td style="vertical-align: top;" th:text="${source.getPort()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && !#strings.isEmpty(source.getUser())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source User:'"></td>
            <td style="vertical-align: top;" th:text="${source.getUser()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && !#strings.isEmpty(source.getCountry())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source Country:'"></td>
            <td style="vertical-align: top;" th:text="${source.getCountry()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${source != null && !#strings.isEmpty(source.getCity())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Source City:'"></td>
            <td style="vertical-align: top;" th:text="${source.getCity()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && !#strings.isEmpty(destination.getHost())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination Hostname:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getHost()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && !#strings.isEmpty(destination.getIp())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination Ip:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getIp()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && destination.getPort() != null && destination.getPort() > 0}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination Port:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getPort()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && !#strings.isEmpty(destination.getUser())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination User:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getUser()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && !#strings.isEmpty(destination.getCountry())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination Country:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getCountry()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${destination != null && !#strings.isEmpty(destination.getCity())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Destination City:'"></td>
            <td style="vertical-align: top;" th:text="${destination.getCity()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getProtocol())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Protocol:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getProtocol()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getStatusLabel())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Status:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getStatusLabel()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getSeverityLabel())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Severity:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getSeverityLabel()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getCategory())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Category:'"></td>
            <td style="vertical-align: top;" th:text="${alert.getCategory()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getDescription())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Description:'"></td>
            <td style="vertical-align: top;" th:utext="${alert.getDescription()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px"
            th:if="${!#strings.isEmpty(alert.getSolution())}">
            <td style="font-weight: bold;vertical-align: top;" th:text="'Proposed Solution:'"></td>
            <td style="vertical-align: top;" th:utext="${alert.getSolution()}"></td>
        </tr>

        <tr style="font-family:Roboto, sans-serif;font-size: 13px">
            <td style="font-weight: bold;vertical-align: top;" colspan="2">
                <div style="font-family:Roboto, sans-serif;font-size: 13px">
                    <a th:href="${baseUrl} + '/confirm-identity/' + ${alert.getId()}">
                        View Alert Detail
                    </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>
