<div class="card sidebar-app-management h-100">
    <div class="card-header header-elements-sm-inline p-2 bg-white card-header-title">
            <label class="card-title">Configuration</label>
            <div class="d-flex">
                <span class="ml-2 text-grey-800 position-relative">
                    <i class="icon-cog2"></i></span>
            </div>
    </div>
    <div class="list-group p-3">
        <a *appHasAnyAuthority="adminAuth"
           class="list-group-item"
           routerLink="/alerting-rules/manage/assets"
           routerLinkActive="router-link-active">
            <div class="d-flex justify-content-between align-items-center">
                <span class="font-weight-semibold">
                    <i class="icon-server font-size-sm"></i>&nbsp;
                        Assets
                </span>
            </div>
        </a>
        <a *appHasAnyAuthority="adminAuth"
           class="list-group-item"
           routerLink="/alerting-rules/manage/types"
           routerLinkActive="router-link-active">
            <div class="d-flex justify-content-between align-items-center">
                <span class="font-weight-semibold">
                    <i class="icon-clipboard font-size-sm"></i>&nbsp;
                        Data Types
                </span>
            </div>
        </a>
        <a *appHasAnyAuthority="adminAuth"
           class="list-group-item"
           routerLink="/alerting-rules/manage/patterns"
           routerLinkActive="router-link-active">
            <div class="d-flex justify-content-between align-items-center">
                <span class="font-weight-semibold">
                    <i class="icon-code font-size-sm"></i>&nbsp;
                        Patterns
                </span>
            </div>
        </a>
    </div>
</div>
