<div [ngClass]="{'card':!building}" [ngStyle]="{'width':width}" class="m-0 utm-panel-chart">
  <div *ngIf="!building" class="card-header card-header-chart p-2 d-flex
   justify-content-between align-items-center bg-white">
    <label *ngIf="visualization" [ngbTooltip]="visualization.name"
           [openDelay]="3000" class="card-title label-header text-blue-800" container="body">
      {{visualization.name}}
    </label>
    <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)" *ngIf="showTime"
                             [defaultTime]="defaultTime"
                             [container]="building?'body':'body'"
                             [invertContent]="true">
    </app-elastic-filter-time>
  </div>
  <div *ngIf="data$ | async as data"
       [ngStyle]="{'height':height,'width':width}"
       class="card-body p-0 chart-container">
    <div *ngIf="loadingOption"
         class="loading-chart w-100 h-100
                 d-flex justify-content-center
                 align-items-center">
      <app-utm-spinner [height]="'35px'" [loading]="loadingOption" [width]="'35px'"
                       label="Loading chart">
      </app-utm-spinner>
    </div>
    <div *ngIf="(!data || !echartOption || data.length ===0) && !loadingOption  "
         class="h-100 w-100">
      <app-no-data-chart [error]="runWithError" [typeChart]="chart"></app-no-data-chart>
    </div>
    <div (chartClick)="chartEvent($event, data)"
         *ngIf="!loadingOption && data && echartOption && data.length>0"
         [autoResize]="true"
         [ngStyle]="{'height':height}"
         [options]="echartOption"
         (chartInit)="onChartInit($event)"
         echarts></div>
  </div>
</div>
