@import "../../../../../../assets/styles/theme";
@import "../../../../../../assets/styles/var";

.reset-pass-container {
  .card {
    width: 360px;
  }

  .header-email {
    margin-bottom: 15px;

    .email {
      width: 150px;
      height: 150px;
      color: white;
      background-color: $primary-color;
      border-radius: 50%;
      position: relative;


      i {
        font-size: 60px;
      }
    }
  }
}

.confirm-container {
  img {
    height: 130px;
    width: 130px;
  }

  .login-container {
    width: 250px;
  }
}

