.has-minimum-width {
  min-width: 90px;
}

.w-45 {
  width: 48%;
}

.alert-details {
  align-items: center;
}


a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .75rem !important;
}

.alert-status-change {
  padding-left: 90px;
}

.min-h-500px {
  min-height: 500px;
}

.btn-tab {
  margin-left: auto;
  margin-right: 0;
}

