
.card-color {
  letter-spacing: -.005em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 20px;
  width: 20px;
  color: #69707D;
  border: 1px solid #D3DAE6;
  border-color: transparent;
  border-radius: 50%;
  -webkit-transition: border-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, -webkit-box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in;
  transition: border-color 150ms ease-in, box-shadow 150ms ease-in, -webkit-box-shadow 150ms ease-in;
  -webkit-box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3);
  box-shadow: 0 2px 2px -1px rgba(152, 162, 179, 0.3);

  &:hover, .euiKeyPadMenuItem:focus {
    -webkit-box-shadow: 0 3px 3px -1px rgba(152, 162, 179, 0.3);
    box-shadow: 0 3px 3px -1px rgba(152, 162, 179, 0.3);
    border-color: #D3DAE6;
  }
}

.span-color {
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.card-color-container {
  width: 250px !important;
  height: 250px;
  overflow-y: auto;
}

.card-selected {
  width: 20px;
  height: 20px;
  margin-top: 0;
  text-align: center;
}
