<app-dynamic-table (pageChange)="onPageChange($event)"
                   (removeColumn)="onRemoveColumn($event)"
                   (sizeChange)="onSizeChange($event)"
                   (sortBy)="onSortBy($event)"
                   [componentDetail]="componentDetail"
                   [fields]="fields"
                   [itemsPerPage]="itemsPerPage"
                   [rows]="displayedLogs"
                   [page]="page"
                   [showDetail]="true"
                   [showInactiveColumns]="false"
                   [totalItems]="events.length"
                   [viewDeleteAction]="true"
                   [initialExpandedId] = 0>
</app-dynamic-table>
