<div class="d-flex justify-content-between align-items-center pt-4 flex-wrap pb-2 border-bottom">
  <div>
    <h5 class="mb-0 text-uppercase fs-2">
      Interactive Console
    </h5>
    <span class="text-muted">
      This console provides direct command-line access to the remote server. For security purposes, please authenticate with your administrator credentials.
    </span>
  </div>
</div>

<app-utm-agent-console *ngIf="agent$ | async as agent" [template]="'on-demand'" [websocketCommand]="websocketCommand"
                       [hostname]="agent.hostname"></app-utm-agent-console>
