/* You can add global styles to this file, and also import other style files */
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~highlight.js/styles/xcode.css';
@import "assets/styles/theme";
@import "assets/styles/var";
@import "assets/styles/custom-elements";
@import "assets/styles/icons";
@import "assets/styles/timeline";
@import "assets/styles/header-notification";
@import "assets/styles/file-uploader";
@import "assets/styles/svg";
@import "assets/styles/svg-icon";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgba(51, 51, 51, .85);
}

body {
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.5385;
  font-family: "Poppins", sans-serif;
  background: #F2F3F7;
  color: #3F4254;
  //color: #c7d0d9;
  //background-color: #141619;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  .modal {
    background: #80808036 !important;
  }
}

.vw-80 {
  min-height: 80vh;
}


.bg-utm-bar {
  background-color: $primary-color;
}

//custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-color;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 0 transparent;
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 0 transparent;;
}

.scroll-0 {
  overflow-y: hidden !important;
}

/*---------------------------------------------*/
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-size: .75rem;
  line-height: 1.7;
  color: #212529;
  margin: 0;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: $primary-color !important;
  outline: 1px !important;
  box-shadow: 0 0 0 0 transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.input-field-has-error {
  border-color: #bd3233;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 0.5px #bd3233;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

a {
  &:hover {
    color: $primary-color;
  }
}

p {

}

// button utm

.utm-button {
  position: relative;
  color: #ffffff;
  font-size: .75rem !important;
  border: none;
  //border-radius: 0;
  transition: box-shadow 200ms cubic-bezier(.2, 0, .7, 1), transform 300ms cubic-bezier(.2, 0, .7, 1);

  i {
    font-size: .75rem !important;
  }

  &:hover {
    cursor: pointer;
  }
}

.utm-button-primary {
  //background: $primary-color;
  color: #FFFFFF;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    //transform: rotate(45deg);
    color: #ffffff;
    box-shadow: 0 0 1px 2px rgba($primary-color, 0.4),
    0 0 1px 5px rgba($primary-color, 0.1),
    0 0 1px 8px rgba($primary-color, 0.1);
  }
}

.utm-button-grey {
  background: #f5f5f5;
  color: $grey-color;
  border: 1px solid $grey-color;

  &:hover {
    //transform: rotate(45deg);
    //color: #ffffff;
    //background: $primary-color;
    box-shadow: 0 0 1px 2px rgba($grey-color, 0.4),
    0 0 1px 5px rgba($grey-color, 0.1),
    0 0 1px 8px rgba($grey-color, 0.1);
  }
}

.utm-button-success {
  //background: $primary-color;
  color: #FFFFFF;
  background-color: $success;
  border-color: $success;

  &:hover {
    //transform: rotate(45deg);
    color: #ffffff;
    box-shadow: 0 0 1px 2px rgba($success, 0.4),
    0 0 1px 5px rgba($success, 0.1),
    0 0 1px 8px rgba($success, 0.1);
  }
}

.utm-button-danger {
  background: $danger-color;

  &:hover {
    //transform: rotate(45deg);
    color: #ffffff;
    box-shadow: 0 0 1px 2px rgba($danger-color, 0.4),
    0 0 1px 5px rgba($danger-color, 0.1),
    0 0 1px 8px rgba($danger-color, 0.1);
  }
}

//

.badge-utm {
  color: #fff;
  font-weight: 300;
  background-color: $primary-color;
}

// pagination css
.pagination {
  .page-link {
    color: $primary-color;
  }

  .active {
    background: $primary-color !important;
  }

  .page-item.active .page-link {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #ffffff;

    &:focus {
      outline: 0 solid transparent !important;
      box-shadow: 0 0 0 0;
    }
  }
}

.dropdown-toggle::after {
  font-family: icomoon, sans-serif;
  display: inline-block;
  border: 0;
  vertical-align: middle;
  font-size: .6875rem;
  margin-right: .46875rem;
  line-height: 1;
  position: relative;
  content: '\e9c9';
}

// end pagination css

//tooltip
.utm-tooltip, .utm-tooltip-top, .utm-tooltip-bottom, .utm-tooltip-left {
  z-index: 999 !important;
  opacity: 10 !important;
}

.tooltip {
  z-index: 1240 !important;
}

.utm-tooltip .tooltip-inner {
  //background-color: $grey-color;
  font-size: 100%;
  z-index: 999 !important;
}

.utm-tooltip-bottom .tooltip-inner {
  //background-color: $grey-color;
  font-size: 100%;
  //z-index: 999 !important;
}

.utm-tooltip-top .tooltip-inner {
  //background-color: $grey-color !important;
  font-size: 100%;
  z-index: 999 !important;
}

.utm-tooltip-left .tooltip-inner {
  //background-color: $grey-color !important;
  font-size: 100%;
  z-index: 999 !important;
}

.utm-tooltip-right .tooltip-inner {
  //background-color: $grey-color !important;
  font-size: 100%;
  z-index: 999 !important;
}

.utm-tooltip-top .arrow::before {
  //border-top-color: $grey-color;
}

.utm-tooltip .arrow::before {
  //border-left-color: $grey-color;
}

.utm-tooltip-right .arrow::before {
  //border-right-color: $grey-color !important;
}

.utm-tooltip-bottom .arrow::before {
  //border-bottom-color: $grey-color !important;
}

.utm-tooltip-left .arrow::before {
  //border-left-color: $grey-color !important;
}

//modal styles
.button-close {
  margin-right: 4px !important;
  margin-top: 4px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.custom-toast {
  background: $primary-color;
}

.magic-checkbox + label, .magic-radio + label {
  padding-left: 23px !important;
  font-size: .75rem;
}

.magic-radio + label:before {
  width: 16px;
  height: 16px;
  border: 1px solid $primary-color !important;
}

.magic-checkbox + label:before {
  width: 16px !important;;
  height: 16px !important;
}

.magic-checkbox:checked + label:after, .magic-radio:checked + label:after {
  display: block;
}

.magic-checkbox + label:after {
  top: 0 !important;
  left: 5px !important;
}

.magic-checkbox:checked + label:before {
  border: $primary-color !important;
  background: $primary-color !important;
}

.magic-radio + label:after {
  top: 4px;
  left: 4px;
  background: $primary-color !important;
}

span {
  font-size: .75rem;
}

.span-small-icon {
  i {
    font-size: 10px;
  }
}

.small-md-icon {
  i {
    font-size: .60rem;
  }
}

.medium-icon {
  i {
    font-size: .75rem;
  }
}

label {
  margin-bottom: 0 !important;
}

.label-header {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

// modal class
.modal-date-range {
  .modal-dialog {
    width: 106.5% !important;

    .modal-content {
      width: 106.5% !important;
    }
  }
}

.modal-delete {
  width: 50%;
  left: 35%;
}

// table custom
table {
  thead {
    tr {
      th {
        font-size: 11px;
      }
    }
  }

  tbody {
    tr {
      td {
        font-size: .75rem;
        padding: .70rem;
        vertical-align: middle !important;
        word-break: break-all;

        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.utm-input-text-font12 {
  font-size: .75rem;
}

.input-group-text {
  border-radius: .25rem 0 0 .25rem !important;
}

.form-group {
  label {
    font-weight: 400;
  }

  input {
    height: 36px !important;
  }

  label, span {
    font-size: .75rem !important;
  }
}

label, span {
  font-size: .75rem !important;
}

label {
  font-weight: 400;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.form-control {
  font-size: 14px !important;
}

// modal style
.modal-content {
  border: 0 transparent !important;
  max-height: 800px;
  overflow-y: auto;
  border-radius: 0;
}

.card {
  border-radius: 0;

  .card-header {
    border-radius: 0;
  }

  .card-header-title {
    label {
      font-size: 13px !important;
      color: $primary-color !important;
      font-weight: 400;
    }
  }

  .card-header-chart {
    border-radius: 0;
    background-color: #FFFFFF !important;
  }
}

.label-header {
  font-size: 14px;
  color: $primary-color !important;
}

.popover {
  z-index: 2065 !important;
}

.utm-popover-right {
  max-width: 400px !important;
  top: 37px !important;

  .arrow {
    top: 18px !important;

    &::after {
      border-right-color: white;
    }
  }

  .popover-header {
    background-color: white !important;
  }
}

.utm-popover {
  max-width: 800px !important;

  .arrow {
    &::after {
      //border-right-color: $blue-scroll;
    }
  }

  .popover-header {
    //background-color: $blue-scroll !important;
    background-color: #ffffff;
  }
}

.utm-popover-bottom {
  //top: 37px !important;
  max-width: 500px !important;

  .arrow {
    //top: 18px !important;

    &::after {
      //border-bottom-color: $blue-scroll;
    }
  }

  .utm-popover-xs {
    //top: 37px !important;
    max-width: 300px !important;
    z-index: 2062 !important;
  }

  .popover-header {
    background-color: white !important;

    &:before {
      border-bottom: 0 solid transparent;
    }
  }
}

.utm-popover-auto {
  //top: 37px !important;
  max-width: 500px !important;
  top:70%!important;
  left:50%!important;
  transform: translate(-50%, -50%)!important;

  .arrow {
    //top: 18px !important;

    &::after {
      //border-bottom-color: $blue-scroll;
    }
  }

  .utm-popover-xs {
    //top: 37px !important;
    max-width: 300px !important;
    z-index: 2062 !important;
  }

  .popover-header {
    background-color: white !important;

    &:before {
      border-bottom: 0 solid transparent;
    }
  }
}

::ng-deep {
  .jsoneditor .jsoneditor-menu {
    background-color: $blue-scroll !important;
  }

  .sortable-header {
    width: auto;
    padding: 5px;
    background: white !important;
    border-bottom: 1px solid #d9d9d9;
    height: 30px;
    background-image: none !important;
    box-sizing: content-box;
    color: $primary-color;
  }

  .ngx-json-viewer {
    overflow: auto !important;

    .segment {
      .segment-main {

        .toggler::after {
          content: '\e9c7' !important;
          font-size: 18px;
          font-family: 'icomoon', serif !important;
        }

        .segment-key, .segment-separator {
          color: $primary-color !important
        }

        .segment-value {
          white-space: normal;
        }
      }
    }
  }

  .search-highlight {
    background-color: #F2E366;
  }
}

::ng-deep {
  mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
  }
}

::ng-deep {
  .ngb-tp-chevron {
    &::before {
      border-style: solid;
      font-family: icomoon, sans-serif;
      border-width: .29em .29em 0 0;
      content: '\ec67';
      display: inherit;
      height: .5em;
      left: .05em;
      position: relative;
      top: .15em;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      vertical-align: middle;
      width: .69em;
    }
  }
}

:host ::ng-deep {
  ngb-timepicker input {
    height: 45px;
  }
}

// CHARTS
.chart-fixed-height {
  min-height: 335px;
  height: 335px;
}


.utm-br-0 {
  border-radius: 0;
}

h6 {
  font-weight: 300;
  font-size: 15px;
}

// css for drag and drop
.drag-element {
  height: 100%;
  width: 10px;
  border-left: 5px transparent;
  border-right: 5px transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: col-resize;
  }

  i {
    font-size: 15px;
    transform: rotate(90deg);
    color: $blue-scroll !important;
  }
}

.resizable-table-responsive {
  transition-duration: 0.3s;
  position: relative;
}

.resizable-filter-container {
  position: relative;

  &:after {
    font-family: icomoon, sans-serif;
    position: absolute;
    top: 50%;
    right: -5px;
    content: '\ec67';
    transform: rotate(90deg);
    color: #0d47a1;
  }
}

i {
  &:active {
    zoom: 1.05;
    transition: ease 0.1s;
  }
}

.w-30 {
  width: 30%;
}


// sidebar styles

$topnav-background-color: #FFFFFF;
.sidebar-app-management {
  //border-radius: 0;
  //z-index: 10;
  //top: $navbar-primary-height + $navbar-secondary-height;
  //border-right: 1px solid rgba(0, 0, 0, 0.125);
  //width: 200px;
  //overflow-y: auto;
  //background-clip: content-box;
  //background-color: $topnav-background-color;
  //bottom: 0;
  //overflow-x: hidden;
  //white-space: nowrap;
  //-webkit-transition: all 0.2s ease-in-out;
  //-moz-transition: all 0.2s ease-in-out;
  //-ms-transition: all 0.2s ease-in-out;
  //-o-transition: all 0.2s ease-in-out;
  //transition: all 0.2s ease-in-out;
  //
  //.sidevar-profile {
  //  padding-left: 6%;
  //  color: #222222;
  //  font-size: 25px;
  //  font-weight: 500;
  //}

  .list-group {
    padding-right: 5px;
    border: 0;

    a.list-group-item {
      background: $topnav-background-color;
      border: 0;
      color: $primary-color;
      text-decoration: none;
      position: relative;
      padding: 5px 15px;

      span {
        margin-left: 0;
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        white-space: pre-line;
      }
    }

    a:hover {
      color: $primary-color-hover;
      cursor: pointer;
    }


    a.router-link-active {
      color: $blue-scroll;
    }

    .header-fields {
      padding-top: 10px;

      > .list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@media screen and(max-width: 480px) {
  .sidebar {
    border-right: 0 solid transparent;
    width: 100% !important;

    .list-group {
      flex-direction: row !important;
      overflow-x: scroll;
      width: 100% !important;
      margin-top: 10px;

      a.router-link-active {
        &:after {
          display: none;
        }
      }
    }
  }

}

.bg-image-utmstack {
  background: url(./assets/img/login/login-background.jpg) no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //box-shadow: inset 0 0 0 2000px rgba(38, 38, 40, 0.56);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-utmstack-blurry {
  opacity: 0.20;
}

.btn-link {
  font-weight: 300;
  color: #0277bd;
  text-decoration: none;
  font-size: 14px;
}

.badge {
  font-weight: 300 !important;
}


@media print {
  @page {
    size: A4;
    margin: 0 0 0 0 !important;
  }
  body {
    background-color: white !important;
  }
}

////////////////////////////////////// REPORT STYLE ////////////////////////////////////////////////
.compliance-front-page {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  height: 1600px;
  width: 1100px;
  overflow: hidden;
  min-width: 1100px;

  .img-front-page {
    width: 1100px;
    min-width: 1100px;
    height: inherit;
    background: white;
  }

  .print-front-align {
    max-width: 1100px;
    position: absolute;
    padding-left: 7.5%
  }

  .prepared {
    top: 5%;
    width: 60%;
  }

  .report-name {
    top: 22%;
    width: 100%;

    h3 {
      max-width: 50%;
      white-space: pre-line;
      line-height: 1.5;
    }
  }

}

.line {
  width: 15%;
  margin: 20px 0;
  border-bottom: 1px #1a202f solid;
}

.line-large {
  width: 75%;
  margin: 20px 0;
  border-bottom: 3px #1a202f solid;
}

.compliance-second-page {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  width: 1100px;
  overflow: hidden;

  .compliance-descriptive {
    position: absolute;
    top: 15%;
    right: 20%;
    max-width: 400px;
    white-space: pre-line;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 15px;
  }

  .standard-prev {
    top: 18%;
    position: absolute;
    left: 7.5%;
    color: white;
  }

  .compliance {
    top: 40%;
    position: absolute;
    left: 6%;
  }

  .compliance-info {
    h6 {
      white-space: pre-line;
      max-width: 900px;
      font-size: 17px;
      line-height: 1.5;
    }

  }

  .img-second-page {
    width: 1100px;
    height: inherit;
    background: white;
  }
}

.vis-container-print {
  margin-top: 20px;
}


@media print {
  .compliance-front-page {
    height: 1683px;
  }
  .img-front-page, .img-second-page {
    width: 1200px !important;
  }
  .compliance-front-page, .compliance-second-page {
    width: 1200px !important;
    page-break-after: always;
  }

  .vis-container-print-compliance {
    padding-top: 150px;
  }

  .vis-container-print {
    padding-top: 15px;
  }
  .print-front-align, .compliance, {
    left: 4% !important;
  }

  .standard-prev {
    left: 7% !important;
  }

  //img {
  //  width: 100% !important;
  //}
  //::ng-deep {
  //  .visualization-container {
  //    margin-top: 20px !important;
  //  }
  //}
  @page {
    size: A4;
  }
}

::ng-deep {
  svg[alt] {
    display: none !important;
  }
}

.modal {
  z-index: 2061 !important;
}

.tooltip {
  z-index: 2062 !important;
}

.alert-warning {
  color: #232f3e !important;
  background-color: #fbbac0 !important;
  border-color: #f58d95 !important;
}

.alert-info {
  color: #232f3e !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.date-format-popover {
  width: 320px !important;
  max-width: 320px !important;

  .popover-body {
    width: 320px !important;
  }

}


.adminSetupModal .modal-dialog {
  width: 500px !important;
  max-width: 500px !important;
}


.window {
  border-radius: 3px;
  background: #222;
  color: #fff;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;

  &:before {
    content: ' ';
    display: block;
    height: 28px;
    background: #C6C6C6;
  }

  &:after {
    content: '. . .';
    position: absolute;
    left: 12px;
    right: 0;
    top: -13px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
  }
}

.terminal {
  margin: 10px;
  font-family: monospace;
  font-size: 16px;
  color: #22da26;

  .console-info {
    font-size: 16px;
    color: #22da26;
  }

  .command {
    width: 100%;
    color: #22da26;
    font-size: 12px;
    white-space: pre-line;
    overflow: hidden;
    background: #222;
  }
}

//.popover-450 {
//  width: 400px;
//  max-width: 400px;
//  height: 500px;
//  overflow-y: auto !important;
//  overflow-x: hidden;
//}
.popover-450 {
  width: 400px;
  max-width: 490px;
  height: 528px;
  overflow-y: auto !important;
  overflow-x: hidden;
  top: 62px !important;
  left: -18px !important;
}

.popover-350 {
  width: 350px !important;
  max-width: 350px !important;
}


.word-break {
  word-break: break-word
}

.cp-schedule-report{
  .modal-content{
    height: 700px;
  }
}

.popover-group{
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
    width: 100%;
  }
}

app-rules {
  .ng-select .ng-select-container {
    min-height: 33px !important;
    height: auto !important;
  }
}

app-utm-cp-cron-editor {
  ngb-timepicker{
    font-size: unset;
  }
}

.ngb-tp-input-container {
  width: unset!important;
}

app-logstash-pipelines{
  .type-select .ng-select-container {
    height: 36px!important;
  }
}



