<div class="m-0 card h-100">
  <div class="card-header card-header-chart p-2 d-flex
   justify-content-between align-items-center bg-white">
    <label class="card-title text-blue-800">
      Services Overview
    </label>

  </div>
  <div class="card-body p-0">
    <div class="table-responsive w-100">
      <table class="table text-nowrap">
        <thead>
        <tr>
          <th style="width: 70px">Method</th>
          <th>Path</th>

          <th style="width: 50px">Mean(milliseconds)</th>
          <th style="width: 50px">Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of services  | slice:pageStart:pageEnd">
          <td>
            <div class="http-method" [ngClass]="'http-method-'+ item.method.toLowerCase()">{{ item.method }}</div>
          </td>
          <td>{{ item.path }}</td>

          <td>{{ item.mean | number: '1.0-2'}}</td>
          <td>{{ item.count }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="services.length>0" class="mb-2">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        (pageChange)="loadPage($event)"
        [(page)]="page"
        [collectionSize]="totalItems"
        [maxSize]="5"
        [pageSize]="itemsPerPage"
        [size]="'sm'"></ngb-pagination>
    </div>
  </div>
</div>
