<app-utm-modal-header [name]="credential?'Edit credential':'New credential'" class="w-100"></app-utm-modal-header>
<div class="container-fluid p-3 create-task-container">
  <div class="task-form-container d-flex flex-column p-3">
    <form [formGroup]="formCredential" action="" class="form">
      <div class="form-group">
        <label class="pb-1" for="name">Name</label>
        <input [ngClass]="inputClass.resolveClassInput(formCredential.get('name'))" class="border-1 border-grey-600 form-control" formControlName="name" id="name"
               name="">
        <app-formcontrol-error [formcontrol]="formCredential.get('name')"></app-formcontrol-error>
      </div>

      <div class="form-group">
        <label class="pb-1" for="comment">Comments</label>
        <textarea class="border-1 border-grey-600 form-control" formControlName="comment" id="comment" name=""
                  rows="2">
        </textarea>
      </div>
      <!--      <div class="d-flex flex-column w-75">-->
      <!--        <label for="name" class="pb-1">Type</label>-->
      <!--        <ng-select [items]="type"-->
      <!--                   bindLabel="name"-->
      <!--                   [searchable]="true"-->
      <!--                   autofocus-->
      <!--                   bindValue="id">-->
      <!--        </ng-select>-->
      <!--      </div>-->
      <!--      insecure use-->
      <div class="row m-0 mb-3 mt-3">
        <div class="col-lg-6 col-md-12 col-sm-12 pl-0">
          <!--generate to result-->
          <div class="d-flex justify-content-start flex-column">
            <label class="pb-1" for="name">Allow insecure use?</label>
            <div class="d-flex justify-content-start align-items-center">
              <input [value]="1"
                     class="form-check-input magic-radio" formControlName="allowInsecure" id="yes"
                     name="allowInsecure"
                     type="radio">
              <label class="mb-0" for="yes">
                Yes
              </label>
              <input [value]="0"
                     class="form-check-input magic-radio" formControlName="allowInsecure" id="no"
                     name="allowInsecure" type="radio">
              <label class="mb-0 ml-4" for="no">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pr-0">
          <!--      generate-->
          <!--          <div class="d-flex justify-content-start flex-column">-->
          <!--            <label for="name" class="pb-1">Auto-generate?</label>-->
          <!--            <div class="d-flex justify-content-start align-items-center">-->
          <!--              <input [value]="true"-->
          <!--                     class="form-check-input magic-radio" id="applyOverrideYes" name="open"-->
          <!--                     type="radio">-->
          <!--              <label class="mb-0" for="applyOverrideYes">-->
          <!--                Yes-->
          <!--              </label>-->
          <!--              <input [value]="true"-->
          <!--                     class="form-check-input magic-radio" id="applyOverrideNo" name="open"-->
          <!--                     type="radio">-->
          <!--              <label class="mb-0 ml-4" for="applyOverrideNo">-->
          <!--                No-->
          <!--              </label>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
      <!--usser and pass-->


      <div class="form-group">
        <label class="pb-1" for="username">Username</label>
        <input [ngClass]="inputClass.resolveClassInput(formCredential.get('login'))" class="border-1 border-grey-600 form-control" formControlName="login" id="username"
               name=""
               type="text">
        <app-formcontrol-error [formcontrol]="formCredential.get('login')"></app-formcontrol-error>
      </div>
      <div *ngIf="credential" class="check pt-2 pb-1">
        <input (change)="overridePassword()" [checked]="override" class="form-check-input magic-checkbox"
               id="low" name="height" type="checkbox">
        <label class="mb-0" for="low">Override password?</label>
      </div>
      <div class="form-group">
        <label class="pb-1" for="password">Password</label>
        <input class="border-1 border-grey-600 form-control" formControlName="password" id="password"
               name=""
               type="password">
      </div>

    </form>

    <div class="button-container d-flex justify-content-end mt-3">
      <button (click)="activeModal.close()" class="btn utm-button utm-button-grey mr-3">
        <i class="icon-cancel-circle2"></i>&nbsp;
        Cancel
      </button>
      <button (click)="createCredential()"
              *ngIf="!credential" [disabled]="!formCredential.valid || creating" class="btn utm-button utm-button-primary">
        <i [ngClass]="creating?'icon-spinner2 spinner':'icon-database-insert'"></i>&nbsp;
        Save
      </button>
      <button (click)="editCredential()"
              *ngIf="credential" [disabled]="!formCredential.valid || creating" class="btn utm-button utm-button-primary">
        <i [ngClass]="creating?'icon-spinner2 spinner':'icon-database-edit2'"></i>&nbsp;
        Edit
      </button>
    </div>
  </div>
</div>


