<ng-container [ngSwitch]="column.field">
    <span class="m-1" *ngSwitchDefault>
        {{ rule[column.field] }}
    </span>

  <ng-container *ngSwitchCase="RULE_INTEGRITY">
    <app-incident-severity [severity]="rule[column.field]"></app-incident-severity>
  </ng-container>

  <ng-container *ngSwitchCase="RULE_CONFIDENTIALITY">
    <app-incident-severity [severity]="rule[column.field]"></app-incident-severity>
  </ng-container>

  <ng-container *ngSwitchCase="RULE_AVAILABILITY">
    <app-incident-severity [severity]="rule[column.field]"></app-incident-severity>
  </ng-container>

    <ng-container *ngSwitchCase="RULE_DATA_TYPES">
         <span  *ngFor="let type of rule[column.field]"
                [ngbTooltip]="type.dataType"
                placement="auto"
                container="body"
                class="bg-success-300 badge p-1 border-1 m-1">
                    {{type.dataType}}
         </span>
    </ng-container>
    <!--<ng-container *ngSwitchCase="RULE_REFERENCES">
        <ul>
            <li *ngFor="let ref of rule[column.field]">
                <span class="font-size-sm">{{ ref }}</span>
            </li>
        </ul>
    </ng-container>-->

</ng-container>
