<app-utm-modal-header [name]="'Create scan'" class="w-100"></app-utm-modal-header>
<div class="container-fluid p-3 create-task-container">
  <div class="mt-3 d-flex align-items-center w-75">
    <div class="d-flex flex-column flex-grow-1">
      <label class="pb-1" for="target">Target</label>
      <ng-select [clearable]="false"
                 [items]="targets"
                 [loadingText]="'Loading targets...'"
                 [loading]="loadingTarget"
                 [searchable]="true"
                 bindLabel="name"
                 bindValue="uuid"
                 id="target"
                 style="width: 201px">
      </ng-select>
    </div>
    <div class="add-action-form ml-3 pt-3">
           <span (click)="newTarget()">
             <i class="icon-plus3"></i>
             Add target
           </span>
    </div>
  </div>
</div>
