@import "../../../../../../../assets/styles/theme";
@import "../../../../../../../assets/styles/var";

.d-columns-container {
  min-width: 300px;

  .sortable-list-item {
    .field-name {
      max-width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .operation {
    min-width: 30px;
  }

  .card-not-visible {
    width: 300px;

    .card-header-inactive {
      background: white !important;
      color: $primary-color !important;
      font-weight: 400;
      padding: 4px 10px 0 10px !important;
      height: 28px !important;
      border-bottom: 1px solid #d9d9d9;
      box-sizing: border-box;
      font-size: 12px;
    }

    .ul-container {
      height: 250px;
      max-height: 250px;
      overflow-y: auto;
    }
  }
}


::ng-deep {
  .card-column-text {
    font-size: 12px;
  }

  .sortable-container .sortable-header {
    padding: 0 10px !important;
    height: 28px !important;
  }

  .sortable-container .sortable-list {
    overflow-y: scroll;
    height: 17rem !important;
    margin-top: 2.625rem!important;
  }

  .sortable-container .sortable-list .sortable-list-item {
    font-size: 12px;
  }

  .sortable-container .sortable-list .active {
    background-color: #1a6a81 !important;
  }

  .sortable-header {
    background: white !important;
    color: $primary-color !important;
    font-weight: 300;
  }

  .sortable-container .sortable-header .sortable-buttons {
    button {
      display: none !important;
      background: $primary-color !important;
      border: 0 solid $primary-color !important;
    }
  }

  .sortable-container .sortable-header .sortable-buttons button {
    display: none !important;
    background: $primary-color !important;
    border: 0 solid $primary-color !important;
  }

  .sortable-container .sortable-list .active {
    background: #309faa !important;
    color: white;
    border-left: 3px solid $primary-color !important;
  }
}

.active {
  background-color: #3f94e9 !important;
  color: #ffffff;
  border-left: 3px solid $primary-color !important;
}

.custom-sortable {
  max-height: 400px;
  overflow-y: auto;
}

.custom-panel {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-flex-item-grow-1 {
  flex-grow: 1;
}

.form-group-feedback {
  position: relative;
}

.form-group-feedback .form-control {
  padding-left: 37px;
}

.form-control-feedback {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-search4 {
  color: #999;
}

.order-buttons-container {
  display: flex;
  height: 36px; /* Aseguramos que el contenedor tenga el mismo height que el input */
  border: 1px solid #ddd; /* Border de 1px */
  border-radius: 4px; /* Bordes redondeados */
  align-items: center; /* Centramos verticalmente los botones */
  background-color: #fff;
}

.order-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.order-button:hover {
  background-color: #f0f0f0;
}

.order-button:focus {
  outline: none;
}

.order-button-selected {
  background-color: #0056b3;
  color: #f0f0f0;
}

.order-button-unselected {
  background-color: #d3dae6;
  color: #0277bd;
}

.order-button-selected:hover {
  background-color: #0056b3;
  color: #f0f0f0;
}

.order-button-unselected:hover {
  background-color: #e0e0e0;
}

.custom-item-text {
  font-size: 14px;
}

.custom-sort-container {
  max-height: 250px;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}

.custom-sort-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-sort-item:hover,
.custom-sort-item.selected {
  background-color: #f5f5f5;
}

.sort-search-container {
  top: 2.313rem;
}

