.log-fields {
  min-width: 300px;
}


.field-view {
  height: 100%;
}

app-log-analyzer-field {
  height: 100%;
}

.search-container {
  max-width: 60%; // Establece el ancho máximo
  min-width: 40%; // Ancho mínimo para garantizar que no sea demasiado pequeño
  width: 100%;    // Asegura que ocupe todo el espacio disponible dentro de su contenedor
}

