<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Sophos Central
    </h4>
  </div>

  <div class="card-body">
    <p class="font-size-base">
      Sophos Central provides secure APIs to retrieve event and alert data. UTMStack can utilize these APIs to centralize monitoring and enhance your security visibility<br>

    <h6 class="font-weight-semibold mt-3 mb-3">
      Generate API Credentials in Sophos Central:
    </h6>
    <ol class="setup_list">
      <app-utm-list [items]="steps">
        <ng-template stepTemplateRef let-step>
          <li>
            <app-step>
              <span stepNumber>{{step.id}}</span>
              <div [innerHtml]="step.name"></div>
              <ng-container *ngIf="step.content">

                <ng-template [ngIf]="step.content['images']">
                  <app-utm-list [items]="step.content['images']">
                    <ng-template stepTemplateRef let-image>
                      <img [alt]="image.alt" class="step-img" [src]="image.src">
                    </ng-template>
                  </app-utm-list>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent4'">
                  <app-int-generic-group-config [moduleId]="integrationId"
                                                (configValidChange)="configValidChange($event)"
                                                [serverId]="serverId"></app-int-generic-group-config>
                </ng-template>

                <ng-template [ngIf]="step.content.id === 'stepContent5'">
                  <div  class="mt-3">
                    <app-app-module-activate-button [module]="module.SOPHOS" [type]="'integration'"
                                                    [disabled]="configValidity"
                                                    [serverId]="serverId">
                    </app-app-module-activate-button>
                  </div>
                </ng-template>

              </ng-container>
            </app-step>
          </li>
        </ng-template>
      </app-utm-list>
    </ol>
  </div>
</div>
