
  <div class="row">
    <div class="col-md-4" *ngIf="timeFrequency === TimeFrequency.Daily">
      <div class="form-group">
        <label for="dailyFrequency">Repeat Every</label>
        <select (change)="emitChange()" class="form-control" id="dailyFrequency" [(ngModel)]="dailyFrequency">
          <option *ngFor="let option of frequenciesByType" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4" *ngIf="timeFrequency === TimeFrequency.Monthly">
      <div class="form-group">
        <label for="monthlyFrequency">Repeat Every</label>
        <select (change)="emitChange()" class="form-control" id="monthlyFrequency" [(ngModel)]="monthlyFrequency">
          <option *ngFor="let option of frequenciesByType" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4" *ngIf="timeFrequency === TimeFrequency.Yearly">
      <div class="form-group">
        <label for="yearlyFrequency">Repeat Every</label>
        <select (change)="emitChange()" class="form-control" id="yearlyFrequency" [(ngModel)]="yearlyFrequency">
          <option *ngFor="let option of months" [value]="option.value">{{ option.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4"
         [ngClass]="{ 'col-md-4': timeFrequency !== TimeFrequency.Weekly, 'col-md-6': timeFrequency === TimeFrequency.Weekly }">
      <div class="form-group">
        <label for="timeFrequency">{{ timeFrequency }}</label>
        <select class="form-control" id="timeFrequency" (change)="onChangeFrequency()" [(ngModel)]="timeFrequency">
          <option *ngFor="let option of getTimeEnumValues(TimeFrequency)" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4"
         [ngClass]="{ 'col-md-4': timeFrequency !== TimeFrequency.Weekly, 'col-md-6': timeFrequency === TimeFrequency.Weekly }">
      <div class="form-group">
        <label>{{ 'Hour(s):Min(s)' }}</label>
        <ngb-timepicker
          (change)="emitChange()"
          [(ngModel)]="time"
          [seconds]="false"
          [spinners]="false"
          [meridian]="false"
          size="medium">
        </ngb-timepicker>
      </div>
    </div>
  </div>

  <ng-container *ngIf="timeFrequency === TimeFrequency.Weekly">
    <div class="margin-bottom order-2 order-sm-3">
      <div class="d-flex gap-5">
        <span *ngFor="let day of getTimeEnumValues(DaysOfWeek)" style="cursor: pointer"
              class="badge badge-circle badge-lg"
              [ngClass]="isSelected(day) ? 'badge-primary': 'badge-outline badge-primary'"
              (click)="setDays(day)">
          {{day[0]}}
        </span>
      </div>
    </div>
  </ng-container>

<!--<div [hidden]="true">
  {{ cronSentence }}
</div>-->
