<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Webroot
    </h4>
  </div>
  <div class="card-body">
    <p class="font-size-base">
      Creating API client credentials allows you to connect with the Unity API system using a secure, authenticated
      connection between SecureAnywhere and your managed systems. This, in turn, allows you to automate billing,
      reporting, deployment, and other processes.<br>
      For more information on API, see <a class="text-primary font-weight-semibold"
                                          href="https://unityapi.webrootcloudav.com/docs"
                                          target="_blank">Webroot Unity API</a>.
    </p>
    <h6 class="font-weight-semibold mt-3 mb-3">
      Creating API Client Credentials
    </h6>
    <ol class="setup_list">
      <li>
        <p class="step-guide">
          <span class="step_number">1</span>
          Log in to the <a class="text-primary font-weight-semibold" href="https://my.webrootanywhere.com/"
                           target="_blank">management
          console</a>.The management console displays, with the Sites tab active.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/GSMConsole_SitesTab_715x182.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">2</span>
          Click on the <b>Settings</b> tab.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/SitesTab_ClickSettings_715x182.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">3</span>
          The Settings tab displays with the Subscriptions tab active
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/SettingsTab_SubscriptionsTab_539x413.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">4</span>
          Click on the <b>API Access</b> tab.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/SettingsTab_SubscriptionsTab_ClickAPIAccess_541x414.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">5</span>
          The API access tab displays.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/SettingsTab_APIAccessTab_715x242.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">6</span>
          Click on the <b>New</b> button.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/SettingsTab_APIAccessTab_ClickNew_715x242.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">7</span>
          The Create New Client Credential window displays.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/APIAccess_CreateNewClientCredentialWindow_715x379.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">8</span>
          In the Name field, enter the name of the credential.
        </p>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">9</span>
          In the Description field, enter a short description of the credential.
        </p>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">10</span>
          Click on the <b>Click here to view Webroot SecureAnywhere&nbsp;Business Solution</b> link, and review
          the service terms and conditions for <a
          class="text-primary font-weight-semibold"
          href="https://www-cdn.webroot.com/3215/4325/9904/Unity_SDK_and_Unity_API_Agreement_23_MAR_17.pdf"
          target="_blank">Webroot Unity SDK and Unity API Agreement</a>.
        </p>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">11</span>
          When you're done, click on the <b>Create</b> button.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/APIAccess_CreateNewClientCredentialWindow_ClickCreate_715x379.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">12</span>
          The system displays the Client Credential Record window. This window displays the name and description of
          the credential, reflecting what you entered, but also the Client ID, which displays in the Client ID
          column
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/APIAccess_ClientCredentialRecordWindow_715x454.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">13</span>
          More importantly, the window displays the client secret, which is not displayed in the console. You must
          make note of the client secret, after which, click on the <b>I have made note of the client secret</b> button.
        </p>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/APIAccess_ClientCredentialRecordWindow_IHaveMadeNote_715x454.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">14</span>
          As needed, you can highlight the client line item and perform any of the following functions:
        </p>
        <ul class="mt-3 ml-3" style="list-style-type: circle !important;">
          <li value="1">To edit a client credential, click on the <b>Edit</b> button, and update the fields. When you're
            done, click the <b>Save Changes</b> button.
          </li>
          <li value="2">To delete a client credential, click on the <b>Delete</b> button. Confirm the deletion by
            clicking the <b>Delete</b> button.
          </li>
          <li value="3">To create a new client secret, click on the <b>Renew Secret</b> button, and take note of the new
            client secret before clicking the <b>I have made note of the client secret</b> button.
          </li>
          <li value="4">To suspend a client, click the <b>Suspend</b> button. Confirm the suspension by clicking the
            <b>Suspend</b> button.
          </li>
          <li value="5">To access relevant documentation, click on the <b>Unity API</b> button.</li>
          <li value="6">To access relevant documentation, click on the <b>Developer</b> button.</li>
        </ul>
        <img alt="GSMConsole" class="step-img"
             src="../../../../assets/img/guides/webroot/APIAccess_ClientCredentialsHighlighted_715x218.png">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">15</span>
          Insert information in the following inputs.You can add more than one o365
          configuration by clicking on "Add tenant" button.
        </p>
        <div class="row mt-3">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <app-int-generic-group-config [moduleId]="integrationId"
                                          (configValidChange)="configValidChange($event)"
                                          [serverId]="serverId"></app-int-generic-group-config>
          </div>
        </div>
      </li>
      <li>
        <p class="step-guide mb-3">
          <span class="step_number">16</span>
          Click on the button shown below, to activate the UTMStack features related to this integration
        </p>
        <app-app-module-activate-button [module]="module.WEBROOT" [type]="'integration'"
                                        [disabled]="configValidity"
                                        [serverId]="serverId"
                                        class="mt-3">
        </app-app-module-activate-button>
      </li>
    </ol>
  </div>
</div>
