<div class="w-100 d-flex flex-column flex-grow-1 h-100" *ngIf="compliance$ | async as compliance">
  <div [ngClass]="isComplaint() ? 'border-left-success' : 'border-left-danger'">
    <div class="d-flex justify-content-around align-content-center py-1" style="border-bottom: 1px solid #ccc;">
      <div style="padding-left: 10px" class="w-100">
        <span class="text-blue-800 font-weight-light mr-2">Status:</span>
        <span [ngClass]="isComplaint() ? 'text-success' : 'text-danger'"
              class="span-small-icon d-flex justify-content-start align-items-center">
            {{ isComplaint() ? 'Compliant' : 'Non compliant' }}
        </span>
      </div>

      <div class="w-100" style="border-left: 1px solid #ccc; padding-left: 10px;">
        <span class="text-blue-800 font-weight-light mr-2">Time window:</span>
        <app-compliance-time [report]="report"></app-compliance-time>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="d-flex justify-content-around align-content-center">
      <div class="alert-details w-100 d-flex justify-content-start align-items-center">
        <span class="text-blue-800 font-weight-light mr-2">Compliance report scope:</span>
      </div>
      <button *ngIf="compliance.rows.length > 0" (click)="exportToCsv(compliance)"
              [disabled]="!report.configSolution && !compliance"
              class="btn utm-button utm-button-primary mb-2 mr-2">
        <i class="mr-1 icon-table2"></i>
        {{csvExport ? 'Generating...' : 'Export to CSV'}}
      </button>
      <button (click)="exportToPdf()"
              class="btn utm-button utm-button-primary mb-2">
        <i [ngClass]="printFormat?'icon-download10':'icon-file-pdf'" class="mr-1"></i>
        {{printFormat ? 'Generating...' : 'Save to PDF'}}
      </button>
    </div>

    <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
      <p class="font-size-base">{{ report.section.standard.standardName }}</p>
    </div>
    <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
       <app-utm-collapsible-text class="font-size-base" [maxLength]="200" [text]="report.section.standard.standardDescription"></app-utm-collapsible-text>
    </div>

    <div class="alert-details w-100 d-flex justify-content-start align-items-center mt-3">
      <span class="text-blue-800 font-weight-light mr-2">Compliance section:</span>
    </div>
    <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
      <p class="font-size-base">{{ report.section.standardSectionName }}</p>
    </div>
    <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
       <app-utm-collapsible-text class="font-size-base" [maxLength]="200" [text]="report.section.standardSectionDescription"></app-utm-collapsible-text>
    </div>

    <div class="alert-details w-100 d-flex justify-content-start align-items-center mt-3">
      <span class="text-blue-800 font-weight-light mr-2">Compliance report:</span>
    </div>

    <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
      <app-utm-collapsible-text class="font-size-base" [maxLength]="200" [text]="report.configSolution"></app-utm-collapsible-text>
    </div>

    <ng-container *ngIf="report.configReportNote">
      <div class="alert-details w-100 d-flex justify-content-start align-items-center mt-3">
        <span class="text-blue-800 font-weight-light mr-2">Compliance note:</span>
      </div>

      <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
        <app-utm-collapsible-text class="font-size-base" [maxLength]="200" [text]="report.configReportNote"></app-utm-collapsible-text>
      </div>
    </ng-container>

    <ng-container *ngIf="!isComplaint() && report.configRemediation">
      <div class="alert-details w-100 d-flex justify-content-start align-items-center mt-3">
        <span class="text-blue-800 font-weight-light mr-2">Compliance remediation:</span>
      </div>

      <div class="alert-details w-100 d-flex justify-content-start align-items-center mb-2">
        <app-utm-collapsible-text class="font-size-base" [maxLength]="200" [text]="report.configRemediation"></app-utm-collapsible-text>
      </div>
    </ng-container>

    <div *ngIf="compliance.rows.length > 0" class="alert-details w-100 d-flex justify-content-start align-items-center mb-2 mt-3">
      <span class="text-blue-800 font-weight-light mr-2">Evidence:</span>
    </div>

    <div *ngIf="compliance.rows.length > 0" class="alert-details w-100 d-flex d-flex flex-column flex-grow-1 overflow-auto mb-2">
      <app-utm-json-detail-view [rowDocument]="compliance.rows"></app-utm-json-detail-view>
    </div>
  </div>
</div>
