.metric {
  .metric-number {
    //border-radius: 50% !important;
    font-size: 1em !important;
    font-weight: 600 !important;
    //width: 45px;
    //height: 45px;
  }

  span {
    font-size: 9px !important;
    font-weight: 500;
  }
}
