
<app-utm-modal-header [name]="'Rule Details'">

</app-utm-modal-header>


<!-- utm-json-detail-view.component.html -->
<div class="d-flex h-100 m-h-0 overflow-auto p-2 rule-view-container">
  <app-utm-json-detail-view [rowDocument]="rowDocument"></app-utm-json-detail-view>
</div>

<div class="header d-flex flex-row w-100 align-items-center justify-content-end">
  <button class="btn utm-button utm-button-primary floating-btn" (click)="copyToClipboard()" title="Copy YAML">
    <i class="icon-clipboard mr-2"></i>Copy
  </button>

</div>
