<div class="container d-flex justify-content-center align-items-center w-100 h-100">
  <div class="card w-25">
    <div class="header p-2 border-bottom-1 border-grey-100">
      <h6 class="font-weight-light text-blue-800">
        {{moduleDisable}} module is disable
      </h6>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-center align-items-center icon-container">
        <i class="icon-ungroup"></i>
      </div>
      <div class="d-flex align-items-center justify-content-center pt-3 not-found-text flex-column">
        <h5 class="font-weight-light text-center text-justify">
          The module you are trying to access is currently disabled, for more information contact us
        </h5>
      </div>
    </div>
  </div>
</div>
