<div class="w-100 h-100">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 text-primary">
      Azure
    </h4>
  </div>
  <div class="card-body">
    <h6 class="font-weight-semibold mb-3">
      Create Event Hub and Account Storage
    </h6>
    <ol class="setup_list">
      <li>
        <p class="step-guide">
          <span class="step_number">1</span>
          Create event hub, using the official Azure documentation
          <a class="text-primary font-weight-semibold"
             href="https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-create"
             target="_blank">Quickstart: Create an event hub using Azure portal</a>
        </p>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">2</span>
          Create a new "Shared access policy" to allow access to the Event Hub created, make sure you select the
          "Listen" permission
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/evenhubaccesspolicy.png"
             width="800">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">3</span>
          Get the Event Hub connection string from "Shared access policy" created previously.
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/aacess_shared_policy.png"
             width="800">
        <br>
        <br>
        Sample connection string:
        <app-utm-code-view
          [allowCopy]="false"
          code="Endpoint=sb://utmstack.servicebus.windows.net/;SharedAccessKeyName=activity-log-read-only;SharedAccessKey=mm6AbDcEfj8lk7sjsbzoTJ10qAkiSaG663YykEAG2eg=;EntityPath=insights-operational-logs">
        </app-utm-code-view>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">4</span>
          Get the name of the event group in: Azure Portal-> Event Hub -> Consumer groups.
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/consumer_group.png"
             width="600">
        <div class="alert alert-info alert-styled-right mt-3">
          Create a new consumer group specifically for Logstash. Do not use the $default or any other consumer group
          that might already be in use. Reusing consumer groups among non-related consumers can cause unexpected
          behavior and possibly lost events. All Logstash instances should use the same consumer group so that they can
          work together for processing events.
        </div>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">5</span>
          Create a storage account using the official Azure documentation
          <a class="text-primary font-weight-semibold"
             href="https://docs.microsoft.com/en-us/azure/storage/common/storage-account-create?tabs=azure-portal"
             target="_blank">Quickstart: Create a storage account</a>
        </p>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">6</span>
          Get the container name in: Azure Portal-> Storage account -> Containers.
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/container_name.png"
             width="600">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">7</span>
          Get the connection string to access Azure storage account. Find the connection string here: Azure Portal->
          Blob Storage account -> Access keys.
        </p>

        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/account_storage.png"
             width="800">
        <div class="alert alert-info alert-styled-right mt-3">
          The offsets (position) of the Event Hubs are stored in the configured Azure Blob store. The Azure Blob store
          uses paths like a file system to store the offsets. If the paths between multiple Event Hubs overlap, then the
          offsets may be stored incorrectly.
        </div>
        <br>
        Sample connection string:
        <app-utm-code-view
          [allowCopy]="false"
          code="DefaultEndpointsProtocol=https;AccountName=logstash;AccountKey=ETOPnkd/hDAWidkEpPZDiXffQPku/SZdXhPSLnfqdRTalssdEuPkZwIcouzXjCLb/xPZjzhmHfwRCGo0SBSw==;EndpointSuffix=core.windows.net">
        </app-utm-code-view>
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">8</span>
          Configure your Azure Subscription to send log to the Event Hub. Go to Subscription and click on "Resource
          providers". Search for "Event Grid", and make sure is registered in the "Resources providers".
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/eventgrid.png"
             width="600">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">9</span>
          Create a new Event by clicking in the "Events" -> "Event Subscription"
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/eventsubs.png"
             width="600">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">10</span>
          Configure the "Event Subscription" to send logs to the Event Hub created previously.
        </p>
        <img alt="Azure portal" class="step-img"
             height="auto" src="../../../../assets/img/guides/azure/eventhubselection.png"
             width="600">
      </li>
      <li>
        <p class="step-guide">
          <span class="step_number">11</span>
          Use the data collected in the previous step to fill the form. You can add more than one Event Hub
          configuration by clicking on the Add tenant button.
        </p>

        <div class="row mt-3">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <app-int-generic-group-config [moduleId]="integrationId"
                                          (configValidChange)="configValidChange($event)"
                                          [serverId]="serverId"></app-int-generic-group-config>
          </div>
        </div>
      </li>
      <li>
        <p class="step-guide mb-3">
          <span class="step_number">12</span>
          Click on the button shown below, to activate the UTMStack features related to this integration
        </p>
        <app-app-module-activate-button [module]="module.AZURE"
                                        [disabled]="configValidity"
                                        [type]="'integration'" class="mt-3"
                                        [serverId]="serverId">
        </app-app-module-activate-button>
      </li>
    </ol>
  </div>
</div>

