:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
}

.visualization-builder {
  max-height: calc(75vh - 50px);
  height: calc(75vh - 50px);

  .visualization-chart-view {
    max-height: 400px;
    height: 400px;
    width: 600px;
    max-width: 600px;
  }

}

.metric-property-container {
  //max-height: calc(85vh - 50px);
  //height: calc(85vh - 50px);
  //overflow-y: auto;
}

.metric-data-container {
  background-color: #F5F7FA;
}

.data-visualization {
  //padding-left: 18%;
}

.property {
  .span-color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
  }
}

.builder-notifications {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 3;
}

app-utm-viewer {
  width: 100%;
}

.label-header {
  font-size: 12px;
  color: #495057 !important;
  background-color: #fff;
  border: 1px #dee2e6 solid;
  border-bottom: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  margin-bottom: -1px !important;
  font-weight: 500;
}

::ng-deep .metric-data-container app-code-editor {
  .monaco-editor {
    height: 250px !important;
    width: 100% !important;
  }

  .editor-container .execution-info{
    padding: 5px 0px !important;
    border-bottom: none !important;
  }
}
