.utm-box {
  position: relative;
  z-index: 1;

  .utm-box-label {
    position: absolute;
    top: -16px;
    left: 10px;
    z-index: 3;
    background: white;
  }
}

.limits {
  span {
    font-size: 20px !important;
  }
}
