<div [formGroup]="form" class="p-2">
  <!-- Index Pattern, Within and Count -->
  <div class="row g-2 mt-2 mb-3">
    <div class="col-md-5">
      <label for="indexPattern" class="fw-semibold text-secondary">Index Pattern</label>
      <ng-select
        formControlName="indexPattern"
        (change)="changeIndexPattern($event.pattern)"
        [items]="patterns$ | async"
        bindLabel="pattern"
        bindValue="pattern"
        [closeOnSelect]="true"
        [clearable]="false"
        class="w-100"
      ></ng-select>
    </div>
    <div class="col-md-5 form-group">
      <label class="small text-muted">Within (Time Range)</label>
      <input formControlName="within" class="form-control " placeholder="e.g. now-8h to now" />
    </div>
    <div class="col-md-2 form-group">
      <label class="small text-muted">Count</label>
      <input type="number"
             [ngClass]="{'is-invalid': form.get('count').invalid && form.get('count').touched}"
             formControlName="count" class="form-control" />

      <div class="invalid-feedback" *ngIf="form.get('count').touched && form.get('count').errors && form.get('count').errors['min']">
        Must be at least 1
      </div>
      <div class="invalid-feedback" *ngIf="form.get('count').touched && form.get('count').errors && form.get('count').errors['max']">
        Must not be greater than 50
      </div>
    </div>
  </div>

  <!-- Expressions -->
  <div formArrayName="with" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <label class="section-label">Conditions</label>
      <button
        type="button"
        class="btn btn-icon btn-sm btn-outline-primary"
        (click)="addExpression()"
        ngbTooltip="Add a new expression to this condition group">
        <i class="icon-plus2"></i>
        <span>Add</span>
      </button>

    </div>

    <div *ngFor="let expr of with.controls; let j = index"
      [formGroupName]="j"
      class="card border-light shadow-sm mb-3">
      <div class="card-body py-3 px-3">
        <div class="row g-3 align-items-end">
          <div class="col-md-4">
            <label class="form-label text-muted small">Field</label>
            <ng-select
              (change)="onFieldChange($event, j)"
              formControlName="field"
              [items]="fields"
              [addTag]="addField"
              bindLabel="name"
              bindValue="name"
              class="w-100"
              [searchable]="true"
              placeholder="Select field"
            ></ng-select>
          </div>

          <div class="col-md-3">
            <label class="form-label text-muted small">Operator</label>
            <ng-select
              formControlName="operator"
              [items]="getOperatorByField(expr.controls['field'].value)"
              bindLabel="label"
              bindValue="value"
              class="w-100"
              placeholder="Choose"
            ></ng-select>
          </div>

          <div class="col-md-4">
            <label class="form-label text-muted small">Value</label>
            <input
              formControlName="value"
              class="form-control "
              placeholder="Enter value"
            />
          </div>

          <div class="col-md-1 text-end">
            <button
              type="button"
              class="btn btn-link text-danger"
              (click)="removeExpression(j)"
              ngbTooltip="Remove">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div formArrayName="or" class="mb-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <label class="section-label">Or</label>
      <button
        type="button"
        class="btn btn-icon btn-sm btn-outline-primary"
        (click)="addOr()"
        ngbTooltip="Add new after-event"
      >
        <i class="icon-plus2"></i>
        <span>Add</span>
      </button>

    </div>

    <div *ngFor="let nested of or.controls; let k = index" class="card border shadow-sm mb-3">
      <div class="card-header bg-body-tertiary d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
          <i class="icon-calendar text-primary"></i>
        </div>
        <div class="d-flex gap-2">
          <button
            type="button"
            class="btn btn-icon btn-sm"
            (click)="removeOr(k)"
            ngbTooltip="Remove this event"
          >
            <i style="font-size: 0.75rem" class="icon-cross2"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-3">
        <app-after-event
          [form]="asFormGroup(or.at(k))"
          (remove)="removeOr(k)"
        ></app-after-event>
      </div>
    </div>
  </div>
</div>


