legend {
  width: auto;
  border-bottom: 0;
  font-size: .75rem;
  font-weight: 400;
}

.badge-actions {
  .small-icon {
    font-size: .60rem !important;
  }
}

fieldset {
  margin-bottom: 1rem;
}

.btn-danger .icon-trash,
.btn-close .icon-trash:before {
  font-size: 14px!important;
  color: white!important;
}

   .btn-outline-info {
     color: #4d5b6c;
   border-color: #dee2e6;
   background-color: transparent;

     &:hover,
     &:focus,
     &:active,
     &.active {
       color: #fff;
       background-color: #232f3e;
     border-color: #232f3e;
     }

     &.disabled,
     &:disabled {
       color: #b8daff;
       background-color: transparent;
       border-color: #b8daff;
     }
   }

.border-left {
  border-left: 1px solid rgba(222, 226, 230, 0.5) !important;
}



.card {
  border-radius: 0.5rem;
}

.card-body {
  background-color: #fcfcfc;
}

ng-select {
  font-size: 0.85rem;
}


.section-label{
  font-weight: 600;
  font-size: .75rem!important;
}

.icon-plus2 {
  font-size: .75rem!important;
}
