@import "theme";

.utm-icon-line {
  mask: url(src/assets/icons/utm/line-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/line-chart.svg) no-repeat center;
}

.utm-icon-area-line {
  mask: url(src/assets/icons/utm/area-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/area-chart.svg) no-repeat center;
}

.utm-icon-pie {
  mask: url(src/assets/icons/utm/pie-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/pie-chart.svg) no-repeat center;
}

.utm-icon-bar {
  mask: url(src/assets/icons/utm/bar-vertical-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/bar-vertical-chart.svg) no-repeat center;
}

.utm-icon-bar-horizontal {
  mask: url(src/assets/icons/utm/bar-horizontal-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/bar-horizontal-chart.svg) no-repeat center;
}

.utm-icon-wordcloud {
  mask: url(src/assets/icons/utm/tag-cloud.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/tag-cloud.svg) no-repeat center;
}

.utm-icon-table {
  mask: url(src/assets/icons/utm/table.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/table.svg) no-repeat center;
}

.utm-icon-gauge {
  mask: url(src/assets/icons/utm/gauge-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/gauge-chart.svg) no-repeat center;
}

.utm-icon-goal {
  mask: url(src/assets/icons/utm/goal-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/goal-chart.svg) no-repeat center;
}

.utm-icon-metric {
  mask: url(src/assets/icons/utm/metric.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/metric.svg) no-repeat center;
}

.utm-icon-heatmap {
  mask: url(src/assets/icons/utm/heatmap-chart.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/heatmap-chart.svg) no-repeat center;
}

.utm-icon-marker {
  mask: url(src/assets/icons/utm/marker.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/marker.svg) no-repeat center;
}

.utm-icon-text {
  mask: url(src/assets/icons/utm/text-format.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/text-format.svg) no-repeat center;
}


.utm-icon-region-map {
  mask: url(src/assets/icons/utm/region-map.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/region-map.svg) no-repeat center;
}

.event-icon {
  mask: url(src/assets/icons/utm/event-icon.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/event-icon.svg) no-repeat center;
}

.utm-icon-xs {
  width: 15px;
  height: 15px;
}

.utm-icon-md {
  width: 50px;
  height: 50px;
}

.utm-icon-lg {
  width: 120px;
  height: 120px;
}

.utm-icon-primary {
  background-color: $primary-color;
}

.utm-icon-white {
  background-color: $white-color;
}

.utm-icon-primary-opacity {
  background-color: rgba(0, 75, 139, 0.65);
}

.utm-icon-danger {
  background-color: $danger-color;
}

.utm-icon-success {
  background-color: $success-color;
}

.utm-icon-light {
  background-color: rgba(0, 75, 139, 0.30);
}

.close-modal-icon {
  width: 20px;
  height: 20px;
  background-color: #1a2225;
  mask: url(src/assets/icons/utm/_ionicons_svg_md-close.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/_ionicons_svg_md-close.svg) no-repeat center;
}

.close-icon {
  width: 20px;
  height: 20px;
  background-color: $grey-color;
  mask: url(src/assets/icons/utm/_ionicons_svg_md-close.svg) no-repeat center;
  -webkit-mask: url(src/assets/icons/utm/_ionicons_svg_md-close.svg) no-repeat center;
}


