<!--
<div [formGroup]="group">
  <div class="d-flex align-items-center justify-content-between">
    <label class="mb-0 section-label">Condition #{{ index + 1 }}</label>
    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeRuleCondition(i)">
      <i class="bi bi-x-lg"></i> Remove
    </button>
  </div>

  <div class="row align-items-end">
    <div class="col-md-4">
      <label class="form-label">Field</label>
      <ng-select
        [clearable]="false"
        [items]="alertFields"
        bindLabel="label"
        bindValue="field"
        [loading]="!alertFields"
        placeholder="Select field"
        formControlName="field"
        (change)="getValuesForField($event.field)">
      </ng-select>
    </div>

    <div class="col-md-2 text-center">
      <label class="form-label text-muted d-block">Operator</label>
      <span class="badge bg-light text-dark px-3 py-2">IS</span>
    </div>

    <div class="col-md-6">
      <label class="form-label">Value</label>
      <ng-select
        [items]="values$ | async"
        [loading]=""
        [addTag]="true"
        [clearable]="false"
        [hideSelected]="true"
        placeholder="Select or type a value"
        (scrollToEnd)="onScroll()"
        formControlName="value">
      </ng-select>
    </div>
  </div>
</div>

-->

<div [formGroup]="group" class="panel panel-default condition-block">
  <div class="panel-heading">
    <strong>🔗 Condition #{{ index + 1 }}</strong>
    <button type="button" class="btn btn-xs btn-danger pull-right" (click)="delete.emit(index)">
      <i class="glyphicon glyphicon-remove"></i> Remove
    </button>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <label>Field</label>
        <ng-select
          class="input-sm"
          [clearable]="false"
          [items]="filteredFields"
          bindLabel="name"
          bindValue="name"
          placeholder="Select field"
          formControlName="field"
          (search)="onSearch($event)"
          (change)="getValuesForField($event.name)">
        </ng-select>
      </div>
      <div class="col-sm-4">
        <label>Operator</label>
        <ng-select (click)="selectOperator($event)"
                   [clearable]="false"
                   [items]="operators"
                   (change)="onOperatorChange($event)"
                   [loadingText]="'Loading operators....'"
                   [loading]="!operators"
                   [searchable]="true"
                   bindLabel="operator"
                   bindValue="operator"
                   formControlName="operator"
                   id="operators">
        </ng-select>
      </div>
      <div *ngIf="applySelectFilter()" class="col-sm-4">
        <label>Value</label>
        <ng-select
          class="input-sm"
          [items]="values$ | async"
          [addTag]="true"
          [clearable]="false"
          [hideSelected]="true"
          placeholder="Select or type a value"
          formControlName="value"
          [multiple]="multiple"
          (scrollToEnd)="onScroll()">
        </ng-select>
      </div>
      <div *ngIf="!applySelectFilter()" class="col-sm-4">
        <div class="d-flex flex-column flex-grow-1" *ngIf="group.get('operator') && group.get('operator').valid && group.get('field').valid">
          <label class="pb-1" for="value">Value</label>
          <input class="form-control utm-input-text-font12" formControlName="value" id="value">
        </div>
      </div>
    </div>
  </div>
</div>


