<app-utm-modal-header [name]="'Color selection'" class="w-100"></app-utm-modal-header>
<div class="container-fluid p-3">
    <div *ngIf="!multiple"
         [ngStyle]="{'background':color}"
         class="card-color cursor-pointer mb-3">
    </div>
    <div *ngIf="multiple" [ngClass]="{'color-selected-container':colorSelected.length>8}"
         class="d-flex justify-content-start align-items-start flex-wrap w-100 mt-1 mb-3">
      <div (click)="activeSortingColors(color)"
           *ngFor="let color of colorSelected"
           [ngStyle]="{'background':color}" class="card-color cursor-pointer m-1">
          <span *ngIf="color === colorSelect" class="span card-selected">
            <i class="icon-check2"></i>
          </span>
      </div>
    </div>

  <div *ngIf="colorSelect" class="d-flex justify-content-center align-items-center p-2 mb-3">
    <span (click)="moveColorElement(1)" class="">
          <i class="icon-arrow-left32"></i>
     </span>

    <span (click)="deleteColor()" class="color-delete mr-3 ml-3">
          <i class="icon-cross2"></i>
     </span>

    <span (click)="moveColorElement(-1)" *ngIf="!isLastIndex()" class="">
          <i class="icon-arrow-right32"></i>
     </span>
  </div>

  <app-utm-search-input (searchFor)="searchColor($event)"
                        placeholder="Search color"></app-utm-search-input>

  <div class="card-color-container w-100 mt-3">
    <div *ngFor="let group of colors;let index = index" class="d-flex flex-column w-100 mt-2">
      <span class="font-weight-semibold">{{group.group}}</span>
      <div class="d-flex justify-content-start align-items-start  flex-wrap w-100 mt-1">
        <div (click)="selectColor(color)" *ngFor="let color of group.colors"
             [ngStyle]="{'background':color}"
             class="card-color cursor-pointer m-1">
          <span *ngIf="colorSelected.includes(color)" class="span card-selected">
            <i class="icon-check2"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container d-flex justify-content-end mt-4">
    <button (click)="activeModal.close()" class="btn utm-button utm-button-grey mr-3">
      <i class="color-cancel-circle2"></i>&nbsp;
      Cancel
    </button>
    <button (click)="emitColorSelect()"
            [disabled]="!colorSelected" class="btn utm-button utm-button-primary">
      <i class="color-new"></i>&nbsp;
      Select color
    </button>
  </div>
</div>
