name: Correlation Release

on:
  push:
    tags: [ 'v*' ]
    paths:
      - 'correlation/**'

jobs:
  docker:
    uses: ./.github/workflows/docker-golang.yml
    with:
      image_name: correlation
      environment: v10
      directory: correlation
      binary: correlation
      branch: rc