name: Correlation RC

on:
  push:
    branches: [ "rc" ]
    paths:
      - 'correlation/**'

jobs:
  docker:
    uses: ./.github/workflows/docker-golang.yml
    with:
      image_name: correlation
      environment: v10-rc
      directory: correlation
      binary: correlation
      branch: rc
