name: Correlation Dev

on:
  push:
    branches: [ "main" ]
    paths:
      - 'correlation/**'

jobs:
  docker:
    uses: ./.github/workflows/docker-golang.yml
    with:
      image_name: correlation
      environment: v10-dev
      directory: correlation
      binary: correlation
      branch: main
