name: O365 Dev

on:
  push:
    branches: [ "main" ]
    paths:
      - 'office365/**'

jobs:
  docker:
    uses: ./.github/workflows/docker-golang.yml
    with:
      image_name: office365
      environment: v10-dev
      directory: office365
      binary: o365_integration
      branch: main
