name: O365 QA

on:
  pull_request:
    branches: [ "rc" ]
    paths:
      - 'office365/**'

jobs:
  docker:
    uses: ./.github/workflows/docker-golang.yml
    with:
      image_name: office365
      environment: v10-qa
      directory: office365
      binary: o365_integration
      branch: main
