<div [ngClass]="{'card':!building}" [ngStyle]="{'width':width}" class="h-100 w-100 m-0">
  <div *ngIf="!building" class="card-header card-header-chart p-2 d-flex
   justify-content-between align-items-center bg-white">
    <label [ngbTooltip]="visualization.name"
           [openDelay]="3000" class="card-title label-header text-blue-800" container="body">
      {{visualization.name}}
    </label>
    <app-elastic-filter-time (timeFilterChange)="onTimeFilterChange($event)" *ngIf="showTime"
                             [container]="building?'body':'body'"
                             [defaultTime]="defaultTime"
                             [invertContent]="true">
    </app-elastic-filter-time>
  </div>

  <div *ngIf="data$ | async as data"
       [ngStyle]="{'height':height,'width':width}" class="card-body p-2 overflow-auto">
    <div *ngIf="runningChart"
         class="loading-chart h-100 w-100
                 d-flex justify-content-center
                 align-items-center">
      <app-utm-spinner [height]="'35px'" [loading]="runningChart" [width]="'35px'"
                       label="Loading chart">
      </app-utm-spinner>
    </div>
    <div *ngIf="(!data || data.length===0) && !runningChart"
         class="h-100 w-100">
      <app-no-data-chart [error]="error" [typeChart]="METRIC_CHART"></app-no-data-chart>
    </div>
    <div *ngIf="(data && data.length>0) && !runningChart"
         [ngStyle]="{'height':height}"
         class="d-flex justify-content-center align-items-center flex-wrap h-100 cursor-pointer">
      <app-kpi (click)="chartEvent(kpi)"
               *ngFor="let kpi of  kpis"
               [color]="kpi.color"
               [decimal]="kpi.decimal"
               [group]="kpi.group"
               [icon]="kpi.icon"
               [label]="kpi.label"
               [value]="kpi.value"
               class="cursor-pointer ml-4 mr-4"></app-kpi>
    </div>
  </div>
</div>
