<div class="w-100">
  <form [formGroup]="ldapForm" autocomplete="off">
    <ng-container *ngFor="let item of group.controls; let index=index">
      <ng-container formArrayName="group">
        <ng-container [formGroupName]="index">
          <div class="card mr-2 mb-2">
            <div class="card-header d-flex justify-content-between align-items-center">
              Active directory Group
              <span (click)="deleteLdapGroup(index)" class="cursor-pointer text-danger-300">
                <i class="icon-cross3"></i>
            </span>
            </div>
            <div class="card-body row m-0">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="pb-1 span-small-icon d-flex justify-content-between align-items-center"
                         for="">
            <span>
                <i [ngClass]="!group.at(index).get('host').valid?'text-danger':'text-success'"
                   [ngbTooltip]="'This param is required'"
                   class="icon-circle2 mr-1"
                   placement="auto"></i>
                Host
              </span>
                    <span>
          <i [ngbTooltip]="'LDAP host'"
             class="ml-2 text-primary icon-question3" placement="auto"></i>
      </span>
                  </label>
                  <input class="form-control"
                         formControlName="host"
                         autocomplete="off"
                         required type="text">
                  <small
                    *ngIf="!group.at(index).get('host').valid"
                    class="text-danger">
                    Host is invalid
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="pb-1 span-small-icon d-flex justify-content-between align-items-center"
                         for="conModule">
            <span>
                <i [ngClass]="!group.at(index).get('user_dn').valid?'text-danger':'text-success'"
                   [ngbTooltip]="'This param is required'"
                   class="icon-circle2 mr-1"
                   placement="auto"></i>
                User DN
              </span>
                    <span>
          <i [ngbTooltip]="'LDAP User DN'"
             class="ml-2 text-primary icon-question3" placement="auto"></i>
      </span>
                  </label>
                  <input class="form-control"
                         formControlName="user_dn"
                         autocomplete="off"
                         required type="text">
                  <small
                    *ngIf="!group.at(index).get('user_dn').valid"
                    class="text-danger">
                    User DN is invalid
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="pb-1 span-small-icon d-flex justify-content-between align-items-center"
                         for="">
            <span>
                <i [ngClass]="!group.at(index).get('password').valid?'text-danger':'text-success'"
                   [ngbTooltip]="'This param is required'"
                   class="icon-circle2 mr-1"
                   placement="auto"></i>
                Password
              </span>
                    <span>
                     <i [ngbTooltip]="'LDAP Password'"
                        class="ml-2 text-primary icon-question3" placement="auto"></i>
               </span>
                  </label>
                  <input class="form-control"
                         formControlName="password"
                         autocomplete="off"
                         required type="password">
                  <small
                    *ngIf="!group.at(index).get('password').valid"
                    class="text-danger">
                    Password is invalid
                  </small>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="pb-1 span-small-icon d-flex justify-content-between align-items-center"
                         for="">
            <span>
                <i [ngClass]="!group.at(index).get('search_base').valid?'text-danger':'text-success'"
                   [ngbTooltip]="'This param is required'"
                   class="icon-circle2 mr-1"
                   placement="auto"></i>
                Search base
              </span>
                    <span>
          <i [ngbTooltip]="'LDAP search base'"
             class="ml-2 text-primary icon-question3" placement="auto"></i>
      </span>
                  </label>
                  <input class="form-control"
                         formControlName="search_base"
                         id="search_base"
                         autocomplete="off"
                         required type="text">
                  <small
                    *ngIf="!group.at(index).get('search_base').valid"
                    class="text-danger">
                    Search base is invalid
                  </small>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </form>
  <div class="add-bucket-button d-flex justify-content-center mt-3 mb-3">
          <span (click)="addLdapGroup()"
                class="p-1 border-1 text-blue-800 border-blue-800 text-center rounded cursor-pointer">
                       Add AD Group
          </span>
    <button (click)="saveConfig()"
            [disabled]="!ldapForm.valid"
            class="btn utm-button utm-button-primary ml-3">
      <i [ngClass]="saving?'icon-spinner2 spinner':'icon-collaboration'" class="mr-1"></i>
      {{saving ? 'Saving...' : 'Save'}}
    </button>
  </div>
</div>
